Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: python tools/validation/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: python tools/validation/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest:
  name: pytest with coverage
  stages:
  - pre-commit
  language: system
  entry: zsh -c 'export ENVIRONMENT=testing && pytest -vv --cov=ichrisbirch'
  pass_filenames: false
  always_run: false

refactor: use __name__ for logger names
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/autotasks.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/box_packing.py
  ichrisbirch/api/endpoints/chat/chats.py
  ichrisbirch/api/endpoints/chat/messages.py
  ichrisbirch/api/endpoints/countdowns.py
  ichrisbirch/api/endpoints/events.py
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/api/endpoints/home.py
  ichrisbirch/api/endpoints/money_wasted.py
  ichrisbirch/api/endpoints/server.py
  ichrisbirch/api/endpoints/tasks.py
Due: pytest

build: add --fix flag for ruff check in pre-commit
  .pre-commit-config.yaml
Due: none

build: replace poetry with uv and black with ruff in pyproject
  pyproject.toml
Due: none

refactor: use __name__ for logger names
  ichrisbirch/app/routes/admin.py
  ichrisbirch/app/routes/apartments.py
  ichrisbirch/app/routes/articles.py
  ichrisbirch/app/routes/autotasks.py
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/routes/box_packing.py
  ichrisbirch/app/routes/chat.py
  ichrisbirch/app/routes/countdowns.py
  ichrisbirch/app/routes/events.py
  ichrisbirch/app/routes/habits.py
  ichrisbirch/app/routes/home.py
  ichrisbirch/app/routes/journal.py
  ichrisbirch/app/routes/money_wasted.py
  ichrisbirch/app/routes/tasks.py
  ichrisbirch/app/routes/users.py
  pyproject.toml
Due: pytest

style: update formatting
  tests/ichrisbirch/api/endpoints/chat/test_chats.py
  tests/ichrisbirch/api/endpoints/chat/test_messages.py
  tests/ichrisbirch/api/endpoints/test_admin.py
  tests/ichrisbirch/api/endpoints/test_books.py
  tests/ichrisbirch/api/test_api_error_handling.py
Due: pytest

test: stop frontend tests on first failure
  tests/ichrisbirch/frontend/conftest.py
Due: pytest

feat: use ssm params for settings
  ichrisbirch/config.py
Due: pytest

build: create docker compose for dev, test, prod
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

build: add dockerignore and update gitignore
  .dockerignore
  .gitignore
Due: none

ops: add copilot instructions for project
  .github/copilot-instructions.md
  .pre-commit-config.yaml
Due: validate-markdown-links

refactor(chat): create chat app to match app, api, scheduler
  ichrisbirch/chat/__init__.py
  ichrisbirch/chat/api.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/auth.py
  ichrisbirch/chat/main.py
  ichrisbirch/chat/redis_token_storage.py
Due: pytest

refactor(alembic): use regular settings and create_session instead of hardcoded session
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/370978067d9d_user_preferences_update_preferences_.py
  ichrisbirch/alembic/versions/3896b8bf14fa_add_ondelete_cascade_to_chat_messages_fk.py
  ichrisbirch/alembic/versions/68613547d7af_user_preferences_add_all_task_pages_.py
Due: pytest

test(api/articles): add mocking to test all article endpoints
  tests/ichrisbirch/api/endpoints/test_articles.py
Due: pytest

test(api/auth): add tests for new internal service auth
  tests/ichrisbirch/api/endpoints/test_auth.py
Due: pytest

test(api/autotasks): add json mode to pydantic model dump
  tests/ichrisbirch/api/endpoints/test_autotasks.py
Due: pytest

test(app/routes): rename test data utils
  tests/ichrisbirch/app/routes/test_auth.py
  tests/ichrisbirch/app/routes/test_countdowns.py
  tests/ichrisbirch/app/routes/test_events.py
  tests/ichrisbirch/app/routes/test_money_wasted.py
  tests/ichrisbirch/app/routes/test_tasks.py
Due: pytest

test(scheduler): add new args parameter to test jobs
  tests/test_data/books.py
  tests/test_data/scheduler.py
Due: pytest

build: replace poetry.lock with uv.lock
  poetry.lock
  uv.lock
Due: none

docs: create custom navigation for docs
  mkdocs.yml
  pyproject.toml
Due: none

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest: any of: \.py$
