Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest: any of: \.py$

ops: remove specific appliction logs from create script
  scripts/create_log_files.sh
Due: none

ops: replace poetry with uv in new server script
  scripts/new_server.sh
Due: none

ops: use __name__ for logger name
  scripts/postgres_backup.py
  scripts/postgres_restore.py
Due: pytest

test: separate test environment creation from conftest
  tests/conftest.py
  tests/environment.py
Due: generate-fixture-diagrams, pytest

refactor: use generic create_session instead of sessionlocal
  scripts/update_user_preferences_migration.py
Due: pytest

feat(ops): add script to validate markdown links
  tools/validation/__init__.py
  tools/validation/validate_markdown_links.py
Due: pytest

ops: update cli to use docker compose
  cli/ichrisbirch
Due: none

refactor(chat): add wsgi_chat to match other application entrypoints
  ichrisbirch/wsgi_chat.py
Due: pytest

refactor(jwt): pass in session to token handler
  ichrisbirch/api/jwt_token_handler.py
Due: pytest

feat(api): add forbidden custom exception
  ichrisbirch/api/exceptions.py
Due: pytest

feat(api/auth): add internal service auth, refactor to use fastapi dependency system
  ichrisbirch/api/endpoints/auth.py
Due: pytest

refactor(ai): pass in settings
  ichrisbirch/ai/assistants/openai.py
Due: pytest

refactor(scheduler): pass in settings
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/scheduler/main.py
  ichrisbirch/scheduler/postgres_snapshot_to_s3.py
Due: pytest

refactor(database): simplify session creation, use generic create_session
  ichrisbirch/database/initialization.py
  ichrisbirch/database/sqlalchemy/session.py
Due: pytest

refactor: use settings instead of get_settings for entrypoints
  ichrisbirch/wsgi_api.py
  ichrisbirch/wsgi_app.py
  ichrisbirch/wsgi_scheduler.py
Due: pytest

test(refactor): move test setup into utils directory
  tests/utils/__init__.py
  tests/utils/api_client.py
  tests/utils/app_client.py
  tests/utils/assertions.py
  tests/utils/database.py
  tests/utils/docker.py
Due: generate-fixture-diagrams, pytest

feat(api): use specific dependencies for users
  ichrisbirch/api/main.py
Due: pytest

feat(api): add api client for frontend
  ichrisbirch/api/client/__init__.py
  ichrisbirch/api/client/api.py
  ichrisbirch/api/client/auth.py
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/client/resource.py
  ichrisbirch/api/client/session.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/api/internal_auth.py
  ichrisbirch/api/service_account.py
  ichrisbirch/app/api_client.py
  ichrisbirch/app/login.py
  ichrisbirch/app/query_api.py
  ichrisbirch/app/routes/auth.py
Due: pytest

bugfix(test/scheduler: insert jobs in test scheduler to run tests
  ichrisbirch/scheduler/main.py
  tests/conftest.py
  tests/ichrisbirch/app/routes/test_scheduler.py
Due: generate-fixture-diagrams, pytest

test: add habits page tests and use test settings
  tests/ichrisbirch/frontend/fixtures.py
  tests/ichrisbirch/frontend/test_autotasks_page.py
  tests/ichrisbirch/frontend/test_countdowns_page.py
  tests/ichrisbirch/frontend/test_events_page.py
  tests/ichrisbirch/frontend/test_habits_page.py
  tests/ichrisbirch/frontend/test_tasks_page.py
Due: pytest
