Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

feat(cli): add icb recipes group with AI flows
  icb-cli/README.md
  icb-cli/internal/api/recipes.go
  icb-cli/internal/api/recipes_test.go
  icb-cli/internal/cli/recipes.go
  icb-cli/internal/cli/root.go
Due: validate-markdown-links

feat(cli): add --clear to cooking-techniques edit
  icb-cli/internal/api/cooking_techniques.go
  icb-cli/internal/api/cooking_techniques_test.go
  icb-cli/internal/cli/cooking_techniques.go
Due: none

fix(frontend): standardize on Node 24 / npm 11 to stop lockfile churn
  .github/workflows/validate-project.yml
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  frontend/.npmrc
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: add Test CLI job for the icb-cli Go module
  .github/workflows/validate-project.yml
  docs/cicd.md
Due: validate-markdown-links

feat(cli): target ichrisbirch.com (cookie-gated host) for auth
  icb-cli/internal/config/config.go
Due: none

feat!: retire the ichrisbirch MCP server
  deploy-containers/traefik/dynamic/prod/routing.yml
  docker-compose.app.yml
  ichrisbirch/mcp/__init__.py
  ichrisbirch/mcp/__main__.py
  ichrisbirch/mcp/server.py
  pyproject.toml
  scripts/deploy-homelab.sh
  tests/ichrisbirch/mcp/__init__.py
  tests/ichrisbirch/mcp/test_mcp_server.py
  uv.lock
Due: pytest-affected, pytest-full

docs: reflect MCP retirement and icb going live
  CLAUDE.md
  docs/blue-green-deployment.md
  docs/docker/docker-compose.md
  docs/project_layout.md
  docs/traefik-deployment.md
  docs/vue-frontend.md
  icb-cli/README.md
  icb-cli/internal/config/config.go
  ichrisbirch/api/endpoints/auth.py
Due: validate-markdown-links, pytest-affected, pytest-full

chore(secrets): remove orphaned ICHRISBIRCH_MCP_TOKEN
  secrets/secrets.prod.enc.env
Due: none

fix(icb-cli): guard token source against concurrent refresh
  icb-cli/Makefile
  icb-cli/internal/auth/flow.go
Due: none

feat(icb-cli): add `icb overview` composite command
  icb-cli/README.md
  icb-cli/internal/cli/overview.go
  icb-cli/internal/cli/overview_test.go
  icb-cli/internal/cli/root.go
  icb-cli/internal/cli/root_test.go
Due: validate-markdown-links

feat: link project items to a repo
  icb-cli/internal/api/project_items.go
  icb-cli/internal/cli/items.go
  ichrisbirch/alembic/versions/e6f7a8b9c0d1_add_repo_to_project_items.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/project_item.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

fix(icb-cli): decode repo on project-view items
  icb-cli/internal/api/projects.go
Due: none

feat(icb-cli)!: split overview's reading section into books and articles
  icb-cli/internal/cli/overview.go
  icb-cli/internal/cli/overview_test.go
Due: none

refactor(icb-cli): drop the remainder count from overview
  icb-cli/internal/cli/overview.go
Due: none

fix(icb-cli): collapse scraped article titles onto one line
  icb-cli/README.md
  icb-cli/internal/cli/overview.go
  icb-cli/internal/cli/overview_test.go
Due: validate-markdown-links

feat(habits): link a completion to the habit it completed
  icb-cli/internal/api/habits.go
  icb-cli/internal/cli/habits.go
  icb-cli/internal/cli/overview.go
  icb-cli/internal/cli/overview_test.go
  ichrisbirch/alembic/versions/f7a8b9c0d1e2_add_habit_id_to_habits_completed.py
  ichrisbirch/models/habitcompleted.py
  ichrisbirch/schemas/habitcompleted.py
  tests/ichrisbirch/api/endpoints/test_habits.py
Due: pytest-affected, pytest-full

fix(db): create the APScheduler jobstore table on initialization
  ichrisbirch/database/initialization.py
Due: pytest-affected, pytest-full

refactor: replace the CLI Makefile with a root Taskfile
  .github/workflows/validate-project.yml
  Taskfile.yml
  cli/Makefile
  cli/README.md
Due: validate-markdown-links

ci: publish CLI binaries on a cli/v* tag
  .github/workflows/release-cli.yml
Due: none

ci: build CLI release notes from commits, not PRs
  .github/workflows/release-cli.yml
Due: none

feat(cli)!: nest items under projects
  cli/README.md
  cli/internal/cli/items.go
  cli/internal/cli/projects.go
  cli/internal/cli/root.go
  cli/internal/cli/root_test.go
Due: validate-markdown-links

chore(precommit): group the custom hooks into ordered marker sections
  .pre-commit-config.yaml
  .stylelintrc.json
Due: none

fix(cli): install icb where PATH resolves it
  Taskfile.yml
Due: none

feat(cli): publish the module path and add an update command
  .github/workflows/release-cli.yml
  CLAUDE.md
  Taskfile.yml
  cli/go.mod
  cli/go.sum
  cli/internal/auth/flow.go
  cli/internal/auth/flow_test.go
  cli/internal/cli/articles.go
  cli/internal/cli/auth.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/books.go
  cli/internal/cli/client.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/root.go
  cli/internal/cli/root_test.go
  cli/internal/cli/tasks.go
  cli/internal/cli/update.go
  cli/main.go
Due: validate-markdown-links

fix(cli): resolve a GitHub token the way the installer does
  cli/internal/cli/update.go
Due: none

fix(ci): publish checksums the release asset names match
  .github/workflows/release-cli.yml
  cli/go.mod
  cli/go.sum
Due: none

fix(cli): update from a private repository
  cli/go.mod
  cli/go.sum
Due: none

feat(api): embed dependency ids and tasks in the item list
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/project_item.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

feat(cli): notify once a day when a newer release exists
  cli/go.mod
  cli/go.sum
  cli/internal/cli/root.go
  cli/internal/cli/update.go
Due: none

style(cli): apply gofumpt to a drifted file
  cli/internal/auth/flow.go
Due: none

docs: cross-reference schema and python standards
  CLAUDE.md
Due: validate-markdown-links

fix: shift siblings when reordering a project item
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/services/project_item_positions.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

fix(cli): interleave overview items so one project cannot fill the board
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
Due: none

chore(config): adopt the standard pyright section
  pyproject.toml
Due: none

fix(config): restore the settings the pyright sync deleted
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/chat/api.py
  pyproject.toml
Due: pytest-affected, pytest-full

chore(config): record the keys the pyproject sync owns
  pyproject.toml
Due: none

fix: widen mypy to the whole repo and fix what it finds
  .pre-commit-config.yaml
  scripts/ping_test.py
  scripts/seed/seeders/coffee.py
  tests/utils/docker.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

chore(toolchain): adopt the generated configs and CI
  .editorconfig
  .github/workflows/validate.yml
  .golangci.yml
  .markdownlint.json
  .pre-commit-config.yaml
  .shellcheckrc
  .sqlfluff
Due: none

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
