Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-html, pytest

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: local
    hooks:
      - id: git-secret
        name: Use git-secret to hide MY secrets
        stages: [commit]
        language: system
        entry: git-secret hide -m
        pass_filenames: false
        always_run: true

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
        args: ["-color", "-shellcheck="]

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.97.1
    hooks:
      - id: terraform_validate
      - id: terraform_tflint
      - id: terraform_fmt
      - id: terraform_docs
        args:
          - --args=--anchor=false
          - --args=--html=false

  - repo: https://github.com/python-poetry/poetry
    rev: 2.0.1
    hooks:
      - id: poetry-check
      - id: poetry-lock

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.5
    hooks:
      - id: docformatter
        args: ["--config", "pyproject.toml"]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8

  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--toml", "pyproject.toml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.2
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        args: [--fix]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
      #       args: ["--severity=warning"]  # Optionally only show errors and warnings

  - repo: https://github.com/dosisod/refurb
    rev: v2.0.0
    hooks:
      - id: refurb
        additional_dependencies: ["pydantic"]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        args:
          [
            "--config-file",
            "pyproject.toml",
            --install-types,
            --non-interactive,
          ]
        additional_dependencies: ["pydantic"]

  - repo: local
    hooks:
      - id: validate-html
        name: validate html against w3c standards
        stages: [commit]
        language: system
        entry: python scripts/validate_html.py
        types: [html]
        pass_filenames: true
        always_run: false

  - repo: local
    hooks:
      - id: pytest
        name: pytest with coverage
        stages: [commit]
        language: system
        entry: zsh -c 'export ENVIRONMENT=testing && pytest --cov=ichrisbirch'
        types: [python]
        pass_filenames: false
        always_run: false

feat(chat): update nginx config to forward chat.ichrisbirch.com
  deploy/deploy-nginx.sh
  deploy/dev/nginx/chat.conf
  deploy/prod/nginx/chat.conf
Due: none

feat(chat): update supervisor config to run streamlit chat app
  deploy/deploy-supervisor.sh
  deploy/dev/supervisor/chat.conf
  deploy/prod/supervisor/chat.conf
Due: none

fix(scripts): add -p flag to mkdir for creating log file directory
  scripts/create_log_files.sh
Due: none

feat(chat): add chat settings for dynamically getting chat url
  .dev.env.secret
  .gitsecret/paths/mapping.cfg
  .prod.env.secret
  .test.env.secret
  ichrisbirch/app/routes/chat.py
  ichrisbirch/chat/app.py
  ichrisbirch/config.py
Due: pytest

fix(chat): prod supervisor config was pointing to usr local
  deploy/prod/supervisor/chat.conf
Due: none

feat(chat): add route 53 record to direct chat.ichrisbirch.com to chat app
  terraform/README.md
  terraform/route53.tf
Due: none

ops(terraform): add debugging info to terraform check script
  scripts/terraform_infra_check.py
Due: pytest

docs: update terraform docs to add troubleshooting unexpected backend changes
  docs/terraform.md
Due: none

feat(chat): use template and embedded streamlit app instead of redirect to actual app
  ichrisbirch/app/routes/chat.py
  ichrisbirch/app/templates/chat/base.html
  ichrisbirch/app/templates/chat/index.html
Due: validate-html, pytest

feat(chat): add headless option to chat server supervisor script
  deploy/dev/supervisor/chat.conf
  deploy/prod/supervisor/chat.conf
Due: none

feat(cli): add dev runchat for development
  cli/ichrisbirch
Due: none

feat(cli): add runOnSave to streamlit dev server for hot reloading
  cli/ichrisbirch
Due: none

feat(chat): update styles and page for chat
  ichrisbirch/app/templates/chat/index.html
  ichrisbirch/chat/app.py
  ichrisbirch/chat/styles.css
Due: validate-html, pytest

fix: change misnmaned complete functions to update
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/box_packing.py
  ichrisbirch/api/endpoints/events.py
  ichrisbirch/api/endpoints/users.py
Due: pytest

feat(chat): create db migration for chat schema and tables
  ichrisbirch/alembic/versions/01d40de7ea0e_create_chat_chats_and_chat_messages_.py
Due: pytest

feat(chat): require chat name unique, add create_on to chat and message table
  ichrisbirch/alembic/versions/412471d3f20f_require_chat_name_unique_add_created_on_.py
Due: pytest

chat: change created_on to created_at, date to datetime, for ordering
  ichrisbirch/alembic/versions/0355fe5a7fc8_chat_change_created_on_to_created_at_.py
Due: pytest

feat(chat): add chat to app and api, models and schemas
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/chat/__init__.py
  ichrisbirch/api/endpoints/chat/chats.py
  ichrisbirch/api/endpoints/chat/messages.py
  ichrisbirch/api/main.py
  ichrisbirch/chat/_one_time_chat_load_20250202.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/chat_history.json
  ichrisbirch/config.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/chat.py
  ichrisbirch/models/chatmessage.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/chat.py
  ichrisbirch/schemas/chatmessage.py
Due: pytest

feat(chat): add chat to app and api, models and schemas
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/chat/__init__.py
  ichrisbirch/api/endpoints/chat/chats.py
  ichrisbirch/api/endpoints/chat/messages.py
  ichrisbirch/api/main.py
  ichrisbirch/chat/_one_time_chat_load_20250202.py
  ichrisbirch/chat/app.py
  ichrisbirch/config.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/chat.py
  ichrisbirch/models/chatmessage.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/chat.py
  ichrisbirch/schemas/chatmessage.py
Due: pytest

fix: ignore openai typing nonsense
  ichrisbirch/chat/app.py
Due: pytest

fix(chat): use relative path from project root to find custom stylesheet
  ichrisbirch/chat/app.py
Due: pytest
