Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

test(auth): add Playwright tests for login, signup, and logout flows
  tests/ichrisbirch/frontend/test_auth_page.py
Due: pytest-affected, pytest-full

fix(logging): write all log output to stderr instead of stdout
  ichrisbirch/logger.py
Due: pytest-affected, pytest-full

feat(articles): fix MCP create_article and add async bulk import via Redis
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/f7c621995378_add_article_failed_imports_table.py
  ichrisbirch/api/article_import_worker.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/main.py
  ichrisbirch/api/redis_client.py
  ichrisbirch/app/routes/articles.py
  ichrisbirch/app/templates/articles/bulk-add-results.html
  ichrisbirch/mcp/server.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/article.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/article.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/mcp/test_mcp_server.py
Due: validate-html, pytest-affected, pytest-full

feat(articles): strip tracking params from article URLs before storage
  ichrisbirch/api/article_import_worker.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/app/routes/articles.py
  ichrisbirch/util.py
  tests/ichrisbirch/test_util.py
Due: pytest-affected, pytest-full

feat(auth): add Authelia ForwardAuth header support to auth chain
  ichrisbirch/api/client/auth.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/app/login.py
Due: pytest-affected, pytest-full

fix(deploy): prune Docker build cache after successful deploys
  scripts/deploy-homelab.sh
Due: none

fix(deploy): fix fstrim flags in post-deploy cleanup
  scripts/deploy-homelab.sh
Due: none

feat(frontend): scaffold Vue 3 frontend for incremental Flask migration
  .gitignore
  docker-compose.dev.yml
  frontend/.prettierrc.json
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/e2e/.gitkeep
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/App.vue
  frontend/src/api/client.ts
  frontend/src/assets/sass/main.scss
  frontend/src/env.d.ts
  frontend/src/main.ts
  frontend/src/router.ts
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/stores/__tests__/countdowns.test.ts
  frontend/src/stores/auth.ts
  frontend/src/stores/countdowns.ts
  frontend/src/views/AdminView.vue
  frontend/src/views/ArticlesView.vue
  frontend/src/views/AutoTasksView.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/BoxPackingView.vue
  frontend/src/views/CountdownsView.vue
  frontend/src/views/EventsView.vue
  frontend/src/views/HabitsView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/MoneyWastedView.vue
  frontend/src/views/TasksView.vue
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  pyproject.toml
Due: validate-html

feat(frontend): add layout shell components for Vue migration Phase 1
  frontend/src/App.vue
  frontend/src/components/AppSidebar.vue
  frontend/src/components/NotificationToast.vue
  frontend/src/components/SubmitIssueButton.vue
  frontend/src/components/SubmitIssueModal.vue
  frontend/src/composables/__tests__/useNotifications.test.ts
  frontend/src/composables/useNotifications.ts
Due: none

feat(frontend): implement Countdowns page as Vue migration proof-of-concept
  frontend/e2e/countdowns.spec.ts
  frontend/src/composables/__tests__/useDaysLeft.test.ts
  frontend/src/composables/useDaysLeft.ts
  frontend/src/views/CountdownsView.vue
Due: none

feat(frontend): switch to path-based routing for incremental Vue migration
  docker-compose.dev.yml
  frontend/src/components/AppSidebar.vue
  frontend/vite.config.ts
Due: none

feat(frontend): harden Vue infrastructure with logging, error handling, and tests
  .pre-commit-config.yaml
  deploy-containers/traefik/dynamic/dev/middlewares.yml
  docker-compose.dev.yml
  frontend/e2e/countdowns.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/api/__tests__/errors.test.ts
  frontend/src/api/client.ts
  frontend/src/api/errors.ts
  frontend/src/assets/sass/main.scss
  frontend/src/components/AppSidebar.vue
  frontend/src/components/NotificationToast.vue
  frontend/src/stores/__tests__/countdowns.test.ts
  frontend/src/stores/countdowns.ts
  frontend/src/utils/__tests__/logger.test.ts
  frontend/src/utils/logger.ts
  frontend/src/views/CountdownsView.vue
  frontend/tsconfig.app.json
  ichrisbirch/api/main.py
Due: pytest-affected, pytest-full

docs: update documentation for hybrid Flask+Vue architecture
  CLAUDE.md
  docs/add_new_app.md
  docs/docker-development.md
  docs/docker/docker-compose.md
  docs/index.md
  docs/logging-configuration.md
  docs/project_layout.md
  docs/quick-start.md
  docs/testing/overview.md
  docs/testing/writing_tests.md
  docs/traefik-deployment.md
  docs/vue-frontend.md
  mkdocs.yml
Due: validate-markdown-links

docs: add updated svgs
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/test_writing_workflow.svg
  docs/images/generated/testing_overview.svg
Due: none

feat(frontend): migrate Events page from Flask to Vue 3
  docker-compose.dev.yml
  frontend/e2e/events.spec.ts
  frontend/src/components/AppSidebar.vue
  frontend/src/stores/__tests__/events.test.ts
  frontend/src/stores/events.ts
  frontend/src/views/EventsView.vue
Due: none

feat: add Durations feature for tracking long-term activities
  docker-compose.dev.yml
  frontend/e2e/durations.spec.ts
  frontend/src/api/client.ts
  frontend/src/assets/sass/main.scss
  frontend/src/composables/useElapsedTime.ts
  frontend/src/router.ts
  frontend/src/stores/__tests__/durations.test.ts
  frontend/src/stores/durations.ts
  frontend/src/views/DurationsView.vue
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/a1b2c3d4e5f6_add_durations_and_duration_notes_tables.py
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/durations.py
  ichrisbirch/api/main.py
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/main.scss
  ichrisbirch/app/static/sass/pages/_durations.scss
  ichrisbirch/models/__init__.py
  ichrisbirch/models/duration.py
  ichrisbirch/models/duration_note.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/duration.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_durations.py
  tests/test_data/__init__.py
  tests/test_data/durations.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

fix(frontend): use fixed positioning for submit issue button in Vue layout
  frontend/src/components/SubmitIssueButton.vue
Due: none

feat(frontend): replace topbar with sidebar toggle using bevel buttons
  frontend/src/App.vue
  frontend/src/components/AppSidebar.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/components/_buttons.scss
Due: none

feat(deploy): add Vue frontend service to production Docker Compose
  docker-compose.yml
  frontend/Dockerfile
Due: none

fix(traefik): add X-Request-ID to production CORS allowed headers
  deploy-containers/traefik/dynamic/prod/middlewares.yml
Due: none

feat(test): add Vue frontend service to test environment
  deploy-containers/traefik/dynamic/test/middlewares.yml
  docker-compose.test.yml
Due: none

feat(frontend): migrate Books page from Flask to Vue 3
  docker-compose.dev.yml
  docker-compose.yml
  frontend/e2e/books.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/api/client.ts
  frontend/src/components/AppSidebar.vue
  frontend/src/stores/__tests__/books.test.ts
  frontend/src/stores/books.ts
  frontend/src/views/BooksView.vue
Due: none

fix(deploy): use same-origin API proxy for Vue auth in production
  CLAUDE.md
  docker-compose.yml
Due: validate-markdown-links

fix(models): use Text instead of varchar for duration name and color columns
  ichrisbirch/alembic/versions/9297f72b9807_change_duration_name_and_color_columns_.py
  ichrisbirch/alembic/versions/a1b2c3d4e5f6_add_durations_and_duration_notes_tables.py
  ichrisbirch/models/duration.py
Due: pytest-affected, pytest-full

fix(tests): isolate bulk import tests from container worker via Redis db=1
  tests/ichrisbirch/api/endpoints/test_articles.py
Due: pytest-affected, pytest-full

feat(frontend): migrate AutoTasks page from Flask to Vue 3
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/src/components/AppSidebar.vue
  frontend/src/stores/__tests__/autotasks.test.ts
  frontend/src/stores/autotasks.ts
  frontend/src/views/AutoTasksView.vue
Due: none

fix(deploy): add explicit image tag to Vue production service
  docker-compose.yml
Due: none

fix(deploy): remove dead ACME resolver config from test compose
  docker-compose.test.yml
Due: none

fix(deploy): remove unnecessary router disable overrides from test Vue service
  docker-compose.test.yml
Due: none

fix(deploy): remove !override tag, add compose schema validation
  .pre-commit-config.yaml
  docker-compose.test.yml
Due: none

fix(hooks): use hadolint-docker instead of system binary
  .pre-commit-config.yaml
Due: none

fix(deploy): prevent dev rebuild from corrupting node:20-alpine base image
  .pre-commit-config.yaml
  docker-compose.dev.yml
Due: none

feat(tests): use alembic migrations instead of create_all
  ichrisbirch/alembic.ini
  ichrisbirch/alembic/env.py
  ichrisbirch/database/initialization.py
  ichrisbirch/database/reset_test_database.py
  tests/conftest.py
  tests/environment.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

refactor(models): convert TaskCategory enum to lookup table
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/147500c3d0b3_convert_taskcategory_enum_to_lookup_.py
  ichrisbirch/app/routes/autotasks.py
  ichrisbirch/app/routes/tasks.py
  ichrisbirch/gui/tasks_add.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/autotask.py
  ichrisbirch/models/task.py
  ichrisbirch/schemas/autotask.py
  ichrisbirch/schemas/task.py
  tests/factories/__init__.py
  tests/factories/autotasks.py
  tests/factories/tasks.py
  tests/factories/test_factories.py
  tests/ichrisbirch/api/endpoints/test_autotasks.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/ichrisbirch/api/test_api_error_handling.py
  tests/ichrisbirch/app/routes/test_autotasks.py
  tests/ichrisbirch/app/routes/test_tasks.py
  tests/ichrisbirch/frontend/test_autotasks_page.py
  tests/ichrisbirch/frontend/test_tasks_page.py
  tests/ichrisbirch/scheduler/test_jobs.py
  tests/ichrisbirch/schemas/test_task_schema.py
  tests/test_data/autotasks.py
  tests/test_data/tasks.py
Due: pytest-affected, pytest-full

refactor(models): convert BoxSize enum to lookup table
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/d28489933781_convert_boxsize_enum_to_lookup_table.py
  ichrisbirch/app/routes/box_packing.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/box.py
  ichrisbirch/schemas/box.py
  tests/factories/boxes.py
  tests/factories/test_factories.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxes.py
  tests/ichrisbirch/app/routes/test_box_packing.py
  tests/ichrisbirch/frontend/test_box_packing_page.py
  tests/test_data/boxes.py
Due: pytest-affected, pytest-full

refactor(models): convert AutoTaskFrequency enum to lookup table
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/e010f859f025_convert_autotaskfrequency_enum_to_.py
  ichrisbirch/app/routes/autotasks.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/autotask.py
  ichrisbirch/schemas/autotask.py
  tests/factories/autotasks.py
  tests/factories/test_factories.py
  tests/ichrisbirch/api/endpoints/test_autotasks.py
  tests/ichrisbirch/app/routes/test_autotasks.py
  tests/ichrisbirch/frontend/test_autotasks_page.py
  tests/ichrisbirch/models/test_autotask.py
  tests/ichrisbirch/scheduler/test_jobs.py
  tests/test_data/autotasks.py
Due: pytest-affected, pytest-full

refactor(migrations): squash to final baseline after enum removal
  ichrisbirch/alembic/versions/147500c3d0b3_convert_taskcategory_enum_to_lookup_.py
  ichrisbirch/alembic/versions/322f23065c61_baseline_schema.py
  ichrisbirch/alembic/versions/d28489933781_convert_boxsize_enum_to_lookup_table.py
  ichrisbirch/alembic/versions/e010f859f025_convert_autotaskfrequency_enum_to_.py
Due: pytest-affected, pytest-full

fix(deploy): handle alembic migration squash with stamp --purge
  scripts/deploy-homelab.sh
Due: none

Revert "fix(deploy): handle alembic migration squash with stamp --purge"
  scripts/deploy-homelab.sh
Due: none

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
