Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$

fix(tasks): fix date filtering and user preferences crashes in production
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/app/main.py
  ichrisbirch/app/templates/tasks/completed.html
  ichrisbirch/app/templates/tasks/index.html
  ichrisbirch/app/templates/tasks/search.html
  ichrisbirch/app/templates/tasks/todo.html
  ichrisbirch/models/user.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/ichrisbirch/app/routes/test_tasks.py
  tests/ichrisbirch/models/test_user.py
Due: validate-html, pytest-affected, pytest-full

feat(stats): complete event-sourced stats with snapshot generation
  stats/collectors/coverage.py
  stats/post_commit_collect.py
  stats/snapshot.py
Due: pytest-affected, pytest-full

fix(tests)!: make ephemeral testing containers default workflow
  .github/workflows/validate-project.yml
  CLAUDE.md
  cli/ichrisbirch
  docs/cicd.md
  docs/docker/docker-compose.md
  docs/testing/environment.md
  scripts/pre_commit_validations/pytest_affected.py
  tests/environment.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat(api-client): add proper exception handling to replace silent None returns
  ichrisbirch/api/client/__init__.py
  ichrisbirch/api/client/exceptions.py
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/app/routes/articles.py
  ichrisbirch/app/routes/auth.py
  ichrisbirch/app/routes/books.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_books.py
Due: pytest-affected, pytest-full

fix(habits): return 422 for invalid dates and add query parameter tests
  ichrisbirch/api/endpoints/habits.py
  tests/ichrisbirch/api/endpoints/test_habits.py
Due: pytest-affected, pytest-full

test(events): add attend endpoint and 404 error coverage
  tests/ichrisbirch/api/endpoints/test_events.py
Due: pytest-affected, pytest-full

test(countdowns): add partial update and 404 error coverage
  tests/ichrisbirch/api/endpoints/test_countdowns.py
Due: pytest-affected, pytest-full

test(books): add 404 error coverage for non-existent resources
  tests/ichrisbirch/api/endpoints/test_books.py
Due: pytest-affected, pytest-full

test(boxpacking): add limit, partial update, and 404 error coverage
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxes.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxitems.py
Due: pytest-affected, pytest-full

fix(boxpacking)!: remove id from PATCH request bodies
  ichrisbirch/schemas/box.py
  ichrisbirch/schemas/boxitem.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxes.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxitems.py
Due: pytest-affected, pytest-full

fix(boxpacking): align Flask route with API schema changes from 40ebe5e
  ichrisbirch/app/routes/box_packing.py
Due: pytest-affected, pytest-full

test(users): add limit parameter and 404 error coverage
  tests/ichrisbirch/api/endpoints/test_users.py
Due: pytest-affected, pytest-full

test(autotasks): add run endpoint and 404 error coverage
  tests/ichrisbirch/api/endpoints/test_autotasks.py
Due: pytest-affected, pytest-full

test(money_wasted): add 404 error coverage
  tests/ichrisbirch/api/endpoints/test_money_wasted.py
Due: pytest-affected, pytest-full

test(boxpacking): add comprehensive Flask route coverage
  tests/ichrisbirch/app/routes/test_box_packing.py
Due: pytest-affected, pytest-full

ci(gh-actions): add homelab deploy script to work with webhook installed on server
  .github/workflows/deploy-homelab.yml
Due: none

ci(gh-actions): remove ubuntu 22 from validation matrix
  .github/workflows/validate-project.yml
Due: none

fix(ci/gh-actions): deploy on master branch instead of main pending future branch rename
  .github/workflows/deploy-homelab.yml
Due: none

fix(ci/gh-actions): remove ubuntu 22 from testing matrix also
  .github/workflows/validate-project.yml
Due: none

refactor: switch from master to main branch
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-homelab.yml
  .github/workflows/sync-docs-code.yml
  .github/workflows/terraform-check.yml
  .github/workflows/validate-project.yml
  docs/cicd.md
  scripts/bootstrap-homelab.sh
Due: validate-markdown-links

refactor(logging): improve error handling and context across services
  ichrisbirch/app/main.py
  ichrisbirch/app/routes/auth.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/auth.py
  ichrisbirch/config.py
  ichrisbirch/database/initialization.py
  ichrisbirch/scheduler/jobs.py
Due: pytest-affected, pytest-full

feat(logging): migrate to structlog for better structured logging
  ichrisbirch/logger.py
  pyproject.toml
  uv.lock
Due: pytest-affected, pytest-full

feat(logging): add request tracing infrastructure with X-Request-ID
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/middleware.py
  ichrisbirch/app/middleware.py
  ichrisbirch/chat/app.py
Due: pytest-affected, pytest-full

feat(logging): migrate core modules and API endpoints to structlog
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/api/internal_auth.py
  ichrisbirch/api/jwt_token_handler.py
  ichrisbirch/api/main.py
  ichrisbirch/config.py
  ichrisbirch/database/initialization.py
  ichrisbirch/util.py
  tests/ichrisbirch/test_util.py
Due: pytest-affected, pytest-full

feat(logging): migrate additional API endpoints to structlog
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/endpoints/autotasks.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/box_packing.py
  ichrisbirch/api/endpoints/countdowns.py
  ichrisbirch/api/endpoints/events.py
  ichrisbirch/api/endpoints/money_wasted.py
  ichrisbirch/api/endpoints/server.py
  ichrisbirch/api/endpoints/users.py
Due: pytest-affected, pytest-full

feat(logging): complete API service migration to structlog
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/chat/chats.py
  ichrisbirch/api/endpoints/chat/messages.py
  ichrisbirch/api/endpoints/users.py
Due: pytest-affected, pytest-full

feat(logging): migrate App service to structlog (Phase 3)
  ichrisbirch/app/login.py
  ichrisbirch/app/main.py
  ichrisbirch/app/routes/auth.py
  ichrisbirch/logger.py
  tests/ichrisbirch/app/routes/test_auth.py
Due: pytest-affected, pytest-full

feat(logging): complete App service route migration to structlog
  ichrisbirch/app/routes/admin.py
  ichrisbirch/app/routes/apartments.py
  ichrisbirch/app/routes/articles.py
  ichrisbirch/app/routes/autotasks.py
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/routes/box_packing.py
  ichrisbirch/app/routes/chat.py
  ichrisbirch/app/routes/countdowns.py
  ichrisbirch/app/routes/events.py
  ichrisbirch/app/routes/habits.py
  ichrisbirch/app/routes/home.py
  ichrisbirch/app/routes/journal.py
  ichrisbirch/app/routes/money_wasted.py
  ichrisbirch/app/routes/tasks.py
  ichrisbirch/app/routes/users.py
Due: pytest-affected, pytest-full

feat(logging): complete Phase 3 structlog migration (Chat, Scheduler, GUI)
  ichrisbirch/ai/assistants/openai.py
  ichrisbirch/chat/api.py
  ichrisbirch/chat/auth.py
  ichrisbirch/chat/main.py
  ichrisbirch/chat/redis_token_storage.py
  ichrisbirch/gui/insights.py
  ichrisbirch/gui/tasks_add.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/scheduler/main.py
  ichrisbirch/scheduler/postgres_snapshot_to_s3.py
  ichrisbirch/schemas/event.py
  ichrisbirch/schemas/journal.py
Due: pytest-affected, pytest-full

feat(logging): add CLI JSON parsing and environment config for structlog (Phases 4-5)
  cli/ichrisbirch
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

feat(logging): restore file logging and GitHub Actions handling
  ichrisbirch/logger.py
Due: pytest-affected, pytest-full

fix(cli): fix service name suffix stripping in colored-logs
  cli/ichrisbirch
Due: none

refactor(logging): simplify to stdout-only architecture
  cli/ichrisbirch
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  ichrisbirch/logger.py
  tests/ichrisbirch/app/routes/test_auth.py
Due: pytest-affected, pytest-full

refactor(cli): extract stats module and optimize test workflow
  cli/health-check.sh
  cli/ichrisbirch
  cli/stats
Due: none

docs: update for structlog migration and CLI test workflow
  CLAUDE.md
  docs/cicd.md
  docs/cli-traefik-usage.md
  docs/index.md
  docs/logging-configuration.md
  docs/testing/environment.md
  docs/testing/persistent-logging.md
  docs/troubleshooting/testing-issues.md
Due: validate-markdown-links

refactor(logging): standardize structured logging patterns
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/endpoints/autotasks.py
  ichrisbirch/api/exceptions.py
  ichrisbirch/api/middleware.py
  ichrisbirch/app/login.py
  ichrisbirch/app/routes/auth.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/auth.py
Due: pytest-affected, pytest-full

refactor(scheduler): migrate postgres backup/restore to structlog
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/scheduler/postgres_backup_restore.py
  scripts/postgres_backup.py
  scripts/postgres_restore.py
Due: pytest-affected, pytest-full

fix(ci)!: enforce validation dependency in homelab deployment
  .github/workflows/deploy-homelab.yml
Due: none

fix(ci): remove undefined volume references in docker-compose.ci.yml
  docker-compose.ci.yml
Due: none

fix(ci): suppress shellcheck SC1091 for venv source in cd command
  cli/ichrisbirch
Due: none
