Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

chore(ci): regenerate the hooks and CI at toolchain stamp 38
  .github/workflows/validate.yml
  .golangci.yml
  .pre-commit-config.yaml
Due: none

chore: remove the desktop gui scripts and their tkinter dependencies
  CLAUDE.md
  ichrisbirch/gui/insights.py
  ichrisbirch/gui/tasks_add.py
  ichrisbirch/gui/utils.py
  pyproject.toml
  uv.lock
Due: validate-markdown-links, pytest-affected, pytest-full

chore: remove the Python API client and its documentation
  docs/api/client/auth.md
  docs/api/client/examples.md
  docs/api/client/index.md
  docs/api/client/migration.md
  docs/api/client/resources.md
  docs/api/client/session.md
  docs/api/client/summary.md
  docs/api/index.md
  frontend/src/api/errors.ts
  ichrisbirch/api/client/__init__.py
  ichrisbirch/api/client/api.py
  ichrisbirch/api/client/auth.py
  ichrisbirch/api/client/exceptions.py
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/client/resource.py
  ichrisbirch/api/client/session.py
  ichrisbirch/api/endpoints/box_packing.py
  ichrisbirch/services/outbound_http.py
  mkdocs.yml
Due: validate-markdown-links, pytest-affected, pytest-full

test: drive the event-loop test through httpx2, the client the app declares
  tests/ichrisbirch/api/test_blocking_calls_stay_off_the_event_loop.py
Due: pytest-affected, pytest-full

fix(ops): reach the production API through the bearer route
  docs/blue-green-deployment.md
  docs/cli-traefik-usage.md
  docs/docker/docker-quick-reference.md
  docs/homelab-deployment.md
  docs/traefik-deployment.md
  docs/troubleshooting/cli-commands.md
  ops/health-check.sh
  ops/icbops
  ops/lib/urls.sh
  tests/urls.bats
Due: validate-markdown-links

test(auth): name the fixture client without a machine name
  tests/ichrisbirch/api/test_authelia_headers.py
Due: pytest-affected, pytest-full

fix(ops): exit non-zero from prod apihealth when it never reached the API
  ops/icbops
  tests/icbops-prod-api.bats
Due: none

test(auth): drop cases kept only for the retired credentials
  tests/ichrisbirch/api/endpoints/test_users.py
  tests/ichrisbirch/api/test_authelia_headers.py
  tests/ichrisbirch/api/test_oidc_auth.py
Due: pytest-affected, pytest-full

test(frontend): check every admin-only service is hidden from other visitors
  frontend/src/config/homeLinks.ts
  frontend/src/views/HomeView.vue
  frontend/src/views/__tests__/HomeView.test.ts
Due: none

docs: correct descriptions the credential removal left false
  .env.example
  ichrisbirch/api/oidc_auth.py
  ichrisbirch/models/jwt_refresh_token.py
  ichrisbirch/models/personal_api_key.py
  ops/lib/urls.sh
Due: pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
