Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$

fix(cli): replace git rev-parse with pwd for project root detection
  cli/ichrisbirch
Due: none

fix(cli): resolve symlinks before computing project root
  cli/ichrisbirch
Due: none

build(deps): add uvicorn[standard] for WebSocket support
  pyproject.toml
  uv.lock
Due: none

feat(logger): add optional file logging for admin UI
  ichrisbirch/logger.py
Due: pytest-affected, pytest-full

build(docker): install PostgreSQL 16 client from official repo
  Dockerfile
Due: none

feat(api): add WebSocket log streaming with JWT cookie auth
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/main.py
  ichrisbirch/app/routes/auth.py
  tests/environment.py
  tests/ichrisbirch/api/endpoints/test_admin.py
Due: pytest-affected, pytest-full

feat(admin): enhance live logs UI with structlog support and multi-file reading
  ichrisbirch/app/routes/admin.py
  ichrisbirch/app/static/js/live_logs.js
  ichrisbirch/app/templates/admin/logs.html
Due: validate-html, pytest-affected, pytest-full

refactor(deploy-metal): align with main deploy and enhance dev workflow
  cli/ichrisbirch
  deploy-metal/docker-compose.dev.yml
  deploy-metal/docker-compose.test.yml
  deploy-metal/docker-compose.yml
Due: none

docs: add admin dashboard guide and update logging/testing docs
  docs/admin.md
  docs/cli-traefik-usage.md
  docs/logging-configuration.md
  docs/testing/environment.md
  docs/traefik-deployment.md
  mkdocs.yml
Due: validate-markdown-links

feat(backup): add database models for backup and restore history tracking
  .env.example
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/2e7c160befcf_add_backup_history_tables.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/backup_history.py
  ichrisbirch/models/backup_restore.py
Due: pytest-affected, pytest-full

feat(backup): add Pydantic schemas for backup operations
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/backup.py
Due: pytest-affected, pytest-full

feat(backup): enhance PostgresBackupRestore with comprehensive metadata tracking
  ichrisbirch/scheduler/postgres_backup_restore.py
Due: pytest-affected, pytest-full

feat(admin): add backup API endpoints
  ichrisbirch/api/endpoints/admin.py
Due: pytest-affected, pytest-full

feat(admin): add manual backup UI to Flask admin dashboard
  ichrisbirch/app/routes/admin.py
  ichrisbirch/app/static/sass/pages/_backups.scss
  ichrisbirch/app/templates/admin/backups.html
Due: validate-html, pytest-affected, pytest-full

feat(backup): add CLI commands and scheduler integration for backup history
  cli/ichrisbirch
  ichrisbirch/scheduler/jobs.py
Due: pytest-affected, pytest-full

test(backup): add comprehensive test suite for backup feature
  tests/ichrisbirch/api/endpoints/test_admin_backups.py
  tests/ichrisbirch/models/test_backup_history.py
  tests/ichrisbirch/schemas/test_backup_schema.py
Due: pytest-affected, pytest-full

refactor(backup): split backup/restore into focused modules with automatic persistence
  cli/ichrisbirch
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/database/backup.py
  ichrisbirch/database/restore.py
  ichrisbirch/scheduler/jobs.py
  scripts/backup_restore_loop.sh
  scripts/postgres_backup.py
  scripts/postgres_restore.py
Due: pytest-affected, pytest-full

fix(ci): switch mypy pre-commit hook from mirrors-mypy to local uv run
  .pre-commit-config.yaml
  ichrisbirch/database/backup.py
  ichrisbirch/database/restore.py
Due: pytest-affected, pytest-full

refactor(infra)!: rename Docker resources to icb-{env}-{service} pattern
  .github/workflows/validate-project.yml
  CLAUDE.md
  cli/health-check.sh
  cli/ichrisbirch
  deploy-metal/docker-compose.dev.yml
  deploy-metal/docker-compose.test.yml
  deploy-metal/docker-compose.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  docs/cicd.md
  docs/cli-traefik-usage.md
  docs/docker-development.md
  docs/docker/docker-compose.md
  docs/homelab-deployment.md
  docs/logging-configuration.md
  docs/nginx-to-traefik-migration-complete.md
  docs/quick-start.md
  docs/testing/environment.md
  docs/testing/persistent-logging.md
  docs/traefik-deployment.md
  docs/troubleshooting/testing-issues.md
  scripts/bootstrap-homelab.sh
  tests/environment.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(app): handle API errors gracefully in Flask-Login load_user
  ichrisbirch/app/login.py
  tests/ichrisbirch/app/test_login.py
Due: pytest-affected, pytest-full

fix(backup): fix column truncation and add comprehensive test suite
  cli/ichrisbirch
  docs/backups.md
  ichrisbirch/alembic/versions/ebb7845c26d9_fix_column_sizes_use_text_for_postgres_.py
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/database/backup.py
  ichrisbirch/database/reset_test_database.py
  ichrisbirch/database/restore.py
  ichrisbirch/models/backup_history.py
  ichrisbirch/models/user.py
  ichrisbirch/schemas/backup.py
  pyproject.toml
  tests/environment.py
  tests/ichrisbirch/api/endpoints/test_admin_backups.py
  tests/ichrisbirch/app/routes/test_backups.py
  tests/ichrisbirch/database/__init__.py
  tests/ichrisbirch/database/test_backup.py
  tests/ichrisbirch/database/test_restore.py
  tests/ichrisbirch/schemas/test_backup_schema.py
  uv.lock
Due: validate-markdown-links, pytest-affected, pytest-full

fix(devstats): align hook configs with pre-commit and parallelize execution
  stats/hooks/bandit.py
  stats/hooks/codespell.py
  stats/hooks/mypy.py
  stats/pre_commit_capture.py
Due: pytest-affected, pytest-full

feat(cli): enhance stats tests with comprehensive test suite visualization
  cli/stats
Due: none

fix(api): handle null JSON responses in LoggingResourceClient
  ichrisbirch/api/client/logging_client.py
  tests/ichrisbirch/api/endpoints/chat/test_chats.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/app/routes/test_articles.py
Due: pytest-affected, pytest-full

feat(deploy): add homelab deployment script with automated migrations
  scripts/deploy-homelab.sh
Due: none

fix(deploy): move log file to application directory
  scripts/deploy-homelab.sh
Due: none

fix(app): center-align checkbox labels in backup create form
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/pages/_backups.scss
Due: none

feat(cli): add SCSS compilation commands and pre-commit hook
  .pre-commit-config.yaml
  cli/ichrisbirch
Due: none

refactor(devstats): reorganize pre-commit config into 5 logical phases
  .pre-commit-config.yaml
  ichrisbirch/app/static/css/main.css
Due: none

refactor(app): remove obsolete vendor prefixes for user-select
  ichrisbirch/app/static/sass/pages/_apartments.scss
Due: none

refactor(app): replace SCSS star imports with explicit namespaces
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/components/_buttons.scss
  ichrisbirch/app/static/sass/components/_checkboxes.scss
  ichrisbirch/app/static/sass/components/_loading.scss
  ichrisbirch/app/static/sass/components/_submit_issue.scss
  ichrisbirch/app/static/sass/layout/_forms.scss
  ichrisbirch/app/static/sass/main.scss
  ichrisbirch/app/static/sass/pages/_box_packing.scss
  ichrisbirch/app/static/sass/pages/_habits.scss
  ichrisbirch/app/static/sass/pages/_home.scss
  ichrisbirch/app/static/sass/pages/_serverstats.scss
Due: none

fix(app): configure FontAwesome v7 font path for icon display
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/main.scss
Due: none

fix(app): ensure background color covers full viewport and scrollable area
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/base/_base.scss
Due: none

refactor(app): consolidate backup form to use standard components
  cli/ichrisbirch
  ichrisbirch/app/static/css/main.css
Due: none

refactor(app): use standard form components for backup page and fix body styling
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/base/_base.scss
  ichrisbirch/app/static/sass/pages/_backups.scss
  ichrisbirch/app/templates/admin/backups.html
Due: validate-html

refactor(docker): consolidate service images using YAML anchors
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

feat(deploy): add structured JSON logging and Slack notifications to deployment script
  scripts/bash-lib/logging.sh
  scripts/deploy-homelab.sh
Due: none

feat(scheduler): add weekly Docker image cleanup job
  ichrisbirch/scheduler/jobs.py
Due: pytest-affected, pytest-full
