Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

chore(precommit): regenerate from the standard blocks
  .pre-commit-config.yaml
Due: none

feat(api): type every time field by kind and read days in the user's zone
  docs/testing/test_data.md
  ichrisbirch/alembic/versions/f5a6b7c8d9e0_habit_completion_is_a_day.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/api/request_zone.py
  ichrisbirch/models/habitcompleted.py
  ichrisbirch/models/user.py
  ichrisbirch/schemas/article.py
  ichrisbirch/schemas/event.py
  ichrisbirch/schemas/habitcompleted.py
  ichrisbirch/schemas/iana_zone.py
  ichrisbirch/schemas/pattern.py
  ichrisbirch/schemas/scheduler.py
  ichrisbirch/schemas/task.py
  ichrisbirch/schemas/user.py
  ichrisbirch/schemas/wall_clock.py
  ichrisbirch/services/date_bounds.py
  ichrisbirch/services/habit_day.py
  scripts/seed/seeders/habits.py
  tests/factories/articles.py
  tests/factories/books.py
  tests/factories/habits.py
  tests/factories/tasks.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_date_bounded_reads.py
  tests/ichrisbirch/api/endpoints/test_habits.py
  tests/ichrisbirch/api/test_request_zone.py
  tests/ichrisbirch/models/test_user.py
  tests/ichrisbirch/schemas/test_task_schema.py
  tests/ichrisbirch/schemas/test_time_fields_match_their_columns.py
  tests/ichrisbirch/schemas/test_user_schema.py
  tests/ichrisbirch/services/test_date_bounds.py
  tests/ichrisbirch/services/test_habit_day.py
  tests/test_data/articles.py
  tests/test_data/habitcategories.py
  tests/test_data/tasks.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(scheduler): run the overnight jobs on the admin's calendar
  docs/scheduler.md
  ichrisbirch/models/autotask.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/scheduler/main.py
  tests/factories/autotasks.py
  tests/factories/test_factories.py
  tests/ichrisbirch/models/test_autotask.py
  tests/ichrisbirch/scheduler/test_jobs.py
  tests/test_data/autotasks.py
  tests/test_data/scheduler.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat(vue): show every date in the user's zone and send days as days
  frontend/src/App.vue
  frontend/src/api/types.ts
  frontend/src/components/DatePicker.vue
  frontend/src/components/dashboard/WidgetCountdowns.vue
  frontend/src/components/events/AddEditEventModal.vue
  frontend/src/components/tasks/CompletedChart.vue
  frontend/src/components/tasks/taskUtils.ts
  frontend/src/composables/__tests__/calendarDay.test.ts
  frontend/src/composables/__tests__/dateFilters.test.ts
  frontend/src/composables/__tests__/displayZone.test.ts
  frontend/src/composables/__tests__/formatDate.test.ts
  frontend/src/composables/__tests__/useDaysLeft.test.ts
  frontend/src/composables/calendarDay.ts
  frontend/src/composables/dateFilters.ts
  frontend/src/composables/displayZone.ts
  frontend/src/composables/formatDate.ts
  frontend/src/composables/useDaysLeft.ts
  frontend/src/composables/useElapsedTime.ts
  frontend/src/composables/useStatsCharts.ts
  frontend/src/composables/zoneOptions.ts
  frontend/src/stores/__tests__/habits.test.ts
  frontend/src/stores/habits.ts
  frontend/src/views/DurationsStatsView.vue
  frontend/src/views/EventsView.vue
  frontend/src/views/HabitsCompletedView.vue
  frontend/src/views/ProfileView.vue
  frontend/src/views/TasksStatsView.vue
  frontend/src/views/TasksView.vue
  frontend/src/views/__tests__/EventsView.test.ts
  frontend/src/views/__tests__/HabitsViews.test.ts
Due: none

fix(cli): read and print days on this machine's calendar
  cli/README.md
  cli/internal/api/articles.go
  cli/internal/api/date_bounds.go
  cli/internal/api/habits.go
  cli/internal/api/habits_test.go
  cli/internal/api/tasks_test.go
  cli/internal/cli/articles.go
  cli/internal/cli/articles_test.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/habits.go
  cli/internal/cli/habits_test.go
  cli/internal/cli/items.go
  cli/internal/cli/localzone.go
  cli/internal/cli/localzone_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  cli/internal/cli/projects.go
  cli/internal/cli/tasks.go
Due: validate-markdown-links

docs: state the time kinds and the zone each layer reads days in
  CLAUDE.md
  docs/project_layout.md
Due: validate-markdown-links

chore(precommit): remove the djLint hooks the Flask templates left behind
  .pre-commit-config.yaml
Due: none

chore(ci): regenerate from the standard blocks
  .github/workflows/validate.yml
Due: none

fix(db): add the habit completion day beside the moment instead of retyping it
  ichrisbirch/alembic/versions/f5a6b7c8d9e0_habit_completion_day_column.py
  ichrisbirch/alembic/versions/f5a6b7c8d9e0_habit_completion_is_a_day.py
  ichrisbirch/models/habitcompleted.py
  tests/ichrisbirch/models/test_habitcompleted.py
  tests/ichrisbirch/schemas/test_time_fields_match_their_columns.py
Due: pytest-affected, pytest-full

fix(api): read a date bound with no offset in the request zone
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/services/date_bounds.py
  tests/ichrisbirch/api/endpoints/test_date_bounded_reads.py
  tests/ichrisbirch/services/test_date_bounds.py
Due: pytest-affected, pytest-full

refactor(cli): pass date bounds as parameters rather than a struct
  cli/internal/api/articles.go
  cli/internal/api/articles_test.go
  cli/internal/api/books.go
  cli/internal/api/books_test.go
  cli/internal/api/date_bounds.go
  cli/internal/api/habits.go
  cli/internal/api/list_query.go
  cli/internal/api/project_items.go
  cli/internal/api/projects.go
  cli/internal/api/projects_test.go
  cli/internal/api/repo_filter_test.go
  cli/internal/api/row_limit_test.go
  cli/internal/api/tasks.go
  cli/internal/api/tasks_test.go
  cli/internal/cli/articles.go
  cli/internal/cli/books.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/overview.go
  cli/internal/cli/projects.go
  cli/internal/cli/tasks.go
  cli/internal/cli/tree.go
  docs/add_new_app.md
Due: validate-markdown-links

fix(vue): count dashboard durations in calendar days and keep every zone pickable
  frontend/src/components/dashboard/WidgetDurations.vue
  frontend/src/components/events/AddEditEventModal.vue
  frontend/src/composables/__tests__/zoneOptions.test.ts
  frontend/src/composables/zoneOptions.ts
  frontend/src/views/ProfileView.vue
  frontend/src/views/__tests__/WidgetDurations.test.ts
Due: none

test(api): assert the admin router refuses a non-admin and admits an admin
  tests/ichrisbirch/api/test_api_error_handling.py
Due: pytest-affected, pytest-full

refactor(cli): give each date bound slot its own type
  cli/internal/api/articles.go
  cli/internal/api/books.go
  cli/internal/api/books_test.go
  cli/internal/api/habits.go
  cli/internal/api/habits_test.go
  cli/internal/api/list_query.go
  cli/internal/api/project_items.go
  cli/internal/api/projects.go
  cli/internal/api/tasks.go
  cli/internal/cli/articles.go
  cli/internal/cli/books.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/tasks.go
Due: none

docs: a column's type changes through a new column and a trigger
  CLAUDE.md
  docs/blue-green-deployment.md
Due: validate-markdown-links

docs(cli): say where an unnamed zone falls back and what a pick ignores
  cli/internal/api/articles.go
  cli/internal/api/habits.go
  cli/internal/api/list_query.go
  cli/internal/api/projects.go
  cli/internal/cli/articles.go
  cli/internal/cli/articles_test.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/localzone_test.go
  cli/internal/cli/tasks.go
Due: none

docs(vue): drop the claim that Intl lists every zone the API accepts
  frontend/src/components/events/AddEditEventModal.vue
  frontend/src/components/tasks/CompletedChart.vue
  frontend/src/composables/__tests__/calendarDay.test.ts
  frontend/src/composables/dateFilters.ts
  frontend/src/composables/displayZone.ts
  frontend/src/stores/__tests__/habits.test.ts
  frontend/src/views/__tests__/AddEditEventModal.test.ts
  frontend/src/views/__tests__/EventsView.test.ts
Due: none

docs: name the failure a retyped column causes and the zone a bound takes
  CLAUDE.md
  docs/blue-green-deployment.md
  docs/scheduler.md
  ichrisbirch/alembic/versions/f5a6b7c8d9e0_habit_completion_day_column.py
  ichrisbirch/schemas/habitcompleted.py
  ichrisbirch/schemas/iana_zone.py
  ichrisbirch/schemas/wall_clock.py
  ichrisbirch/services/date_bounds.py
  tests/ichrisbirch/api/endpoints/test_date_bounded_reads.py
  tests/ichrisbirch/api/endpoints/test_habits.py
  tests/ichrisbirch/services/test_date_bounds.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(scheduler): count an autotask's due days from its first run
  docs/scheduler.md
  ichrisbirch/models/autotask.py
  scripts/seed/seeders/autotasks.py
  tests/factories/autotasks.py
  tests/ichrisbirch/models/test_autotask.py
  tests/ichrisbirch/scheduler/test_jobs.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(cli): send --last-read as an instant read on the machine's clock
  cli/internal/cli/articles.go
  cli/internal/cli/articles_test.go
Due: none

fix(vue): count a task's time to complete in calendar days
  frontend/src/components/tasks/__tests__/taskUtils.test.ts
  frontend/src/components/tasks/taskUtils.ts
  frontend/src/stores/__tests__/tasks.test.ts
  frontend/src/stores/tasks.ts
Due: none

fix(vue): make Last 7 and Last 30 cover seven and thirty days
  frontend/src/composables/__tests__/dateFilters.test.ts
  frontend/src/composables/dateFilters.ts
Due: none

test: fail a bounded read over an instant column that takes no zone
  CLAUDE.md
  tests/ichrisbirch/api/endpoints/test_date_bounded_reads.py
Due: validate-markdown-links, pytest-affected, pytest-full

test: require each read exempt from the zone to be seen without it
  tests/ichrisbirch/api/endpoints/test_date_bounded_reads.py
Due: pytest-affected, pytest-full

docs(deploy): drop the retype example that told the migration's history
  docs/blue-green-deployment.md
Due: validate-markdown-links

fix(api): check a zone name against the IANA list, not the host's files
  ichrisbirch/schemas/iana_zone.py
  pyproject.toml
  tests/ichrisbirch/models/test_user.py
  uv.lock
Due: pytest-affected, pytest-full

feat(db): drop the habit completion moment column and its trigger
  ichrisbirch/alembic/versions/a6b7c8d9e0f1_drop_habit_completion_moment.py
  ichrisbirch/models/habitcompleted.py
  tests/ichrisbirch/models/test_habitcompleted.py
Due: pytest-affected, pytest-full

chore(precommit): regenerate from the standard blocks
  .markdownlint.yaml
  .pre-commit-config.yaml
Due: none

chore(ci): regenerate from the standard blocks
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-project.yml
  .github/workflows/release-cli.yml
  .github/workflows/release.yml
  .github/workflows/reusable-retrieve-webserver-key-and-ip.yml
  .github/workflows/sync-docs-code.yml
  .github/workflows/terraform-check.yml
  .github/workflows/validate.yml
Due: none

ci: read the Python version from .python-version
  .github/workflows/deploy-docs.yml
  .github/workflows/sync-docs-code.yml
  .github/workflows/terraform-check.yml
Due: none

feat(terraform): grant Step Functions and Logs for everyday AWS work
  terraform/iam.tf
Due: none

docs(claude): drop the claim that the app backs up to S3
  CLAUDE.md
Due: validate-markdown-links

feat(terraform): give the account owner read access to costs and services
  terraform/README.md
  terraform/iam.tf
Due: validate-markdown-links

feat(terraform): grant KMS, EventBridge and Scheduler for deploys and dev
  terraform/iam.tf
Due: none

fix(bootstrap): drop the AWS CLI and SSM steps from the homelab setup
  docs/homelab-deployment.md
  ichrisbirch/database/initialization.py
  scripts/bootstrap-homelab.sh
Due: validate-markdown-links, pytest-affected, pytest-full

refactor(terraform): read the account's IAM by name instead of owning it
  .github/workflows/reusable-retrieve-webserver-key-and-ip.yml
  .github/workflows/terraform-check.yml
  docs/terraform.md
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/backend.tf
  terraform/iam.tf
  terraform/imports.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/providers.tf
  terraform/versions.tf
Due: validate-markdown-links

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
