Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$

test: verify hooks run once
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Revert "test: verify hooks run once"
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(pre-commit): add default_stages to prevent hooks running twice
  .pre-commit-config.yaml
Due: none

refactor(config): remove global settings, use explicit dependency injection
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/test_writing_workflow.svg
  docs/images/generated/testing_overview.svg
  ichrisbirch/alembic/env.py
  ichrisbirch/api/client/api.py
  ichrisbirch/api/client/auth.py
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/client/session.py
  ichrisbirch/api/internal_auth.py
  ichrisbirch/chat/app.py
  ichrisbirch/config.py
  ichrisbirch/database/session.py
  ichrisbirch/gui/insights.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/scheduler/main.py
  ichrisbirch/scheduler/postgres_snapshot_to_s3.py
  ichrisbirch/wsgi_api.py
  ichrisbirch/wsgi_app.py
  ichrisbirch/wsgi_scheduler.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

feat(stats): add timing logs for capture and collect scripts
  .gitignore
  stats/post_commit_collect.py
  stats/pre_commit_capture.py
Due: pytest-affected, pytest-full

chore(git): remove chat_history.json from version control
  .gitignore
Due: none

chore(ci): upgrade workflows to Python 3.13 and standardize YAML formatting
  .github/workflows/terraform-check.yml
  .github/workflows/validate-project.yml
Due: none

fix(ci): resolve MkDocs plugin registration for docs deployment
  .github/workflows/deploy-docs.yml
  pyproject.toml
  tools/docs/mkdocs_code_sync_plugin.py
Due: pytest-affected, pytest-full

fix(ci): resolve pytest failures in validate-project workflow
  .github/workflows/validate-project.yml
  docker-compose.ci.yml
  tests/environment.py
Due: pytest-affected, pytest-full

fix(ci): start scheduler container to create apscheduler_jobs table
  .github/workflows/validate-project.yml
Due: none

docs(ci): document CI/CD pipeline and Docker Compose architecture
  docs/cicd.md
  docs/docker/docker-compose.md
  docs/testing/environment.md
Due: validate-markdown-links

fix(docker): add healthchecks, fix port conflicts, sync compose files
  .pre-commit-config.yaml
  Dockerfile
  deploy-metal/docker-compose.dev.yml
  deploy-metal/docker-compose.test.yml
  deploy-metal/docker-compose.yml
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  ichrisbirch/app/routes/home.py
Due: pytest-affected, pytest-full

fix(docs): resolve mkdocs build issues
  docs/docker-compose.md
  docs/docker-quick-reference.md
  docs/docker.md
  docs/documentation_tools.md
  docs/troubleshooting/index.md
  mkdocs.yml
Due: validate-markdown-links

fix(docs): prevent code sync plugin from processing nested code blocks
  docs/documentation_tools.md
  mkdocs_plugins/code_sync/tests/test_code_sync.py
  mkdocs_plugins/code_sync/tool.py
Due: validate-markdown-links, pytest-affected, pytest-full

refactor(stats): improve CLI stats commands with real-time data and trends
  cli/ichrisbirch
  stats/collectors/tokei.py
Due: pytest-affected, pytest-full

fix(traefik): upgrade to v3.6 and fix TLS config for Docker 29 compatibility
  deploy-containers/traefik/dynamic/tls-dev.yml
  docker-compose.dev.yml
  docker-compose.test.yml
Due: none

fix(database): use get_settings() instead of Settings() directly
  ichrisbirch/database/initialization.py
Due: pytest-affected, pytest-full

feat(config): make Flask session cookie settings configurable
  ichrisbirch/config.py
Due: pytest-affected, pytest-full

feat(prod): configure Traefik for Cloudflare Tunnel deployment
  docker-compose.yml
Due: none

feat(cli): use git rev-parse for project root, add SSM secrets for prod
  cli/ichrisbirch
Due: none

docs: add homelab deployment guide, update production references
  docs/cli-traefik-usage.md
  docs/homelab-deployment.md
  docs/index.md
  docs/quick-start.md
  docs/traefik-deployment.md
Due: validate-markdown-links

fix(prod): route root domain and www to Flask app instead of app subdomain
  docker-compose.yml
Due: none

feat(prod)!: centralize SSM secret loading and fix production health checks
  cli/ichrisbirch
  deploy-containers/traefik/scripts/health-check.sh
Due: none

refactor(traefik): reorganize dynamic configs into environment-specific directories
  deploy-containers/traefik/dynamic-dev/tls.yml
  deploy-containers/traefik/dynamic/dev/middlewares.yml
  deploy-containers/traefik/dynamic/dev/tls.yml
  deploy-containers/traefik/dynamic/middlewares-dev.yml
  deploy-containers/traefik/dynamic/middlewares.yml
  deploy-containers/traefik/dynamic/prod/middlewares.yml
  deploy-containers/traefik/dynamic/test/middlewares.yml
  deploy-containers/traefik/dynamic/test/tls.yml
  deploy-containers/traefik/dynamic/tls-prod.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

fix(config): separate internal service URLs from external user-facing URLs
  ichrisbirch/app/routes/home.py
  ichrisbirch/config.py
Due: pytest-affected, pytest-full

ops: add tree-sitter to dev dependencies for use with mkdocs code_sync plugin
  pyproject.toml
  uv.lock
Due: none

refactor(mkdocs): separate MkDocs plugin from CLI tool to remove runtime dependency
  mkdocs_plugins/code_sync/__init__.py
  mkdocs_plugins/code_sync/plugin.py
  pyproject.toml
Due: pytest-affected, pytest-full

feat(homelab): add bootstrap automation and improve deployment docs
  docker-compose.yml
  docs/homelab-deployment.md
  scripts/bootstrap-homelab.sh
Due: validate-markdown-links

fix(traefik): update CSP to allow Swagger UI CDN and fix CORS origins
  deploy-containers/traefik/dynamic/prod/middlewares.yml
Due: none

fix(traefik): remove broken websocket middleware that overwrites headers with empty strings
  deploy-containers/traefik/dynamic/prod/middlewares.yml
  docker-compose.yml
Due: none

fix(cli): use 'up -d' instead of 'restart' to pick up config changes
  cli/ichrisbirch
Due: none

fix(config): production always uses secure cookies regardless of internal protocol
  ichrisbirch/config.py
Due: pytest-affected, pytest-full

fix(traefik): remove security-headers middleware from chat (X-Frame-Options breaks Streamlit)
  docker-compose.yml
Due: none

fix(api): add internal service auth support for chat endpoints
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/main.py
Due: pytest-affected, pytest-full

fix(app): use user session auth instead of internal service auth in articles routes
  ichrisbirch/app/routes/articles.py
  tests/ichrisbirch/app/routes/test_articles.py
Due: pytest-affected, pytest-full

fix(app): increase insights endpoint timeout to 120s
  ichrisbirch/app/routes/articles.py
Due: pytest-affected, pytest-full

fix(docker): add 180s timeout to gunicorn for long OpenAI requests
  docker-compose.yml
Due: none

feat(stats): add comprehensive churn analysis and improve quality dashboard
  cli/ichrisbirch
Due: none
