Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$

refactor(services): route third-party fetches through one function
  CLAUDE.md
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/services/outbound_http.py
  ichrisbirch/services/url_ingest.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_books.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat(cli): show the typeable invocation in every command list
  cli/internal/cli/help.go
  cli/internal/cli/root.go
  ops/icbops
Due: none

fix(security): neutralize model HTML and parse the signup flag by value
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/config.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/test_config.py
Due: pytest-affected, pytest-full

refactor(api): name refusals with an enum instead of repeating the sentence
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/api/exceptions.py
  pyproject.toml
  tests/ichrisbirch/api/endpoints/test_auth.py
  tests/ichrisbirch/api/endpoints/test_habits.py
  tests/ichrisbirch/api/endpoints/test_users.py
  uv.lock
Due: pytest-affected, pytest-full

chore: sync the generated CI workflow
  .github/workflows/validate.yml
Due: none

refactor(ops): derive the URL grid and the services.yml from one source each
  ops/health-check.sh
  ops/icbops
  ops/lib/urls.sh
  scripts/deploy-homelab.sh
  scripts/generate-services-yml.sh
Due: none

fix(diagrams): invalidate the testing diagram cache on a generator change
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_dependencies_function.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/testing_overview.svg
  mkdocs_plugins/diagrams/generate.py
Due: pytest-affected, pytest-full

fix(ops): make the diagram output reproducible and the URL grid complete
  CLAUDE.md
  docs/blue-green-deployment.md
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_dependencies_function.svg
  docs/images/generated/fixtures_comprehensive.svg
  mkdocs_plugins/diagrams/generate.py
  mkdocs_plugins/diagrams/renderers/fixture_diagram_renderer.py
  ops/health-check.sh
  ops/lib/urls.sh
  scripts/deploy-homelab.sh
  scripts/generate-services-yml.sh
Due: validate-markdown-links, pytest-affected, pytest-full

test(ops): pin the URL grid and the absence of hand-written hostnames
  tests/urls.bats
Due: none

feat(api)!: move article summaries to Claude and drop the openai dependency
  .env.example
  CLAUDE.md
  frontend/src/stores/__tests__/articles.test.ts
  ichrisbirch/ai/assistants/openai.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/config.py
  ichrisbirch/logger.py
  pyproject.toml
  secrets/secrets.prod.enc.env
  secrets/secrets.test.enc.env
  tests/ichrisbirch/api/endpoints/test_articles.py
  uv.lock
Due: validate-markdown-links, pytest-affected, pytest-full

fix(ai): refuse a truncated reply and keep the raw one out of the worker's log
  .env.example
  CLAUDE.md
  ichrisbirch/ai/assistants/anthropic.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/services/url_ingest.py
  tests/ichrisbirch/ai/test_anthropic_assistant.py
  tests/ichrisbirch/api/endpoints/test_articles.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(config): make the env template name the model the code falls back to
  .env.example
Due: none

feat(db)!: drop the chat schema
  ichrisbirch/alembic/versions/d3e4f5a6b7c8_drop_the_chat_schema.py
Due: pytest-affected, pytest-full

fix(db): refuse the downgrade and pin that the chat tables stay gone
  .env.example
  docs/blue-green-deployment.md
  ichrisbirch/alembic/versions/d3e4f5a6b7c8_drop_the_chat_schema.py
  tests/ichrisbirch/database/test_chat_schema_dropped.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(frontend): move the chat link behind the admin gate
  frontend/src/views/HomeView.vue
  frontend/src/views/__tests__/HomeView.test.ts
Due: none

chore(precommit): drop the commit-branding hook
  .pre-commit-config.yaml
Due: none

fix(cli): take goclilogin v0.3.0 so a locked keychain names its fix
  cli/go.mod
  cli/go.sum
Due: none

fix(cli): delimit each suggested value in an unknown-value error
  cli/internal/prompt/prompt_test.go
  cli/internal/prompt/validate.go
Due: none

chore: sync the generated CI workflow to toolchain 20
  .github/workflows/validate.yml
Due: none

fix(api): write a not-found noun as words, not an internal spelling
  ichrisbirch/api/endpoints/durations.py
  ichrisbirch/api/endpoints/personal_api_keys.py
  ichrisbirch/api/endpoints/project_item_tasks.py
  ichrisbirch/api/endpoints/recipes.py
  ichrisbirch/api/exceptions.py
  ichrisbirch/services/project_refs.py
  tests/ichrisbirch/api/test_exceptions.py
Due: pytest-affected, pytest-full

fix(cli): name the command that finds an id a 404 says is missing
  cli/internal/cli/articles.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/books.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/notfound.go
  cli/internal/cli/notfound_test.go
  cli/internal/cli/patterns.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/root.go
  cli/internal/cli/tasks.go
Due: none

fix(cli): keep a body-less 404, and hint the second id a verb can miss
  cli/internal/cli/articles.go
  cli/internal/cli/items.go
  cli/internal/cli/notfound.go
  cli/internal/cli/notfound_test.go
  cli/internal/cli/projects.go
  tests/ichrisbirch/api/test_exceptions.py
Due: pytest-affected, pytest-full

chore: remove the changelog
  .markdownlintignore
  CHANGELOG.md
Due: validate-markdown-links

fix(cli): keep one findCommand in the cli test package
  cli/internal/cli/limit_test.go
Due: none

refactor(cli): take the not-found mechanism from goclikit
  cli/go.mod
  cli/go.sum
  cli/internal/cli/notfound.go
  cli/internal/cli/notfound_test.go
  cli/internal/cli/root.go
  cli/internal/cli/update.go
Due: none

chore(cli): take goclikit v0.1.1 and goselfupdate v0.11.0
  cli/go.mod
  cli/go.sum
Due: none

chore(precommit): regenerate at toolchain 20
  .pre-commit-config.yaml
  .shellcheckrc
  .sqlfluff
Due: none

chore(precommit): regenerate the forge-managed configs
  .editorconfig
  .golangci.yml
  .markdownlint.json
  .markdownlint.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  .prettierrc.yaml
  .shellcheckrc
  .sqlfluff
Due: none

chore(ci): regenerate the validation workflow
  .github/workflows/validate.yml
Due: none

chore(pyproject): resync the standard tool sections
  pyproject.toml
Due: none

docs: use American spelling in comments, docstrings and test names
  .prettierrc.yaml
  .sqlfluff
  CLAUDE.md
  cli/internal/cli/overview.go
  frontend/src/assets/sass/pages/_apartments.scss
  frontend/src/views/__tests__/DatePicker.test.ts
  ichrisbirch/alembic/versions/a2b3c4d5e6f7_add_completed_at_to_project_items_and_tasks.py
  ichrisbirch/api/oidc_auth.py
  pyproject.toml
  scripts/deploy-homelab.sh
  tests/ichrisbirch/api/endpoints/test_patterns.py
  tests/ichrisbirch/api/endpoints/test_projects.py
  tests/ichrisbirch/api/test_oidc_auth.py
Due: validate-markdown-links, pytest-affected, pytest-full

chore(precommit): regenerate at forge toolchain 21
  .pre-commit-config.yaml
Due: none

chore(precommit): regenerate at forge toolchain 23
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(cli): show the invocation shape these commands actually get
  cli/internal/cli/items.go
  cli/internal/cli/projects.go
Due: none

fix(limit): --limit 0 asks for no rows, not every row
  cli/README.md
  cli/internal/api/patterns.go
  cli/internal/api/patterns_test.go
  cli/internal/api/row_limit.go
  cli/internal/api/row_limit_test.go
  cli/internal/cli/articles.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/books.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/limit.go
  cli/internal/cli/limit_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  cli/internal/cli/patterns.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/tasks.go
  ichrisbirch/services/row_limit.py
  tests/ichrisbirch/api/endpoints/test_row_limited_reads.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(limit): derive the population that has to honor zero, rather than list it
  CLAUDE.md
  cli/README.md
  cli/internal/cli/articles.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/books.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/limit.go
  cli/internal/cli/limit_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/patterns.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/tasks.go
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/endpoints/box_packing.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/services/row_limit.py
  tests/ichrisbirch/api/endpoints/test_row_limited_reads.py
Due: validate-markdown-links, pytest-affected, pytest-full

docs(limit): the help row says an absent limit returns every row
  cli/internal/cli/limit.go
Due: none
