Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$

fix(config): track the haiku tier instead of one dated snapshot
  ichrisbirch/config.py
  tests/ichrisbirch/test_config.py
Due: pytest-affected, pytest-full

feat(api): record when an item was completed, and bound a read by date
  cli/internal/api/articles.go
  cli/internal/api/articles_test.go
  cli/internal/api/books.go
  cli/internal/api/books_test.go
  cli/internal/api/date_bounds.go
  cli/internal/api/project_item_tasks.go
  cli/internal/api/project_items.go
  cli/internal/api/projects.go
  cli/internal/api/projects_test.go
  cli/internal/api/repo_filter_test.go
  cli/internal/api/tasks.go
  cli/internal/api/tasks_test.go
  cli/internal/cli/articles.go
  cli/internal/cli/books.go
  cli/internal/cli/items.go
  cli/internal/cli/overview.go
  cli/internal/cli/projects.go
  cli/internal/cli/tasks.go
  cli/internal/cli/tree.go
  ichrisbirch/alembic/versions/a2b3c4d5e6f7_add_completed_at_to_project_items_and_tasks.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/project_item_tasks.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/project_item.py
  ichrisbirch/schemas/project_item_task.py
  ichrisbirch/services/date_bounds.py
  ichrisbirch/services/project_item_completion.py
  scripts/seed/seeders/projects.py
  tests/ichrisbirch/api/endpoints/test_date_bounded_reads.py
  tests/ichrisbirch/api/endpoints/test_projects.py
  tests/test_seed/test_projects_seeder.py
Due: pytest-affected, pytest-full

feat(tasks): list by category
  cli/internal/api/tasks.go
  cli/internal/api/tasks_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/tasks.go
  cli/internal/cli/tasks_test.go
  ichrisbirch/api/endpoints/tasks.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
Due: pytest-affected, pytest-full

docs: carry the docker-ladder incident and the cooking-technique naming rule
  CLAUDE.md
Due: validate-markdown-links

docs: unfreeze the page count and fix the memory filename
  CLAUDE.md
Due: validate-markdown-links

fix(cli): serialize token refresh across icb processes
  CLAUDE.md
  cli/go.mod
  cli/internal/auth/flow.go
  cli/internal/auth/lock.go
  cli/internal/auth/refresh_test.go
  cli/internal/auth/store_test.go
  cli/internal/cli/client.go
  cli/internal/cli/client_test.go
  cli/internal/config/config_test.go
  cli/internal/config/machine.go
Due: validate-markdown-links

fix(cli): bound the refresh lock and report the session icb actually has
  cli/internal/auth/lock.go
  cli/internal/auth/lock_test.go
  cli/internal/cli/auth.go
  cli/internal/cli/auth_status_test.go
Due: none

feat(frontend): cap DatePicker selection with a max day
  frontend/src/assets/sass/components/_datepicker.scss
  frontend/src/components/DatePicker.vue
  frontend/src/views/__tests__/DatePicker.test.ts
Due: none

feat(habits): complete habits for a previous day
  frontend/src/api/types.ts
  frontend/src/assets/sass/pages/_habits.scss
  frontend/src/stores/__tests__/habits.test.ts
  frontend/src/stores/habits.ts
  frontend/src/views/HabitsView.vue
  frontend/src/views/__tests__/HabitsViews.test.ts
Due: none

feat(cli): add --date to icb habits complete
  cli/internal/cli/habits.go
  cli/internal/cli/habits_test.go
Due: none

fix(cli): construct noon instead of adding twelve hours to midnight
  cli/internal/cli/habits.go
  cli/internal/cli/habits_test.go
  cli/internal/cli/root.go
Due: none

fix(frontend): reject a rolled-over date and make Clear optional
  frontend/src/components/DatePicker.vue
  frontend/src/views/__tests__/DatePicker.test.ts
Due: none

fix(habits): validate the day once, and stop stale loads and clocks winning
  frontend/src/stores/__tests__/habits.test.ts
  frontend/src/stores/habits.ts
  frontend/src/views/HabitsView.vue
  frontend/src/views/__tests__/HabitsViews.test.ts
Due: none

feat(api): refuse a habit completion dated ahead of now
  ichrisbirch/schemas/habitcompleted.py
  tests/ichrisbirch/api/endpoints/test_habits.py
Due: pytest-affected, pytest-full

build(precommit): resync to forge toolchain 17
  .editorconfig
  .pre-commit-config.yaml
Due: none

fix(data): give every time column the type its meaning requires
  CLAUDE.md
  frontend/src/api/types.ts
  frontend/src/components/events/AddEditEventModal.vue
  frontend/src/views/EventsView.vue
  frontend/src/views/__tests__/AddEditEventModal.test.ts
  frontend/src/views/__tests__/EventsView.test.ts
  ichrisbirch/alembic/versions/b1c2d3e4f5a6_day_columns_become_date.py
  ichrisbirch/models/book.py
  ichrisbirch/models/coffee.py
  ichrisbirch/models/event.py
  ichrisbirch/schemas/book.py
  ichrisbirch/schemas/coffee.py
  ichrisbirch/schemas/event.py
  scripts/seed/seeders/books.py
  scripts/seed/seeders/coffee.py
  scripts/seed/seeders/events.py
  tests/ichrisbirch/api/endpoints/test_events.py
  tests/ichrisbirch/schemas/test_event_schema.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(api): make every timestamp timezone-aware UTC by construction
  docs/api/client/resources.md
  docs/testing/test_data.md
  ichrisbirch/api/article_import_worker.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/autotasks.py
  ichrisbirch/api/endpoints/personal_api_keys.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/server.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/models/autotask.py
  ichrisbirch/models/chat.py
  ichrisbirch/models/chatmessage.py
  ichrisbirch/models/personal_api_key.py
  ichrisbirch/models/task.py
  ichrisbirch/models/user.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/services/project_item_completion.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(cli): decode the day and wall-clock shapes the API sends
  cli/internal/api/books.go
  cli/internal/api/countdowns_events_test.go
  cli/internal/api/events.go
  cli/internal/api/wallclock.go
  cli/internal/api/wallclock_test.go
  cli/internal/cli/books.go
  cli/internal/cli/events.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
Due: none

chore: declare stats/data as generated output for refcheck
  .refcheck.toml
Due: none

refactor(data): split the event wall-clock change out of this branch
  CLAUDE.md
  cli/internal/api/countdowns_events_test.go
  cli/internal/api/events.go
  cli/internal/api/wallclock.go
  cli/internal/api/wallclock_test.go
  cli/internal/cli/events.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  docs/testing/test_data.md
  frontend/src/components/events/AddEditEventModal.vue
  frontend/src/views/EventsView.vue
  frontend/src/views/__tests__/AddEditEventModal.test.ts
  frontend/src/views/__tests__/EventsView.test.ts
  ichrisbirch/alembic/versions/b1c2d3e4f5a6_day_columns_become_date.py
  ichrisbirch/models/event.py
  ichrisbirch/schemas/event.py
  ichrisbirch/services/date_bounds.py
  scripts/seed/seeders/books.py
  scripts/seed/seeders/events.py
  tests/ichrisbirch/api/endpoints/test_events.py
  tests/ichrisbirch/database/test_day_column_migration.py
  tests/ichrisbirch/schemas/test_event_schema.py
  tests/ichrisbirch/services/test_date_bounds.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(events): store an event as a wall clock at its venue, with its zone
  cli/internal/api/countdowns_events_test.go
  cli/internal/api/events.go
  cli/internal/api/wallclock.go
  cli/internal/api/wallclock_test.go
  cli/internal/cli/events.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  frontend/src/components/dashboard/WidgetEvents.vue
  frontend/src/components/events/AddEditEventModal.vue
  frontend/src/composables/__tests__/useWallClock.test.ts
  frontend/src/composables/useWallClock.ts
  frontend/src/stores/__tests__/events.test.ts
  frontend/src/stores/events.ts
  frontend/src/views/EventsView.vue
  frontend/src/views/__tests__/AddEditEventModal.test.ts
  frontend/src/views/__tests__/EventsView.test.ts
  ichrisbirch/alembic/versions/c2d3e4f5a6b7_event_date_is_a_wall_clock.py
  ichrisbirch/api/endpoints/events.py
  ichrisbirch/models/event.py
  ichrisbirch/schemas/event.py
  scripts/seed/seeders/events.py
  tests/factories/events.py
  tests/factories/test_factories.py
  tests/ichrisbirch/api/endpoints/test_events.py
  tests/ichrisbirch/schemas/test_event_schema.py
  tests/test_data/events.py
Due: pytest-affected, pytest-full

docs: name the wall-clock resolvers now that a column holds that kind
  CLAUDE.md
Due: validate-markdown-links

refactor(cli): move login and token lifecycle to goclilogin
  CLAUDE.md
  cli/README.md
  cli/go.mod
  cli/go.sum
  cli/internal/auth/flow.go
  cli/internal/auth/flow_test.go
  cli/internal/auth/lock.go
  cli/internal/auth/lock_test.go
  cli/internal/auth/refresh_test.go
  cli/internal/auth/store.go
  cli/internal/auth/store_test.go
  cli/internal/cli/auth.go
  cli/internal/cli/auth_status_test.go
  cli/internal/cli/client.go
  cli/internal/config/config.go
  cli/internal/config/config_test.go
Due: validate-markdown-links

feat(cli): store the token in a file where there is no OS keyring
  cli/go.mod
  cli/go.sum
  cli/internal/cli/auth.go
  cli/internal/cli/client.go
  cli/internal/config/config.go
  cli/internal/config/config_test.go
Due: none

docs: name StateDir in the goclilogin mapping note
  CLAUDE.md
Due: validate-markdown-links

chore: sync the generated configs to toolchain 18
  .github/workflows/validate.yml
  .pre-commit-config.yaml
Due: none

chore: sync the generated configs to toolchain 19
  .github/workflows/validate.yml
  .pre-commit-config.yaml
Due: none

chore: sync the generated CI workflow
  .github/workflows/validate.yml
Due: none

docs: name the host the CLI actually targets
  CLAUDE.md
  cli/README.md
Due: validate-markdown-links

docs(cli): state what the code does, not what changed to make it do it
  cli/internal/cli/overview.go
  cli/internal/repos/repos.go
Due: none

docs: delete shipped and superseded troubleshooting content
  docs/index.md
  docs/nginx-to-traefik-migration-complete.md
  docs/project_layout.md
  docs/troubleshooting.md
  mkdocs.yml
Due: validate-markdown-links

docs: say what the project is and how to run it
  .markdownlintignore
  README.md
  tests/environment.py
Due: validate-markdown-links, pytest-affected, pytest-full

test: drop the Flask-era test environment and the diagrams describing it
  mkdocs_plugins/diagrams/analyzers/fixture_analyzer.py
  mkdocs_plugins/diagrams/renderers/fixture_diagram_renderer.py
  mkdocs_plugins/diagrams/renderers/testing_diagram_renderer.py
  tests/environment.py
  tests/utils/app_client.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

docs: regenerate the testing diagrams
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_dependencies_function.svg
  docs/images/generated/fixture_dependencies_module.svg
  docs/images/generated/fixture_dependencies_session.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/test_writing_workflow.svg
  docs/images/generated/testing_overview.svg
Due: none

fix(ops): exit 2 on an unknown icbops command
  ops/icbops
Due: none

refactor(api): hoist three deferred imports to the top of their files
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/logger.py
Due: pytest-affected, pytest-full

ci: make the generated CI workflow the only pipeline
  .github/workflows/release.yml
  .github/workflows/validate-project.yml
  .github/workflows/validate.yml
  .vscode/settings.json
  docs/cicd.md
  scripts/track-gh-actions-workflow.sh
Due: validate-markdown-links

ci: pin the node major in the custom frontend jobs
  .github/workflows/validate.yml
Due: none

docs: keep the fleet's private layout out of a public repo
  CLAUDE.md
  cli/internal/config/config_test.go
  cli/internal/repos/repos_test.go
  docs/alembic.md
  docs/homelab-deployment.md
  ichrisbirch/alembic/versions/e6f7a8b9c0d1_add_repo_to_project_items.py
  ops/icbops
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: validate-markdown-links, pytest-affected, pytest-full

build: drop the unused psycopg2 driver and record dependency reach
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: validate-markdown-links
