Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: python tools/validation/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: python tools/validation/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest:
  name: pytest with coverage
  stages:
  - pre-commit
  language: system
  entry: zsh -c 'export ENVIRONMENT=testing && pytest -vv --cov=ichrisbirch'
  pass_filenames: false
  always_run: false

fix(build/gh-actions): make sure test-logs dir is created before mounting as a volume
  .github/workflows/validate-project.yml
Due: none

fix(build/docker): order startup of test containers
  docker-compose.test.yml
  tests/environment.py
Due: pytest

build(docker/redis): simplify redis for testing in github actions
  docker-compose.test.yml
Due: none

build(gh-actions/api): increase timeout for api to startup in gh actions runner
  docker-compose.test.yml
  tests/environment.py
Due: pytest

build(gh-actions/api): add debug logs for api failure
  tests/environment.py
Due: pytest

build(gh-actions/validate): remove lint and matrix for easier debugging
  .github/workflows/validate-project.yml
Due: none

build(gh-actions/docker): add debugging to containers on error
  tests/environment.py
Due: pytest

fix(build/gh-actions/docker): add AWS credentials from gh actions env into api container
  docker-compose.test.yml
Due: none

build(gh-actions): add aws credentials to all containers in test environment
  docker-compose.test.yml
  tests/environment.py
Due: pytest

build(gh-actions): use uv caching strategy
  .github/workflows/validate-project.yml
Due: none

build(gh-actions): remove verbose test logging, keep playwright cache for now
  .github/workflows/validate-project.yml
Due: none

feat(cli): add functions for prod
  cli/ichrisbirch
Due: none

build: move markdown into core dependencies, used in prod also
  pyproject.toml
  uv.lock
Due: none

build(docker/prod): mount aws credentials as a volume for local prod deployment that will have iam credentials
  docker-compose.yml
Due: none

ops(traefik): add traefik infrastructure configuration
  deploy-containers/traefik/certs/dev.crt
  deploy-containers/traefik/certs/prod.crt
  deploy-containers/traefik/certs/test.crt
  deploy-containers/traefik/config/dashboard-credentials-info.txt
  deploy-containers/traefik/dynamic-dev/middlewares.yml
  deploy-containers/traefik/dynamic-dev/tls.yml
  deploy-containers/traefik/dynamic/middlewares-dev.yml
  deploy-containers/traefik/dynamic/middlewares-prod.yml
  deploy-containers/traefik/dynamic/middlewares-test.yml
  deploy-containers/traefik/dynamic/middlewares.yml
  deploy-containers/traefik/dynamic/tls-dev.yml
  deploy-containers/traefik/dynamic/tls-prod.yml
  deploy-containers/traefik/dynamic/tls-test.yml
  deploy-containers/traefik/scripts/deploy.sh
  deploy-containers/traefik/scripts/health-check.sh
  deploy-containers/traefik/scripts/ssl-manager.sh
Due: none

ops(docker): migrate docker-compose from nginx to traefik
  deploy-metal/docker-compose.dev.yml
  deploy-metal/docker-compose.test.yml
  deploy-metal/docker-compose.yml
  docker-compose.dev.yml
Due: none

feat(cli): add traefik management and health check functions
  cli/ichrisbirch
Due: none

docs: add traefik deployment and migration documentation
  TODO.md
  docs/cli-traefik-usage.md
  docs/index.md
  docs/nginx-to-traefik-migration-complete.md
  docs/quick-start.md
  docs/traefik-deployment.md
  docs/troubleshooting.md
  docs/troubleshooting/cli-commands.md
  docs/troubleshooting/ssl-certificates.md
  mkdocs.yml
Due: validate-markdown-links

fix(auth): use internal service auth for Flask-to-API communication
  ichrisbirch/app/routes/articles.py
  ichrisbirch/app/templates/articles/add.html
  ichrisbirch/chat/api.py
  tests/ichrisbirch/app/routes/test_articles.py
Due: validate-html, pytest

build: update project to support Python 3.13
  .python-version
  Dockerfile
  pyproject.toml
  uv.lock
Due: none

fix(cli,database): fix database initialization for testing environment
  cli/ichrisbirch
  ichrisbirch/database/initialization.py
Due: pytest

docs: update CLAUDE.md for Python 3.13 and internal auth patterns
  .gitignore
  CLAUDE.md
Due: validate-markdown-links

test: add test data for markdown link validator
  .pre-commit-config.yaml
  tests/test_data/test_markdown_links.md
  tools/validation/validate_markdown_links.py
Due: validate-markdown-links, pytest

feat(docs): add code sync tool for documentation-code synchronization
  .github/workflows/sync-docs-code.yml
  .gitignore
  .pre-commit-config.yaml
  docs/documentation_tools.md
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  mkdocs.yml
  plugins/mkdocs-code-sync/mkdocs_code_sync/__init__.py
  plugins/mkdocs-code-sync/setup.py
  plugins/mkdocs-diagrams/mkdocs_diagrams/__init__.py
  plugins/mkdocs-diagrams/setup.py
  tools/code_sync/README.md
  tools/code_sync/__init__.py
  tools/code_sync/__main__.py
  tools/code_sync/ast_parser.py
  tools/code_sync/code_sync.py
  tools/code_sync/github-workflow-sync-docs.yml
  tools/code_sync/pre-commit-config.yaml
  tools/code_sync/tests/conftest.py
  tools/code_sync/tests/test_ast_parser.py
  tools/code_sync/tests/test_code_sync.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest

ops: remove docformatter, use ruff instead
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(docs): add missing diagram generator code for mkdocs-diagrams plugin
  tools/docs/README.md
  tools/docs/diagram_generator/README.md
  tools/docs/diagram_generator/analyzers/fixture_analyzer.py
  tools/docs/diagram_generator/generate_diagrams.py
  tools/docs/diagram_generator/renderers/aws_diagram_renderer.py
  tools/docs/diagram_generator/renderers/fixture_diagram_renderer.py
  tools/docs/mkdocs_diagrams_plugin.py
  tools/docs/verify_diagram_generator.py
  tools/docs/verify_docs.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest

ops(gh actions): create script to track github actions workflow logs for claude debugging
  scripts/track-gh-actions-workflow.sh
Due: none

fix(app): fix admin_login_required decorator to call wrapped function
  ichrisbirch/app/login.py
  tests/ichrisbirch/app/test_login.py
Due: pytest

fix(docker): use Python 3.13 in production stage
  Dockerfile
Due: none

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest: any of: \.py$
