Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

fix: trim deploy workflow run-name to commit title only
  .github/workflows/deploy-homelab.yml
Due: none

docs: add session pattern decision tree to CLAUDE.md
  CLAUDE.md
Due: validate-markdown-links

test: add extractApiError edge case coverage
  frontend/src/api/__tests__/errors.test.ts
Due: none

refactor: split api client from type definitions
  frontend/src/api/client.ts
  frontend/src/api/types.ts
Due: none

refactor(stats): make test hooks self-collecting, drop tests from capture
  .pre-commit-config.yaml
  cli/stats
  frontend/playwright.config.ts
  pyproject.toml
  scripts/pre_commit_validations/pytest_affected.py
  scripts/pre_commit_validations/pytest_full.py
  stats/collect_report.py
  stats/collectors/playwright_collector.py
  stats/hooks/pytest_affected.py
  stats/hooks/pytest_full.py
  stats/post_commit_collect.py
  stats/schemas/__init__.py
  stats/schemas/collectors/playwright_collector.py
  stats/schemas/hooks/testing.py
  stats/snapshot.py
  tests/stats/test_hooks/test_testing.py
  tests/stats/test_pre_commit_capture.py
  tests/stats/test_schemas/test_event_union.py
Due: pytest-affected, pytest-full

fix(stats): exclude deleted files from capture, remove duplicate test collection
  pyproject.toml
  stats/post_commit_collect.py
  stats/pre_commit_capture.py
Due: pytest-affected, pytest-full

fix(stats): fix capture hook runners for mypy and check-executables
  .pre-commit-config.yaml
  stats/hooks/check_executables_have_shebangs.py
  stats/hooks/mypy.py
  stats/pre_commit_capture.py
  tests/stats/test_hooks/test_file_format.py
Due: pytest-affected, pytest-full

feat!: add UUID7 PKs, description field, and item tasks to projects
  .python-version
  Dockerfile
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/projects/AddEditProjectItemModal.vue
  frontend/src/components/projects/AddEditProjectModal.vue
  frontend/src/components/projects/ManageDependenciesModal.vue
  frontend/src/components/projects/ManageProjectsModal.vue
  frontend/src/stores/projects.ts
  frontend/src/views/ProjectsView.vue
  ichrisbirch/alembic/versions/b2c3d4e5f6a7_projects_uuid7_description_tasks.py
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/project_item_tasks.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/api/exceptions.py
  ichrisbirch/api/main.py
  ichrisbirch/api/smoke_tests.py
  ichrisbirch/database/session.py
  ichrisbirch/mcp/server.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/project.py
  ichrisbirch/schemas/project_item.py
  ichrisbirch/schemas/project_item_task.py
  pyproject.toml
  scripts/seed/seeders/projects.py
  tests/ichrisbirch/api/endpoints/test_events.py
  tests/ichrisbirch/api/endpoints/test_users.py
  tests/test_seed/test_projects_seeder.py
  uv.lock
Due: pytest-affected, pytest-full

ci: update GitHub Actions workflows to Python 3.14
  .github/workflows/deploy-docs.yml
  .github/workflows/sync-docs-code.yml
  .github/workflows/terraform-check.yml
  .github/workflows/validate-project.yml
Due: none

fix: remove quoted type annotations for Python 3.14 compatibility
  ichrisbirch/api/client/api.py
  ichrisbirch/api/client/auth.py
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/client/resource.py
  ichrisbirch/api/client/session.py
  ichrisbirch/chat/auth.py
  ichrisbirch/models/backup_history.py
  ichrisbirch/models/backup_restore.py
  ichrisbirch/models/chat.py
  ichrisbirch/models/chatmessage.py
  ichrisbirch/models/duration.py
  ichrisbirch/models/duration_note.py
  ichrisbirch/models/habit.py
  ichrisbirch/models/habitcategory.py
  ichrisbirch/models/habitcompleted.py
  ichrisbirch/schemas/chat.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

fix: set ruff target-version to py313 to avoid PEP 758 formatting
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: add future annotations for forward ref compatibility with ruff py313
  ichrisbirch/models/project.py
Due: pytest-affected, pytest-full

fix: prevent docker compose build from overwriting node:20-alpine
  docker-compose.test.yml
Due: none

feat: add stats/cli package with chart primitives and data layer
  stats/cli/__init__.py
  stats/cli/charts.py
  stats/cli/data.py
Due: pytest-affected, pytest-full

feat: replace stats-events jq pipeline with Python Rich table
  cli/stats
  stats/cli/events_view.py
Due: pytest-affected, pytest-full

feat: replace stats-activity grep loop with Python Rich bars
  cli/stats
  stats/cli/activity_view.py
Due: pytest-affected, pytest-full

feat: replace stats-tests jq pipelines with Python Rich rendering
  cli/stats
  stats/cli/data.py
  stats/cli/tests_view.py
Due: pytest-affected, pytest-full

feat: replace stats-quality 124-grep loop with single-scan Python
  cli/stats
  stats/cli/data.py
  stats/cli/quality_view.py
Due: pytest-affected, pytest-full

feat: replace stats-trends bash with Python Rich rendering
  cli/stats
  stats/cli/trends_view.py
Due: pytest-affected, pytest-full

feat: replace stats-churn bash+awk pipelines with Python
  cli/stats
  stats/cli/churn_view.py
Due: pytest-affected, pytest-full

feat: replace stats-summary and stats-code with Python Rich dashboard
  cli/stats
  stats/cli/dashboard.py
  stats/cli/data.py
Due: pytest-affected, pytest-full

feat: accept optional client-provided UUID7 IDs on project create endpoints
  ichrisbirch/api/endpoints/project_item_tasks.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/schemas/project.py
  ichrisbirch/schemas/project_item.py
  ichrisbirch/schemas/project_item_task.py
  tests/ichrisbirch/api/endpoints/test_client_provided_ids.py
Due: pytest-affected, pytest-full

chore: add .planning to gitignore
  .gitignore
Due: none

refactor: consolidate Docker Compose and Traefik config to eliminate drift
  .pre-commit-config.yaml
  CLAUDE.md
  cli/ichrisbirch
  deploy-containers/traefik/dynamic/dev/middlewares.yml
  deploy-containers/traefik/dynamic/dev/routing.yml
  deploy-containers/traefik/dynamic/prod/middlewares.yml
  deploy-containers/traefik/dynamic/prod/routing.yml
  deploy-containers/traefik/dynamic/test/middlewares.yml
  deploy-containers/traefik/dynamic/test/routing.yml
  deploy-containers/traefik/generate-routing.sh
  deploy-containers/traefik/vue-paths.txt
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  docs/add_new_app.md
  docs/blue-green-deployment.md
  docs/cli-traefik-usage.md
  docs/docker-development.md
  docs/docker/docker-compose.md
  docs/docker/index.md
  docs/index.md
  docs/nginx-to-traefik-migration-complete.md
  docs/project_layout.md
  docs/quick-start.md
  docs/traefik-deployment.md
  docs/vue-frontend.md
Due: validate-markdown-links

refactor!: audit and modernize CLI — rename to icb, fix bugs, improve dispatch
  .pre-commit-config.yaml
  CLAUDE.md
  cli/health-check.sh
  cli/icb
  docs/add_new_app.md
  docs/blue-green-deployment.md
  docs/cicd.md
  docs/cli-traefik-usage.md
  docs/developer_setup.md
  docs/docker-development.md
  docs/docker/docker-compose.md
  docs/homelab-deployment.md
  docs/logging-configuration.md
  docs/nginx-to-traefik-migration-complete.md
  docs/project_layout.md
  docs/quick-start.md
  docs/testing/environment.md
  docs/testing/overview.md
  docs/testing/persistent-logging.md
  docs/traefik-deployment.md
  docs/troubleshooting/cli-commands.md
  docs/troubleshooting/ssl-certificates.md
  docs/troubleshooting/testing-issues.md
  docs/vue-frontend.md
  scripts/bootstrap-homelab.sh
  scripts/profile_test_fixtures.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix: update legacy prod health check to reference icb-prod-vue
  cli/health-check.sh
Due: none

fix: add archived articles toggle so unarchive button is reachable
  frontend/src/stores/__tests__/articles.test.ts
  frontend/src/stores/articles.ts
  frontend/src/views/ArticlesView.vue
  frontend/src/views/__tests__/ArticlesView.test.ts
Due: none

fix: stats quality missing hooks, broken parsers, and column alignment
  stats/cli/data.py
  stats/cli/quality_view.py
  stats/hooks/check_executables_have_shebangs.py
  stats/hooks/check_shebang_scripts_are_executable.py
Due: pytest-affected, pytest-full

fix: DatePicker cannot null dates when clearing text and blurring
  frontend/src/components/DatePicker.vue
Due: none

perf: speed up dev rebuild by only recreating app services
  cli/icb
Due: none

fix: replace all String/varchar columns with Text in models
  ichrisbirch/alembic/versions/c3d4e5f6a7b8_change_varchar_columns_to_text.py
  ichrisbirch/models/article.py
  ichrisbirch/models/autotask.py
  ichrisbirch/models/box.py
  ichrisbirch/models/boxitem.py
  ichrisbirch/models/countdown.py
  ichrisbirch/models/event.py
  ichrisbirch/models/habit.py
  ichrisbirch/models/habitcategory.py
  ichrisbirch/models/habitcompleted.py
  ichrisbirch/models/money_wasted.py
  ichrisbirch/models/personal_api_key.py
  ichrisbirch/models/user.py
Due: pytest-affected, pytest-full

fix: require explicit category selection when creating tasks
  frontend/src/components/tasks/AddEditTaskModal.vue
Due: none

fix: center home page buttons by removing redundant margin
  frontend/src/assets/sass/pages/_home.scss
Due: none

feat: show time remaining and dim past events
  frontend/src/assets/sass/layout/_grid.scss
  frontend/src/assets/sass/pages/_events.scss
  frontend/src/composables/formatDate.ts
  frontend/src/stores/events.ts
  frontend/src/views/EventsView.vue
  frontend/src/views/__tests__/EventsView.test.ts
Due: none

fix: restore home button margin removed in error
  frontend/src/assets/sass/pages/_home.scss
Due: none

fix: add confirmation output to CLI install command
  cli/icb
Due: none

feat: show total days below countdown breakdown
  frontend/src/assets/sass/pages/_countdowns.scss
  frontend/src/views/CountdownsView.vue
  frontend/src/views/__tests__/CountdownsView.test.ts
Due: none

feat: separate app DB user from postgres superuser
  docs/homelab-deployment.md
  docs/troubleshooting/database-issues.md
  docs/troubleshooting/deployment-issues.md
  docs/troubleshooting/testing-issues.md
  scripts/bootstrap-homelab.sh
  secrets/secrets.prod.enc.env
Due: validate-markdown-links

feat: add draggable sidebar menu ordering in profile settings
  frontend/src/api/types.ts
  frontend/src/components/AppSidebar.vue
  frontend/src/components/sidebarLinks.ts
  frontend/src/views/ProfileSettingsView.vue
  ichrisbirch/models/user.py
Due: pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
