Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

build(precommit): resync to forge toolchain 14
  .pre-commit-config.yaml
Due: none

build(precommit): keep prettier off generated files
  .prettierignore
Due: none

fix(ops): point the log viewer invocations at ops/
  cli/README.md
  docs/cli-traefik-usage.md
  docs/logging-configuration.md
  ops/icbops
  ops/log_viewer.py
Due: validate-markdown-links, pytest-affected, pytest-full

docs: cite the standards without a machine path
  CLAUDE.md
Due: validate-markdown-links

feat(projects): one status enum per resource, spelled in the field's words
  ichrisbirch/alembic/versions/d0e1f2a3b4c5_rename_project_status_done_to_completed.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/models/project.py
  scripts/seed/seeders/projects.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

feat(tasks): one list that can express every status
  ichrisbirch/api/endpoints/tasks.py
  tests/ichrisbirch/api/endpoints/crud_test.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/ichrisbirch/scheduler/test_jobs.py
Due: pytest-affected, pytest-full

feat(cli)!: --status everywhere, and the state leaves the verb slot
  cli/internal/api/project_items.go
  cli/internal/api/projects.go
  cli/internal/api/repo_filter_test.go
  cli/internal/api/tasks.go
  cli/internal/api/tasks_test.go
  cli/internal/cli/items.go
  cli/internal/cli/overview.go
  cli/internal/cli/projects.go
  cli/internal/cli/tasks.go
Due: none

fix(frontend): the terminal project status is completed
  frontend/src/api/types.ts
  frontend/src/stores/__tests__/projects.test.ts
  frontend/src/views/ProjectsView.vue
  frontend/src/views/__tests__/ProjectsView.test.ts
Due: none

fix(cli): read $REPOS_JSON before the tool's own data directory
  cli/internal/cli/main_test.go
  cli/internal/repos/repos.go
  cli/internal/repos/repos_test.go
Due: none

feat!: resolve repo registry through icb's config
  cli/README.md
  cli/go.mod
  cli/go.sum
  cli/internal/cli/main_test.go
  cli/internal/config/config.go
  cli/internal/config/config_test.go
  cli/internal/config/machine.go
  cli/internal/repos/repos.go
  cli/internal/repos/repos_test.go
Due: validate-markdown-links

feat(projects)!: a scope selects rows, not states
  cli/internal/api/projects.go
  cli/internal/api/projects_test.go
  cli/internal/cli/items.go
  cli/internal/cli/items_test.go
  cli/internal/cli/projects.go
  frontend/src/stores/__tests__/projects.test.ts
  frontend/src/stores/projects.ts
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/services/project_item_status.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

fix(cli): take the go1.26.6 stdlib security patches
  cli/go.mod
Due: none

fix(cli): quote a project name in the widen hint
  cli/internal/cli/items.go
  cli/internal/cli/items_test.go
Due: none

feat(auth): log in with the device grant, verify the JWT in the API
  .env.example
  CLAUDE.md
  cli/README.md
  cli/internal/api/client.go
  cli/internal/auth/flow.go
  cli/internal/auth/flow_test.go
  cli/internal/cli/auth.go
  cli/internal/config/config.go
  cli/internal/config/config_test.go
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/oidc_auth.py
  ichrisbirch/config.py
  pyproject.toml
  tests/ichrisbirch/api/test_oidc_auth.py
  uv.lock
Due: validate-markdown-links, pytest-affected, pytest-full

fix(auth): fetch JWKS over the internal address
  .env.example
  docker-compose.app.yml
  ichrisbirch/api/oidc_auth.py
  ichrisbirch/config.py
  tests/ichrisbirch/api/test_oidc_auth.py
Due: pytest-affected, pytest-full

fix(auth): skip the discovery issuer check when fetching internally
  ichrisbirch/api/oidc_auth.py
Due: pytest-affected, pytest-full

fix(build): take the fleet floor rather than one above it
  cli/go.mod
Due: none

fix(auth): identify the JWKS client instead of routing around Cloudflare
  .env.example
  docker-compose.app.yml
  ichrisbirch/api/oidc_auth.py
  ichrisbirch/config.py
  tests/ichrisbirch/api/test_oidc_auth.py
Due: pytest-affected, pytest-full

feat(cli): draw the item dependency trees
  cli/README.md
  cli/internal/api/project_items.go
  cli/internal/cli/items.go
  cli/internal/cli/tree.go
  cli/internal/cli/tree_test.go
  cli/internal/graph/graph.go
  cli/internal/graph/graph_test.go
Due: validate-markdown-links

docs(cli): drop the counts from the tree comments
  cli/internal/cli/tree.go
  cli/internal/cli/tree_test.go
Due: none

chore(tests): drop pytest-xdist
  pyproject.toml
  uv.lock
Due: none

chore(pyproject): raise assertion verbosity instead of test verbosity
  pyproject.toml
Due: none

fix(api): apply completion date bounds independently
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/api/endpoints/tasks.py
  tests/ichrisbirch/api/endpoints/test_habits.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
Due: pytest-affected, pytest-full

feat(cli): ask for the missing fields on tasks create
  CLAUDE.md
  cli/README.md
  cli/internal/api/tasks.go
  cli/internal/cli/interactive.go
  cli/internal/cli/interactive_test.go
  cli/internal/cli/tasks.go
  cli/internal/prompt/plain.go
  cli/internal/prompt/prompt.go
  cli/internal/prompt/prompt_test.go
  cli/internal/prompt/terminal.go
  cli/internal/prompt/terminal_test.go
  cli/internal/prompt/validate.go
Due: validate-markdown-links

feat(cli): ask for the missing fields on projects items create
  cli/README.md
  cli/internal/cli/interactive.go
  cli/internal/cli/interactive_test.go
  cli/internal/cli/items.go
  cli/internal/prompt/prompt.go
  cli/internal/prompt/prompt_test.go
  cli/internal/prompt/terminal.go
  cli/internal/prompt/terminal_test.go
  cli/internal/prompt/validate.go
Due: validate-markdown-links

fix(mkdocs): cap the content grid in rem rather than viewport percent
  docs/stylesheets/extra.css
Due: none

build: add task setup so a fresh worktree is runnable
  Taskfile.yml
Due: none

docs(mkdocs): name the hub back-link Code Kingdom
  mkdocs.yml
Due: none

fix(mkdocs): fill the window, and hash asset URLs so a CSS change is visible
  docs/stylesheets/extra.css
  hooks/cachebust.py
  mkdocs.yml
Due: pytest-affected, pytest-full

ci: stop validating twice on every push to main
  .github/workflows/validate.yml
Due: none

feat(cli): Tab lists the guided-create choices, and + makes a project inline
  cli/README.md
  cli/internal/api/projects.go
  cli/internal/cli/items.go
  cli/internal/cli/projects.go
  cli/internal/prompt/plain.go
  cli/internal/prompt/prompt.go
  cli/internal/prompt/prompt_test.go
  cli/internal/prompt/terminal.go
  cli/internal/prompt/terminal_test.go
Due: validate-markdown-links

fix(cli): name the values, or the command that prints them, on every closed-vocabulary flag
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/habits.go
  cli/internal/cli/tasks.go
Due: none

docs(cli): record that internal/prompt is not being ported, and why
  cli/README.md
Due: validate-markdown-links

fix(cli): the Tab listing reaches the terminal in one write
  cli/internal/prompt/plain.go
  cli/internal/prompt/prompt.go
  cli/internal/prompt/prompt_test.go
  cli/internal/prompt/terminal.go
  cli/internal/prompt/terminal_test.go
Due: none

fix(cli): write the escape's return path — abort, failure, and back-out
  cli/internal/cli/items.go
Due: none

fix(cli): name the values on the six recipe vocabulary flags
  cli/internal/api/recipes.go
  cli/internal/cli/recipes.go
Due: none

docs(cli): re-read the porting section against the code it describes
  cli/README.md
Due: validate-markdown-links

docs: add updated svgs
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_dependencies_function.svg
  docs/images/generated/fixture_dependencies_module.svg
  docs/images/generated/fixture_dependencies_session.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/test_writing_workflow.svg
  docs/images/generated/testing_overview.svg
Due: none

feat(overview): articles say when one was last read
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
Due: none

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
