Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$

ci(release): queue release runs per branch rather than racing them
  .github/workflows/release.yml
Due: none

feat(iam): let a developer credential run live Glue tests without assuming a role
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/iam.tf
Due: validate-markdown-links

fix(articles): read saved pages past bot blocks and refuse non-articles
  CLAUDE.md
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/recipes.py
  ichrisbirch/config.py
  ichrisbirch/services/outbound_http.py
  ichrisbirch/services/url_extraction.py
  ichrisbirch/services/url_ingest.py
  pyproject.toml
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_recipes.py
  uv.lock
Due: validate-markdown-links, pytest-affected, pytest-full

fix(articles): name caption failures and stop retrying what cannot change
  ichrisbirch/api/article_import_worker.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/services/url_extraction.py
Due: pytest-affected, pytest-full

build(deps): take httpx2 in place of httpx
  docs/api/client/examples.md
  docs/api/client/resources.md
  docs/api/client/session.md
  docs/logging-configuration.md
  docs/testing/writing_tests.md
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/client/session.py
  ichrisbirch/api/endpoints/github_issues.py
  ichrisbirch/api/oidc_auth.py
  ichrisbirch/api/smoke_tests.py
  ichrisbirch/gui/insights.py
  ichrisbirch/gui/tasks_add.py
  ichrisbirch/logger.py
  pyproject.toml
  scripts/ping_test.py
  scripts/pre_commit_validations/validate_html.py
  tests/environment.py
  tests/util.py
  tests/utils/assertions.py
  uv.lock
Due: generate-fixture-diagrams, validate-markdown-links, pytest-affected, pytest-full

test: join test sessions by savepoint and clear the suite's warnings
  docs/testing/writing_tests.md
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/api/endpoints/users.py
  tests/conftest.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_books.py
  tests/ichrisbirch/api/endpoints/test_habits.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/ichrisbirch/api/endpoints/test_users.py
  tests/ichrisbirch/api/test_api_error_handling.py
  tests/utils/database.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest-affected, pytest-full

fix(deps): floor starlette at 1.2.0, where its test client takes httpx2
  pyproject.toml
  uv.lock
Due: none

fix(tests): print the status when a failing response has no JSON body
  tests/util.py
  tests/utils/assertions.py
  tests/utils/test_show_status_and_response.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

refactor(http): state the timeout and redirect policy at every httpx2 call
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/client/session.py
  ichrisbirch/api/endpoints/github_issues.py
  ichrisbirch/api/oidc_auth.py
  ichrisbirch/api/smoke_tests.py
  ichrisbirch/gui/insights.py
  ichrisbirch/gui/tasks_add.py
  scripts/ping_test.py
  scripts/pre_commit_validations/validate_html.py
  tests/environment.py
Due: pytest-affected, pytest-full

docs(logging): name the logger level mapping rather than copy it
  docs/logging-configuration.md
Due: validate-markdown-links

test(github-issues): run the endpoint against a GitHub stand-in
  tests/ichrisbirch/api/endpoints/test_github_issues.py
Due: pytest-affected, pytest-full

feat(api): carry each item's queue position in every project it belongs to
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/project_item.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

feat(cli): take next items by project position, then item position
  cli/internal/api/project_items.go
  cli/internal/cli/items.go
  cli/internal/cli/items_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
Due: none

test(cli): decode a project item row as the API sends its memberships
  cli/internal/api/project_items_test.go
Due: none

fix(tests): migrate the test database to head in pytest session setup
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_dependencies_function.svg
  docs/images/generated/fixture_dependencies_module.svg
  docs/images/generated/fixture_dependencies_session.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/test_writing_workflow.svg
  docs/images/generated/testing_overview.svg
  ichrisbirch/alembic/env.py
  ichrisbirch/database/initialization.py
  mkdocs_plugins/diagrams/renderers/testing_diagram_renderer.py
  tests/environment.py
Due: pytest-affected, pytest-full

fix(icbops): initialize the database on every verb that starts containers
  ops/icbops
Due: none

docs(testing): describe how the test database reaches head
  CLAUDE.md
  docs/cli-traefik-usage.md
  docs/testing/environment.md
  docs/troubleshooting/database-issues.md
  docs/troubleshooting/testing-issues.md
Due: validate-markdown-links

fix(cli): rank a kind-filtered item only among projects of that kind
  cli/internal/cli/items.go
  cli/internal/cli/items_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
Due: none

fix(api): list an item's memberships and projects in one order on every path
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/project_item.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

docs(cli): say position orders a queue, not where the queue starts
  cli/internal/api/project_items.go
Due: none

fix(logging): route stdlib records to stderr when LOG_FILE is unset
  docs/logging-configuration.md
  ichrisbirch/logger.py
  tests/ichrisbirch/database/test_initialization.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(db): create schemas in the baseline migration, not from an env list
  .env.example
  docs/alembic.md
  ichrisbirch/alembic/versions/e010f859f025_baseline_schema.py
  ichrisbirch/config.py
  ichrisbirch/database/initialization.py
  ichrisbirch/database/reset_database.py
  secrets/secrets.prod.enc.env
  secrets/secrets.test.enc.env
  tests/ichrisbirch/database/test_chat_schema_dropped.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(tests): truncate once per session and name icbops in the teardown hint
  tests/environment.py
Due: pytest-affected, pytest-full

docs(testing): name sources instead of pasting them, and sweep the old lifecycle
  CLAUDE.md
  README.md
  docs/cli-traefik-usage.md
  docs/docker/docker-compose.md
  docs/testing/environment.md
  docs/troubleshooting/testing-issues.md
  ops/db
  ops/icbops
Due: validate-markdown-links

chore(precommit): regenerate the hook and lint configuration
  .golangci.yml
  .pre-commit-config.yaml
  .sqlfluff
Due: none

chore(precommit): regenerate the sqlfluff configuration
  .sqlfluff
Due: none

ci: regenerate the validation workflow
  .github/workflows/validate.yml
Due: none

chore(ai): delete the four prompt files nothing loads
  ichrisbirch/ai/prompts/analyze_logs.txt
  ichrisbirch/ai/prompts/analyze_paper.txt
  ichrisbirch/ai/prompts/jungian_analyst.txt
  ichrisbirch/ai/prompts/mermaid_diagram.txt
Due: none

fix(articles): let the insights page wait for a reply past 30 seconds
  frontend/src/views/ArticleInsightsView.vue
Due: none

feat(ai): bill every Claude call to the subscription through Claude Code
  .env.example
  CLAUDE.md
  cli/internal/api/articles.go
  cli/internal/cli/articles.go
  cli/internal/cli/articles_test.go
  docs/logging-configuration.md
  frontend/src/api/types.ts
  frontend/src/views/ArticleBulkImportView.vue
  ichrisbirch/ai/assistants/anthropic.py
  ichrisbirch/ai/prompts/recipe_suggestions.txt
  ichrisbirch/api/article_import_worker.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/recipes.py
  ichrisbirch/api/main.py
  ichrisbirch/config.py
  ichrisbirch/logger.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/article.py
  ichrisbirch/services/url_ingest.py
  pyproject.toml
  secrets/secrets.prod.enc.env
  tests/ichrisbirch/ai/test_anthropic_assistant.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_recipes.py
  tests/ichrisbirch/services/test_url_ingest.py
  uv.lock
Due: validate-markdown-links, pytest-affected, pytest-full

fix(ai): set every Claude Code default the wrapper relied on
  .env.example
  ichrisbirch/ai/assistants/anthropic.py
  tests/ichrisbirch/ai/test_anthropic_assistant.py
Due: pytest-affected, pytest-full

refactor(api): answer every unusable assistant reply from one 502 handler
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/recipes.py
  ichrisbirch/api/main.py
  ichrisbirch/services/url_ingest.py
  tests/ichrisbirch/api/endpoints/test_recipes.py
  tests/ichrisbirch/services/test_url_ingest.py
Due: pytest-affected, pytest-full

fix(recipes): cap discovery at five WebSearch calls
  CLAUDE.md
  ichrisbirch/api/endpoints/recipes.py
  tests/ichrisbirch/api/endpoints/test_recipes.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(articles): keep a waiting batch's status until the batch completes
  ichrisbirch/api/article_import_worker.py
  tests/ichrisbirch/api/endpoints/test_articles.py
Due: pytest-affected, pytest-full

test(cli): assert the resume time is printed, not its label
  cli/internal/cli/articles_test.go
Due: none

feat(strains): add the strains table and its five vocabularies
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/e4f5a6b7c8d9_add_strains_tables.py
  ichrisbirch/database/initialization.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/strain.py
Due: pytest-affected, pytest-full

feat(strains): serve the strains collection, its search and its vocabulary
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/strains.py
  ichrisbirch/api/main.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/strain.py
  scripts/seed/seeders/__init__.py
  scripts/seed/seeders/strains.py
  tests/ichrisbirch/api/endpoints/test_row_limited_reads.py
  tests/ichrisbirch/api/endpoints/test_strains.py
  tests/test_data/__init__.py
  tests/test_data/strains.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

feat(strains): add the icb strains resource with a fetched vocabulary
  .gitignore
  cli/README.md
  cli/internal/api/strains.go
  cli/internal/api/strains_test.go
  cli/internal/cli/limit_test.go
  cli/internal/cli/root.go
  cli/internal/cli/strains.go
  cli/internal/cli/strains_test.go
Due: validate-markdown-links

feat(strains): add the strains page, its modal and its Traefik route
  deploy-containers/traefik/dynamic/dev/routing.yml
  deploy-containers/traefik/dynamic/prod/routing.yml
  deploy-containers/traefik/dynamic/test/routing.yml
  deploy-containers/traefik/vue-paths.txt
  frontend/e2e/strains.spec.ts
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/assets/sass/main.scss
  frontend/src/assets/sass/pages/_strains.scss
  frontend/src/components/sidebarLinks.ts
  frontend/src/components/strains/AddEditStrainModal.vue
  frontend/src/router.ts
  frontend/src/stores/__tests__/strains.test.ts
  frontend/src/stores/strains.ts
  frontend/src/views/StrainsView.vue
  frontend/src/views/__tests__/StrainsView.test.ts
Due: none

docs(add_new_app): carry the checklist through the row limit and the icb CLI
  docs/add_new_app.md
Due: validate-markdown-links
