Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

refactor: convert Events to AddEditModal pattern with data-testid
  frontend/e2e/events.spec.ts
  frontend/src/components/events/AddEditEventModal.vue
  frontend/src/views/EventsView.vue
Due: none

refactor: convert AutoTasks to AddEditModal pattern with data-testid
  frontend/e2e/autotasks.spec.ts
  frontend/src/components/autotasks/AddEditAutoTaskModal.vue
  frontend/src/stores/autotasks.ts
  frontend/src/views/AutoTasksView.vue
  ichrisbirch/api/endpoints/autotasks.py
  tests/ichrisbirch/api/endpoints/test_autotasks.py
Due: pytest-affected, pytest-full

refactor: convert Money Wasted to AddEditModal pattern with data-testid
  frontend/e2e/money-wasted.spec.ts
  frontend/src/components/money-wasted/AddEditMoneyWastedModal.vue
  frontend/src/stores/moneyWasted.ts
  frontend/src/views/MoneyWastedView.vue
  ichrisbirch/api/endpoints/money_wasted.py
  ichrisbirch/schemas/money_wasted.py
  tests/ichrisbirch/api/endpoints/test_money_wasted.py
Due: pytest-affected, pytest-full

fix(ui): add spacing and centering to money wasted action buttons
  frontend/src/assets/sass/pages/_money_wasted.scss
  frontend/src/views/MoneyWastedView.vue
Due: none

refactor: convert Books to AddEditModal pattern with data-testid
  frontend/e2e/books.spec.ts
  frontend/src/assets/sass/components/_add_edit_modal.scss
  frontend/src/assets/sass/pages/_books.scss
  frontend/src/components/books/AddEditBookModal.vue
  frontend/src/views/BooksView.vue
Due: none

refactor: convert Durations to AddEditModal pattern with data-testid
  frontend/e2e/durations.spec.ts
  frontend/src/components/durations/AddEditDurationModal.vue
  frontend/src/views/DurationsView.vue
Due: none

refactor: convert Articles to AddEditModal pattern with data-testid
  frontend/e2e/articles.spec.ts
  frontend/src/components/articles/AddEditArticleModal.vue
  frontend/src/views/ArticlesView.vue
Due: none

refactor: convert Habits to AddEditModal pattern with data-testid
  frontend/e2e/habits.spec.ts
  frontend/src/components/habits/AddEditCategoryModal.vue
  frontend/src/components/habits/AddEditHabitModal.vue
  frontend/src/views/HabitsManageView.vue
Due: none

refactor!: consolidate Box Packing into single page with new components
  frontend/e2e/boxPacking.spec.ts
  frontend/src/assets/sass/components/_add_edit_modal.scss
  frontend/src/assets/sass/components/_listing_modal.scss
  frontend/src/assets/sass/layout/_forms.scss
  frontend/src/assets/sass/main.scss
  frontend/src/components/AppSidebar.vue
  frontend/src/components/BoxPackingSubnav.vue
  frontend/src/components/ListingModal.vue
  frontend/src/components/NeuSelect.vue
  frontend/src/components/box-packing/AddEditBoxModal.vue
  frontend/src/components/box-packing/AddEditItemModal.vue
  frontend/src/components/box-packing/OrphansModal.vue
  frontend/src/composables/__tests__/useFieldErrors.test.ts
  frontend/src/composables/useFieldErrors.ts
  frontend/src/router.ts
  frontend/src/stores/boxPacking.ts
  frontend/src/views/BoxPackingAllView.vue
  frontend/src/views/BoxPackingDetailView.vue
  frontend/src/views/BoxPackingOrphansView.vue
  frontend/src/views/BoxPackingSearchView.vue
  frontend/src/views/BoxPackingView.vue
Due: none

refactor: consolidate date formatting into shared formatDate composable
  frontend/src/components/dashboard/WidgetEvents.vue
  frontend/src/components/tasks/TaskBlockCompleted.vue
  frontend/src/components/tasks/TaskBlockPriority.vue
  frontend/src/components/tasks/TaskBlockTodo.vue
  frontend/src/components/tasks/TaskCompactTodo.vue
  frontend/src/components/tasks/taskUtils.ts
  frontend/src/composables/__tests__/formatDate.test.ts
  frontend/src/composables/__tests__/useDaysLeft.test.ts
  frontend/src/composables/formatDate.ts
  frontend/src/composables/useDaysLeft.ts
  frontend/src/stores/habits.ts
  frontend/src/views/AdminSchedulerView.vue
  frontend/src/views/AdminSmokeView.vue
  frontend/src/views/AdminSystemView.vue
  frontend/src/views/AdminUsersView.vue
  frontend/src/views/ArticlesView.vue
  frontend/src/views/AutoTasksView.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/CountdownsView.vue
  frontend/src/views/DurationsView.vue
  frontend/src/views/EventsView.vue
  frontend/src/views/HabitsView.vue
  frontend/src/views/MoneyWastedView.vue
  frontend/src/views/ProfileSettingsView.vue
  frontend/src/views/ProfileView.vue
Due: none

fix: change countdown notes from input to textarea
  frontend/src/components/countdowns/AddEditCountdownModal.vue
Due: none

refactor: replace native selects with NeuSelect component
  frontend/e2e/autotasks.spec.ts
  frontend/e2e/books.spec.ts
  frontend/e2e/boxPacking.spec.ts
  frontend/e2e/habits.spec.ts
  frontend/playwright.config.ts
  frontend/src/assets/sass/components/_add_edit_modal.scss
  frontend/src/components/NeuSelect.vue
  frontend/src/components/autotasks/AddEditAutoTaskModal.vue
  frontend/src/components/books/AddEditBookModal.vue
  frontend/src/components/box-packing/AddEditBoxModal.vue
  frontend/src/components/box-packing/AddEditItemModal.vue
  frontend/src/components/box-packing/OrphansModal.vue
  frontend/src/components/habits/AddEditHabitModal.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/BoxPackingView.vue
  frontend/src/views/DurationsView.vue
Due: none

ops(gh-actions): update action versions for more recent node version
  .github/workflows/validate-project.yml
Due: none

fix: change duration notes from input to textarea
  frontend/src/views/DurationsView.vue
Due: none

refactor: extract data-table SCSS mixin from Articles and Money Wasted
  frontend/src/assets/sass/components/_data_table.scss
  frontend/src/assets/sass/main.scss
  frontend/src/assets/sass/pages/_articles.scss
  frontend/src/assets/sass/pages/_money_wasted.scss
  frontend/src/views/ArticlesView.vue
Due: none

refactor: extract card-row SCSS mixin from Books and Box Packing
  frontend/src/assets/sass/components/_card_row.scss
  frontend/src/assets/sass/main.scss
  frontend/src/assets/sass/pages/_books.scss
  frontend/src/assets/sass/pages/_box_packing.scss
  frontend/src/views/BoxPackingView.vue
Due: none

refactor: extract list-item SCSS mixin from Habits, Box Packing, Durations
  frontend/src/assets/sass/components/_list_item.scss
  frontend/src/assets/sass/main.scss
  frontend/src/assets/sass/pages/_box_packing.scss
  frontend/src/assets/sass/pages/_durations.scss
  frontend/src/assets/sass/pages/_habits.scss
  frontend/src/views/BoxPackingView.vue
  frontend/src/views/HabitsView.vue
Due: none

refactor: normalize empty-state classes to consistent BEM and styling
  frontend/src/assets/sass/pages/_admin.scss
  frontend/src/assets/sass/pages/_articles.scss
  frontend/src/assets/sass/pages/_books.scss
  frontend/src/assets/sass/pages/_box_packing.scss
  frontend/src/assets/sass/pages/_durations.scss
  frontend/src/assets/sass/pages/_habits.scss
  frontend/src/assets/sass/pages/_money_wasted.scss
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminSchedulerView.vue
  frontend/src/views/AdminSmokeView.vue
  frontend/src/views/AdminSystemView.vue
  frontend/src/views/AdminUsersView.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/HabitsManageView.vue
Due: none

docs: add shared SCSS mixins and empty-state convention to CLAUDE.md
  CLAUDE.md
Due: validate-markdown-links

refactor: relocate url_builder and convert_bytes to ichrisbirch.util
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/client/session.py
  ichrisbirch/app/utils/util.py
  ichrisbirch/chat/auth.py
  ichrisbirch/util.py
Due: pytest-affected, pytest-full

refactor: decouple app_id from Flask-specific config
  .env.example
  ichrisbirch/api/client/api.py
  ichrisbirch/api/client/auth.py
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/config.py
  tests/conftest.py
  tests/ichrisbirch/api/endpoints/test_auth.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

refactor: remove Flask-specific auth providers from API client
  ichrisbirch/api/client/__init__.py
  ichrisbirch/api/client/api.py
  ichrisbirch/api/client/auth.py
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/client/session.py
  pyproject.toml
  tests/conftest.py
  tests/test_fixtures.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

feat!: remove Flask app service from Docker infrastructure
  deploy-containers/traefik/dynamic/prod/routing.yml
  deploy-metal/docker-compose.dev.yml
  deploy-metal/docker-compose.test.yml
  deploy-metal/docker-compose.yml
  docker-compose.app.yml
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/Dockerfile
  scripts/deploy-homelab.sh
Due: none

test: remove Flask and old frontend test files
  tests/environment.py
  tests/ichrisbirch/app/conftest.py
  tests/ichrisbirch/app/routes/test_articles.py
  tests/ichrisbirch/app/routes/test_auth.py
  tests/ichrisbirch/app/routes/test_autotasks.py
  tests/ichrisbirch/app/routes/test_backups.py
  tests/ichrisbirch/app/routes/test_books.py
  tests/ichrisbirch/app/routes/test_box_packing.py
  tests/ichrisbirch/app/routes/test_countdowns.py
  tests/ichrisbirch/app/routes/test_events.py
  tests/ichrisbirch/app/routes/test_money_wasted.py
  tests/ichrisbirch/app/routes/test_scheduler.py
  tests/ichrisbirch/app/routes/test_serverstats.py
  tests/ichrisbirch/app/routes/test_tasks.py
  tests/ichrisbirch/app/routes/test_users.py
  tests/ichrisbirch/app/test_app_error_handling.py
  tests/ichrisbirch/app/test_csrf.py
  tests/ichrisbirch/app/test_login.py
  tests/ichrisbirch/app/test_utils.py
  tests/ichrisbirch/frontend/conftest.py
  tests/ichrisbirch/frontend/fixtures.py
  tests/ichrisbirch/frontend/test_01_frontend_fixtures.py
  tests/ichrisbirch/frontend/test_articles_page.py
  tests/ichrisbirch/frontend/test_auth_page.py
  tests/ichrisbirch/frontend/test_autotasks_page.py
  tests/ichrisbirch/frontend/test_books_page.py
  tests/ichrisbirch/frontend/test_box_packing_page.py
  tests/ichrisbirch/frontend/test_countdowns_page.py
  tests/ichrisbirch/frontend/test_events_page.py
  tests/ichrisbirch/frontend/test_habits_page.py
  tests/ichrisbirch/frontend/test_tasks_page.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

chore: remove Flask, flask-login, flask-wtf, gunicorn dependencies
  ichrisbirch/models/user.py
  pyproject.toml
  uv.lock
Due: pytest-affected, pytest-full

refactor: remove FlaskSettings and Flask environment variables
  .env.example
  ichrisbirch/config.py
  tests/test_data/.test_env_file.env
Due: pytest-affected, pytest-full

refactor: remove dead Apartment, Journal, Portfolio models
  ichrisbirch/alembic/env.py
  ichrisbirch/config.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/apartment.py
  ichrisbirch/models/journal.py
  ichrisbirch/models/portfolio.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/journal.py
Due: pytest-affected, pytest-full

fix: remove app from required_services in test environment
  tests/environment.py
Due: pytest-affected, pytest-full

docs: update CLAUDE.md for Flask removal
  CLAUDE.md
Due: validate-markdown-links

fix: remove app from deploy health check services
  scripts/deploy-homelab.sh
Due: none

chore: migrate SOPS secrets from FLASK_APP_ID to APP_ID
  ichrisbirch/config.py
  secrets/secrets.prod.enc.env
  secrets/secrets.test.enc.env
Due: pytest-affected, pytest-full

feat: add tagline to home page
  frontend/src/assets/sass/pages/_home.scss
  frontend/src/views/HomeView.vue
Due: none

feat: add MCP book summary endpoints and get_book detail tool
  ichrisbirch/mcp/server.py
  tests/ichrisbirch/mcp/test_mcp_server.py
Due: pytest-affected, pytest-full

feat: add Projects backend — schema, models, API endpoints
  CLAUDE.md
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/a1b2c3d4e5f6_add_projects_tables.py
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/api/main.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/project.py
  ichrisbirch/models/task.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/project.py
  ichrisbirch/schemas/project_item.py
  scripts/seed/seed_config.toml
  tests/test_seed/test_discovery.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat: embed full Project objects in ProjectItemDetail and add flat listing
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/schemas/project_item.py
Due: pytest-affected, pytest-full

feat: add Projects Vue page with two-pane layout
  deploy-containers/traefik/dynamic/prod/routing.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/src/api/client.ts
  frontend/src/components/AppSidebar.vue
  frontend/src/components/projects/AddEditProjectItemModal.vue
  frontend/src/components/projects/AddEditProjectModal.vue
  frontend/src/router.ts
  frontend/src/stores/projects.ts
  frontend/src/views/ProjectsView.vue
Due: none

feat: add drag-and-drop reorder and dependency management to Projects
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/projects/ManageDependenciesModal.vue
  frontend/src/stores/projects.ts
  frontend/src/views/ProjectsView.vue
Due: none

feat: add cross-project membership modal and item search
  frontend/package-lock.json
  frontend/src/components/projects/ManageProjectsModal.vue
  frontend/src/views/ProjectsView.vue
Due: none

test: add Pinia store unit tests and Playwright E2E tests for Projects
  frontend/e2e/countdowns.spec.ts
  frontend/e2e/projects.spec.ts
  frontend/src/stores/__tests__/projects.test.ts
Due: none

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
