Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

refactor: use DbSession type alias across all API endpoints
  CLAUDE.md
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/autotasks.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/box_packing.py
  ichrisbirch/api/endpoints/chat/chats.py
  ichrisbirch/api/endpoints/chat/messages.py
  ichrisbirch/api/endpoints/countdowns.py
  ichrisbirch/api/endpoints/durations.py
  ichrisbirch/api/endpoints/events.py
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/api/endpoints/money_wasted.py
  ichrisbirch/api/endpoints/personal_api_keys.py
  ichrisbirch/api/endpoints/project_item_tasks.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/api/endpoints/users.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat: convert serial columns to identity columns
  ichrisbirch/alembic/versions/d4e5f6a7b8c9_convert_serial_to_identity.py
  ichrisbirch/models/article.py
  ichrisbirch/models/autotask.py
  ichrisbirch/models/book.py
  ichrisbirch/models/box.py
  ichrisbirch/models/boxitem.py
  ichrisbirch/models/chat.py
  ichrisbirch/models/chatmessage.py
  ichrisbirch/models/countdown.py
  ichrisbirch/models/duration.py
  ichrisbirch/models/duration_note.py
  ichrisbirch/models/event.py
  ichrisbirch/models/habit.py
  ichrisbirch/models/habitcategory.py
  ichrisbirch/models/habitcompleted.py
  ichrisbirch/models/jwt_refresh_token.py
  ichrisbirch/models/money_wasted.py
  ichrisbirch/models/personal_api_key.py
  ichrisbirch/models/scheduler_job_run.py
  ichrisbirch/models/task.py
  ichrisbirch/models/user.py
Due: pytest-affected, pytest-full

feat: show deploy color in admin system health panel
  frontend/src/api/types.ts
  frontend/src/assets/sass/pages/_admin.scss
  frontend/src/views/AdminSystemView.vue
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/schemas/admin.py
Due: pytest-affected, pytest-full

chore: add root node_modules to gitignore
  .gitignore
Due: none

chore: clean up generated gitignore
  .gitignore
Due: none

feat: add Coffee Tracker feature (#211)
  .env.example
  CLAUDE.md
  deploy-containers/traefik/dynamic/dev/routing.yml
  deploy-containers/traefik/dynamic/prod/routing.yml
  deploy-containers/traefik/dynamic/test/routing.yml
  deploy-containers/traefik/vue-paths.txt
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/assets/sass/main.scss
  frontend/src/assets/sass/pages/_coffee.scss
  frontend/src/components/coffee/AddEditCoffeeBeanModal.vue
  frontend/src/components/coffee/AddEditCoffeeShopModal.vue
  frontend/src/components/coffee/CoffeeSubnav.vue
  frontend/src/components/sidebarLinks.ts
  frontend/src/router.ts
  frontend/src/stores/coffeeBeans.ts
  frontend/src/stores/coffeeShops.ts
  frontend/src/views/CoffeeBeansView.vue
  frontend/src/views/CoffeeShopsView.vue
  frontend/src/views/__tests__/CoffeeViews.test.ts
  ichrisbirch/alembic/versions/e1f2a3b4c5d6_add_coffee_tables.py
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/coffee.py
  ichrisbirch/api/main.py
  ichrisbirch/database/initialization.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/coffee.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/coffee.py
  scripts/seed/seeders/__init__.py
  scripts/seed/seeders/coffee.py
  tests/ichrisbirch/api/endpoints/test_coffee_beans.py
  tests/ichrisbirch/api/endpoints/test_coffee_shops.py
  tests/test_data/__init__.py
  tests/test_data/coffee_beans.py
  tests/test_data/coffee_shops.py
  tests/utils/database.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest-affected, pytest-full

feat: expand MCP server with missing lifecycle tools
  ichrisbirch/mcp/server.py
Due: pytest-affected, pytest-full

feat: add AutoFun feature (#142)
  deploy-containers/traefik/dynamic/dev/routing.yml
  deploy-containers/traefik/dynamic/prod/routing.yml
  deploy-containers/traefik/dynamic/test/routing.yml
  deploy-containers/traefik/vue-paths.txt
  frontend/e2e/autofun.spec.ts
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/autofun/AddEditAutoFunModal.vue
  frontend/src/components/sidebarLinks.ts
  frontend/src/router.ts
  frontend/src/stores/__tests__/autofun.test.ts
  frontend/src/stores/autofun.ts
  frontend/src/views/AutoFunView.vue
  frontend/src/views/__tests__/AutoFunView.test.ts
  ichrisbirch/alembic/versions/f2a3b4c5d6e7_add_autofun_tables.py
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/autofun.py
  ichrisbirch/api/main.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/autofun.py
  ichrisbirch/models/user.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/autofun.py
  scripts/seed/seeders/__init__.py
  scripts/seed/seeders/autofun.py
  tests/ichrisbirch/api/endpoints/test_autofun.py
  tests/test_data/__init__.py
  tests/test_data/autofun.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

feat: add Articles Stats page (#74)
  frontend/e2e/articles.spec.ts
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/ArticlesSubnav.vue
  frontend/src/components/sidebarLinks.ts
  frontend/src/router.ts
  frontend/src/views/ArticlesStatsView.vue
  frontend/src/views/ArticlesView.vue
  frontend/src/views/__tests__/ArticlesView.test.ts
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/article.py
Due: pytest-affected, pytest-full

feat: add category filter to todo and completed task pages (#48, #49)
  frontend/e2e/autotasks.spec.ts
  frontend/src/assets/sass/layout/_grid.scss
  frontend/src/views/TasksView.vue
Due: none

feat: add NeuToggleGroup component for neumorphic segmented selectors (#227)
  frontend/src/assets/sass/components/_radio_scale_selector.scss
  frontend/src/assets/sass/main.scss
  frontend/src/components/NeuToggleGroup.vue
  frontend/src/views/AdminDesignView.vue
  frontend/src/views/TasksView.vue
  frontend/src/views/__tests__/TasksView.test.ts
Due: none

feat: expand theme system with semantic color palette from neovim conventions
  frontend/src/assets/sass/abstracts/_colors.scss
  frontend/src/assets/sass/abstracts/_effects.scss
  frontend/src/assets/sass/components/_buttons.scss
  frontend/src/assets/sass/components/_dashboard_widgets.scss
  frontend/src/assets/sass/components/_datepicker.scss
  frontend/src/assets/sass/components/_errors.scss
  frontend/src/assets/sass/components/_flash_messages.scss
  frontend/src/assets/sass/components/_loading.scss
  frontend/src/assets/sass/layout/_forms.scss
  frontend/src/assets/sass/pages/_books.scss
  frontend/src/assets/sass/pages/_box_packing.scss
  frontend/src/assets/sass/pages/_coffee.scss
  frontend/src/assets/sass/pages/_durations.scss
  frontend/src/assets/sass/pages/_habits.scss
  frontend/src/assets/sass/pages/_money_wasted.scss
  frontend/src/assets/sass/pages/_tasks.scss
  frontend/src/components/coffee/CoffeeSubnav.vue
  frontend/src/components/dashboard/DashboardWidget.vue
  frontend/src/components/durations/AddEditDurationModal.vue
  frontend/src/composables/useTheme.ts
  frontend/src/views/ProfileSettingsView.vue
Due: none

fix: split book search on spaces for natural-language MCP queries
  ichrisbirch/api/endpoints/books.py
Due: pytest-affected, pytest-full

refactor: improve article content extraction and YouTube URL parsing
  ichrisbirch/api/endpoints/articles.py
Due: pytest-affected, pytest-full

fix(seed): ensure full variant coverage across all 12 seeders
  scripts/seed/seeders/articles.py
  scripts/seed/seeders/autofun.py
  scripts/seed/seeders/autotasks.py
  scripts/seed/seeders/books.py
  scripts/seed/seeders/boxes.py
  scripts/seed/seeders/chats.py
  scripts/seed/seeders/coffee.py
  scripts/seed/seeders/countdowns.py
  scripts/seed/seeders/events.py
  scripts/seed/seeders/habits.py
  scripts/seed/seeders/projects.py
  scripts/seed/seeders/tasks.py
  tests/test_seed/test_boxes_seeder.py
  tests/test_seed/test_chats_seeder.py
Due: pytest-affected, pytest-full

refactor(test): remove low-value seed tests, keep data integrity checks
  tests/test_seed/test_articles_seeder.py
  tests/test_seed/test_autotasks_seeder.py
  tests/test_seed/test_books_seeder.py
  tests/test_seed/test_boxes_seeder.py
  tests/test_seed/test_chats_seeder.py
  tests/test_seed/test_countdowns_seeder.py
  tests/test_seed/test_durations_seeder.py
  tests/test_seed/test_events_seeder.py
  tests/test_seed/test_habits_seeder.py
  tests/test_seed/test_money_wasted_seeder.py
  tests/test_seed/test_projects_seeder.py
  tests/test_seed/test_tasks_seeder.py
Due: pytest-affected, pytest-full

feat: persist pytest output to log and JSON for easier failure analysis
  .pre-commit-config.yaml
  CLAUDE.md
  cli/icb
Due: validate-markdown-links

feat: use specific entity names in all frontend notifications
  frontend/src/components/ArticlesSubnav.vue
  frontend/src/views/ArticlesView.vue
  frontend/src/views/AutoFunView.vue
  frontend/src/views/AutoTasksView.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/BoxPackingView.vue
  frontend/src/views/CoffeeBeansView.vue
  frontend/src/views/CoffeeShopsView.vue
  frontend/src/views/CountdownsView.vue
  frontend/src/views/DurationsView.vue
  frontend/src/views/EventsView.vue
  frontend/src/views/HabitsManageView.vue
  frontend/src/views/MoneyWastedView.vue
  frontend/src/views/ProjectsView.vue
  frontend/src/views/TasksView.vue
Due: none

feat: UI polish pass — text readability, profile consolidation, admin guard
  deploy-containers/traefik/dynamic/test/middlewares.yml
  frontend/e2e/admin.spec.ts
  frontend/e2e/global.setup.ts
  frontend/e2e/profile.spec.ts
  frontend/src/assets/sass/pages/_countdowns.scss
  frontend/src/components/AppSidebar.vue
  frontend/src/components/dashboard/DashboardWidget.vue
  frontend/src/components/tasks/TasksSubnav.vue
  frontend/src/config/subnavLinks.ts
  frontend/src/router.ts
  frontend/src/views/BooksView.vue
  frontend/src/views/CountdownsView.vue
  frontend/src/views/DurationsView.vue
  frontend/src/views/EventsView.vue
  frontend/src/views/ProfileSettingsView.vue
  frontend/src/views/ProfileView.vue
  frontend/src/views/ProjectsView.vue
  frontend/src/views/VueDashView.vue
  frontend/src/views/__tests__/ProfileViews.test.ts
  ichrisbirch/api/endpoints/projects.py
  scripts/seed/seeders/boxes.py
Due: pytest-affected, pytest-full

feat: seed well-known dev API key during initialization
  ichrisbirch/database/initialization.py
Due: pytest-affected, pytest-full

refactor: move dev API key to seeder, auto-seed on dev rebuild
  cli/icb
  ichrisbirch/database/initialization.py
  scripts/seed/seeders/__init__.py
  scripts/seed/seeders/api_keys.py
Due: pytest-affected, pytest-full

feat: add project item completion guard and API tests
  ichrisbirch/api/endpoints/project_items.py
  tests/ichrisbirch/api/endpoints/test_projects.py
  tests/test_data/__init__.py
  tests/test_data/projects.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

fix: send null (not undefined) when clearing optional project fields
  frontend/src/api/types.ts
  frontend/src/components/projects/AddEditProjectItemModal.vue
  frontend/src/components/projects/AddEditProjectModal.vue
Due: none

feat: projects multi-select, ActionButton component, and UI overhaul
  frontend/e2e/projects.spec.ts
  frontend/src/components/ActionButton.vue
  frontend/src/components/projects/ProjectItemTasks.vue
  frontend/src/stores/projects.ts
  frontend/src/views/ProjectsView.vue
  frontend/src/views/__tests__/ProjectsView.test.ts
Due: none

fix: stats snapshot missing test results and timezone inconsistencies
  stats/cli/activity_view.py
  stats/cli/data.py
  stats/cli/trends_view.py
  stats/snapshot.py
Due: pytest-affected, pytest-full

fix: lowercase book progress values in stats summary cards
  frontend/src/views/BooksStatsView.vue
Due: none

refactor: adopt ActionButton across all icon-action buttons
  docs/vue-frontend.md
  frontend/src/assets/sass/pages/_articles.scss
  frontend/src/components/box-packing/OrphansModal.vue
  frontend/src/components/tasks/TaskCompactCompleted.vue
  frontend/src/components/tasks/TaskCompactPriority.vue
  frontend/src/components/tasks/TaskCompactTodo.vue
  frontend/src/views/ArticlesView.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/BoxPackingView.vue
  frontend/src/views/CoffeeBeansView.vue
  frontend/src/views/CoffeeShopsView.vue
  frontend/src/views/HabitsManageView.vue
  frontend/src/views/MoneyWastedView.vue
  frontend/src/views/__tests__/BooksView.test.ts
Due: validate-markdown-links

chore: add prettier and stylelint config files
  .prettierrc.json
  .stylelintrc.json
Due: none

feat: add remote MCP server deployment via streamable HTTP
  CLAUDE.md
  deploy-containers/traefik/dynamic/prod/routing.yml
  docker-compose.app.yml
  docs/blue-green-deployment.md
  docs/docker/docker-compose.md
  docs/traefik-deployment.md
  ichrisbirch/mcp/__main__.py
  ichrisbirch/mcp/server.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat: add MCP service to deploy script services.yml generation
  docs/blue-green-deployment.md
  scripts/deploy-homelab.sh
Due: validate-markdown-links

chore: add MCP server API token to production secrets
  secrets/secrets.prod.enc.env
Due: none

fix(test): align test docker-compose with dev/prod volume pattern
  CLAUDE.md
  docker-compose.ci.yml
  docker-compose.test.yml
  docs/docker-development.md
  docs/docker/docker-compose.md
Due: validate-markdown-links

chore: pre-commit autoupdate and pin mypy<1.20 for refurb
  .pre-commit-config.yaml
Due: none

feat(cli): add --all/--volumes rebuild flags and honest health check
  cli/health-check.sh
  cli/icb
Due: none

docs: troubleshoot docker crash loops and dual iptables backends
  CLAUDE.md
  docs/cli-traefik-usage.md
  docs/docker/docker-compose.md
  docs/troubleshooting/docker-issues.md
Due: validate-markdown-links

feat(recipes): add cooking techniques entity
  frontend/e2e/cooking-techniques.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/recipes/AddEditCookingTechniqueModal.vue
  frontend/src/config/subnavLinks.ts
  frontend/src/router.ts
  frontend/src/stores/cookingTechniques.ts
  frontend/src/utils/markdown.ts
  frontend/src/views/CookingTechniqueDetailView.vue
  frontend/src/views/CookingTechniquesView.vue
  frontend/src/views/__tests__/CookingTechniqueDetailView.test.ts
  frontend/src/views/__tests__/CookingTechniquesView.test.ts
  ichrisbirch/alembic/versions/b4c5d6e7f8a9_add_cooking_techniques_tables.py
  ichrisbirch/api/endpoints/recipes.py
  ichrisbirch/database/initialization.py
  ichrisbirch/mcp/server.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/recipe.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/recipe.py
  ichrisbirch/util.py
  scripts/seed/seeders/__init__.py
  scripts/seed/seeders/cooking_techniques.py
  tests/ichrisbirch/api/endpoints/test_cooking_techniques.py
  tests/test_data/__init__.py
  tests/test_data/cooking_techniques.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

refactor: extract URL content helpers into services/url_extraction
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/services/__init__.py
  ichrisbirch/services/url_extraction.py
Due: pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
