Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

feat(scheduler): add job run history model and persist execution results
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/08d5a3d4b957_add_scheduler_job_runs_table.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/scheduler_job_run.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/scheduler.py
Due: pytest-affected, pytest-full

feat(api): add scheduler job management endpoints
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/scheduler.py
  tests/ichrisbirch/api/endpoints/test_admin_scheduler.py
Due: pytest-affected, pytest-full

feat(api): add system health, error buffer, and config endpoints
  docker-compose.dev.yml
  docker-compose.test.yml
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/middleware.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/admin.py
  ichrisbirch/schemas/user.py
  pyproject.toml
  tests/ichrisbirch/api/endpoints/test_admin_system.py
  uv.lock
Due: pytest-affected, pytest-full

feat(vue): add admin layout, store, subnav, and routing infrastructure
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/src/api/client.ts
  frontend/src/components/AdminSubnav.vue
  frontend/src/components/AppSidebar.vue
  frontend/src/router.ts
  frontend/src/stores/admin.ts
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminSchedulerView.vue
  frontend/src/views/AdminSystemView.vue
  frontend/src/views/AdminUsersView.vue
  frontend/src/views/AdminView.vue
Due: none

feat(vue): implement admin system health page
  frontend/src/stores/__tests__/admin.test.ts
  frontend/src/views/AdminSystemView.vue
Due: none

feat(vue): implement admin scheduler management page
  frontend/src/views/AdminSchedulerView.vue
Due: none

feat(vue): implement admin users and config pages
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminUsersView.vue
Due: none

test(vue): add admin panel E2E tests
  frontend/e2e/admin.spec.ts
Due: none

fix(test): add admin authelia sim and fix test Traefik port conflict
  deploy-containers/traefik/dynamic/test/middlewares.yml
  docker-compose.test.yml
  frontend/e2e/admin.spec.ts
Due: none

docs: add Docker Compose !override convention to CLAUDE.md
  CLAUDE.md
Due: validate-markdown-links

feat(admin): add production smoke tests across API, Vue, and CLI
  cli/ichrisbirch
  frontend/src/api/client.ts
  frontend/src/components/AdminSubnav.vue
  frontend/src/router.ts
  frontend/src/stores/admin.ts
  frontend/src/views/AdminSmokeView.vue
  frontend/src/views/AdminView.vue
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/smoke_tests.py
  ichrisbirch/schemas/admin.py
  tests/ichrisbirch/api/endpoints/test_admin_smoke.py
Due: pytest-affected, pytest-full

feat(vue): add priority column, ownership filter, and progress rename to books page
  frontend/src/stores/books.ts
  frontend/src/views/BooksView.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/pages/_books.scss
Due: none

refactor(admin): replace hardcoded smoke test endpoints with autodiscovery
  cli/ichrisbirch
  frontend/src/api/client.ts
  frontend/src/views/AdminSmokeView.vue
  ichrisbirch/api/smoke_tests.py
  ichrisbirch/schemas/admin.py
  pyproject.toml
  tests/ichrisbirch/api/endpoints/test_admin_smoke.py
Due: pytest-affected, pytest-full

feat!: add blue/green deployment for zero-downtime production deploys
  CLAUDE.md
  cli/health-check.sh
  cli/ichrisbirch
  deploy-containers/traefik/dynamic/prod/middlewares.yml
  deploy-containers/traefik/dynamic/prod/routing.yml
  docker-compose.app.yml
  docker-compose.infra.yml
  docs/blue-green-deployment.md
  docs/cli-traefik-usage.md
  docs/docker-development.md
  docs/homelab-deployment.md
  docs/troubleshooting/deployment-issues.md
  mkdocs.yml
  scripts/deploy-homelab.sh
Due: validate-markdown-links

fix(deploy): remove stale images before build to avoid BuildKit conflict
  scripts/deploy-homelab.sh
Due: none

fix(deploy): only build shared image on api service to avoid BuildKit race
  docker-compose.app.yml
  scripts/deploy-homelab.sh
Due: none

fix(deploy): read admin email from .env and improve smoke test logging
  docs/blue-green-deployment.md
  scripts/deploy-homelab.sh
Due: validate-markdown-links

fix(deploy): check all_passed not all_critical_passed in smoke tests
  scripts/deploy-homelab.sh
Due: none

feat!: combine test counts and capture failures in devstats
  .pre-commit-config.yaml
  cli/stats
  pyproject.toml
  stats/hooks/pytest_full.py
  stats/pre_commit_capture.py
  tests/stats/test_hooks/test_testing.py
  tests/stats/test_pre_commit_capture.py
Due: pytest-affected, pytest-full

test: skip Flask money_wasted tests (replaced by Vue E2E)
  tests/ichrisbirch/app/routes/test_money_wasted.py
Due: pytest-affected, pytest-full

test: skip Flask countdowns tests (replaced by Vue E2E)
  tests/ichrisbirch/app/routes/test_countdowns.py
Due: pytest-affected, pytest-full

test: skip Flask users tests (replaced by Vue E2E)
  tests/ichrisbirch/app/routes/test_users.py
Due: pytest-affected, pytest-full

test: skip Flask events tests (replaced by Vue E2E)
  tests/ichrisbirch/app/routes/test_events.py
Due: pytest-affected, pytest-full

test: skip Flask autotasks tests (replaced by Vue E2E)
  tests/ichrisbirch/app/routes/test_autotasks.py
Due: pytest-affected, pytest-full

test: skip Flask books tests (replaced by Vue E2E)
  tests/ichrisbirch/app/routes/test_books.py
Due: pytest-affected, pytest-full

test: skip Flask articles tests (replaced by Vue E2E)
  tests/ichrisbirch/app/routes/test_articles.py
Due: pytest-affected, pytest-full

test: skip Flask tasks tests (replaced by Vue E2E)
  tests/ichrisbirch/app/routes/test_tasks.py
Due: pytest-affected, pytest-full

test: skip Flask box_packing tests (replaced by Vue E2E)
  tests/ichrisbirch/app/routes/test_box_packing.py
Due: pytest-affected, pytest-full

test: skip Python Playwright countdowns tests (covered by TS E2E)
  tests/ichrisbirch/frontend/test_countdowns_page.py
Due: pytest-affected, pytest-full

test: skip Python Playwright events tests (covered by TS E2E)
  tests/ichrisbirch/frontend/test_events_page.py
Due: pytest-affected, pytest-full

fix(stats): exclude skipped tests from total count in stats display
  cli/stats
  stats/snapshot.py
Due: pytest-affected, pytest-full

refactor(vue): move submit issue button into sidebar and fix bevel button proportions
  frontend/src/App.vue
  frontend/src/components/AppSidebar.vue
  frontend/src/components/SubmitIssueButton.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/components/_buttons.scss
  ichrisbirch/app/static/sass/pages/_habits.scss
  ichrisbirch/app/static/sass/pages/_home.scss
Due: none

style(vue): add neumorphic shadows to sidebar nav links and document design conventions
  CLAUDE.md
  frontend/src/components/AppSidebar.vue
Due: validate-markdown-links

feat(vue): rework notification toast system with animations and auto-dismiss
  frontend/src/components/NotificationToast.vue
  frontend/src/composables/__tests__/useNotifications.test.ts
  frontend/src/composables/useNotifications.ts
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/components/_flash_messages.scss
Due: none

style(vue): restyle profile settings with neumorphic buttons and two-column theme layout
  frontend/src/views/ProfileSettingsView.vue
Due: none

feat(vue): rework books page with inline edit form, null field support, and column updates
  frontend/src/api/client.ts
  frontend/src/stores/books.ts
  frontend/src/views/BooksView.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/pages/_books.scss
Due: none

feat(scss): add OKLCH-derived shadow highlights and neu-button mixin
  frontend/src/components/AppSidebar.vue
  frontend/src/views/ProfileSettingsView.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/abstracts/_colors.scss
  ichrisbirch/app/static/sass/components/_buttons.scss
  ichrisbirch/app/static/sass/components/_flash_messages.scss
  ichrisbirch/app/static/sass/layout/_forms.scss
  ichrisbirch/app/static/sass/layout/_grid.scss
  ichrisbirch/app/static/sass/pages/_books.scss
  ichrisbirch/app/static/sass/pages/_habits.scss
  ichrisbirch/app/static/sass/pages/_logs.scss
Due: none

feat(vue): add admin/design page and refine neu-button mixin
  frontend/src/components/AdminSubnav.vue
  frontend/src/components/AppSidebar.vue
  frontend/src/router.ts
  frontend/src/views/AdminDesignView.vue
  frontend/src/views/AdminView.vue
  ichrisbirch/app/static/sass/components/_buttons.scss
Due: none

style(vue): apply neu-button mixin with scale transforms to sidebar and settings
  frontend/src/components/AppSidebar.vue
  frontend/src/views/ProfileSettingsView.vue
Due: none

fix(seed): generate event dates spanning past-to-future instead of all past
  scripts/seed/generator.py
Due: pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
