Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

fix(scripts): split the declarations that masked exit status
  cli/go.mod
  cli/internal/api/client.go
  cli/internal/auth/flow.go
  cli/internal/auth/flow_test.go
  cli/internal/cli/articles.go
  cli/internal/cli/auth.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/books.go
  cli/internal/cli/confirm.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/tasks.go
  deploy-containers/deploy-nginx.sh
  deploy-containers/deploy-redis.sh
  deploy-containers/deploy-supervisor.sh
  deploy-containers/traefik/generate-routing.sh
  deploy-containers/traefik/scripts/deploy.sh
  deploy-containers/traefik/scripts/setup-dev-environment.sh
  deploy-containers/traefik/scripts/ssl-manager.sh
  deploy-metal/deploy-nginx.sh
  deploy-metal/deploy-redis.sh
  deploy-metal/deploy-supervisor.sh
  ops/health-check.sh
  scripts/bash-lib/logging.sh
  scripts/bootstrap-homelab.sh
  scripts/deploy-homelab.sh
  scripts/new_server.sh
  scripts/start_postgres_container.sh
  scripts/track-gh-actions-workflow.sh
Due: none

style(scripts): conform the extensionless scripts to shfmt
  deploy-containers/prod/redis/redis_init_script
  deploy-metal/prod/redis/redis_init_script
  ops/db
  ops/icbops
Due: none

ci: decrypt the testing secrets before pytest
  .github/workflows/validate.yml
Due: none

ci: drop the second checkout that erased the decrypted .env
  .github/workflows/validate.yml
Due: none

ci: stand up the test services before pytest
  .github/workflows/validate.yml
  frontend/e2e/boxPacking.spec.ts
  frontend/e2e/countdowns.spec.ts
  frontend/e2e/durations.spec.ts
  frontend/index.html
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: validate-html

fix(ci): create the venv before starting the containers
  .github/workflows/validate.yml
Due: none

feat!: drop the upgrade alias for update
  cli/go.mod
  cli/go.sum
Due: none

ci: release the CLI automatically instead of by hand-pushed tag
  .github/workflows/release-cli.yml
Due: none

feat(books): filter the catalog by reading progress
  cli/internal/api/books.go
  cli/internal/api/books_test.go
  cli/internal/cli/books.go
  cli/internal/cli/overview.go
  ichrisbirch/api/endpoints/books.py
  tests/ichrisbirch/api/endpoints/test_books.py
Due: pytest-affected, pytest-full

docs(cli): describe the domain in help, not the session
  cli/internal/cli/articles.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/root.go
  cli/internal/cli/tasks.go
Due: none

docs(cli): state the rules as rules, not as API responses
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/items.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
Due: none

docs(claude): correct the Vue test script list
  CLAUDE.md
Due: validate-markdown-links

feat(projects): classify a project by the kind of work it is
  cli/internal/api/projects.go
  cli/internal/api/projects_test.go
  cli/internal/cli/items.go
  cli/internal/cli/items_test.go
  cli/internal/cli/projects.go
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/projects/AddEditProjectModal.vue
  frontend/src/views/ProjectsView.vue
  frontend/src/views/__tests__/ProjectsView.test.ts
  ichrisbirch/alembic/versions/a7b8c9d0e1f2_add_kind_to_projects.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/database/initialization.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/project.py
  scripts/seed/seeders/projects.py
  tests/ichrisbirch/api/endpoints/test_projects.py
  tests/test_data/projects.py
  tests/test_seed/test_projects_seeder.py
Due: pytest-affected, pytest-full

fix(autotasks): count only open tasks against max_concurrent
  ichrisbirch/scheduler/jobs.py
  tests/ichrisbirch/scheduler/test_jobs.py
Due: pytest-affected, pytest-full

feat(iam): deny DynamoDB auto scaling account-wide
  terraform/README.md
  terraform/iam.tf
Due: validate-markdown-links

chore(lint): regenerate pre-commit and shellcheck config
  .pre-commit-config.yaml
  .shellcheckrc
Due: none

perf(stats): stop walking .venv on every commit
  ops/icbops
  scripts/deploy-homelab.sh
  stats/collectors/files.py
  stats/collectors/radon.py
  stats/collectors/walk.py
  tests/stats/test_collectors/test_radon.py
  tests/stats/test_collectors/test_walk.py
Due: pytest-affected, pytest-full

fix(frontend): stop prettier formatting the mypy cache
  frontend/.prettierignore
Due: none

feat(projects): show open and completed counts per project
  cli/internal/api/projects.go
  cli/internal/api/projects_test.go
  cli/internal/cli/projects.go
  cli/internal/cli/projects_test.go
  frontend/src/api/types.ts
  frontend/src/views/__tests__/ProjectsView.test.ts
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/schemas/project.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

refactor(stats): use Path.walk instead of os.walk
  mkdocs_plugins/diagrams/analyzers/fixture_analyzer.py
  stats/collectors/walk.py
Due: pytest-affected, pytest-full

fix(docs): make the fixture analyzer match a real decorator
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_dependencies_function.svg
  docs/images/generated/fixture_dependencies_module.svg
  docs/images/generated/fixture_dependencies_session.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  docs/testing/fixtures.md
  mkdocs_plugins/diagrams/analyzers/fixture_analyzer.py
  mkdocs_plugins/diagrams/generate.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat: give project items a short number and take it anywhere
  frontend/src/api/types.ts
  ichrisbirch/alembic/versions/b8c9d0e1f2a3_add_number_to_project_items.py
  ichrisbirch/api/endpoints/project_item_tasks.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/project_item.py
  ichrisbirch/services/project_refs.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

feat(cli): print and accept the item number across icb
  cli/internal/api/project_items.go
  cli/internal/api/projects.go
  cli/internal/cli/items.go
  cli/internal/cli/items_test.go
  cli/internal/cli/projects.go
  ichrisbirch/schemas/project_item.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

feat: accept a project name in the item create body
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/schemas/project_item.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

fix(deploy): reap orphaned containers on blue/green up and down
  scripts/deploy-homelab.sh
Due: none

fix(icbops): stop the prod checks reporting a healthy production as down
  ops/icbops
Due: none

chore: drop the last references to the retired MCP servers
  cli/internal/api/recipes.go
  frontend/src/views/ProfileView.vue
  ops/log_viewer.py
Due: pytest-affected, pytest-full

feat(patterns): add patterns as an ichrisbirch app
  cli/internal/api/patterns.go
  cli/internal/api/patterns_test.go
  cli/internal/cli/patterns.go
  cli/internal/cli/root.go
  ichrisbirch/alembic/versions/87fb375b2531_add_patterns_table.py
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/patterns.py
  ichrisbirch/api/main.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/pattern.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/pattern.py
  scripts/import_dotfiles_patterns.py
  scripts/seed/seeders/__init__.py
  scripts/seed/seeders/patterns.py
  tests/ichrisbirch/api/endpoints/test_patterns.py
  tests/test_data/__init__.py
  tests/test_data/patterns.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

feat(projects): make repo a first-class read axis
  cli/internal/api/client_test.go
  cli/internal/api/project_items.go
  cli/internal/api/projects.go
  cli/internal/api/projects_test.go
  cli/internal/api/repo_filter_test.go
  cli/internal/cli/items.go
  cli/internal/cli/overview.go
  cli/internal/cli/projects.go
  cli/internal/cli/projects_test.go
  cli/internal/cli/repo_flag_test.go
  cli/internal/repos/repos.go
  cli/internal/repos/repos_test.go
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/project.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

feat(projects): give a project a terminal status
  cli/README.md
  cli/internal/api/client_test.go
  cli/internal/api/projects.go
  cli/internal/api/projects_test.go
  cli/internal/api/repo_filter_test.go
  cli/internal/cli/projects.go
  cli/internal/cli/projects_test.go
  cli/internal/cli/root_test.go
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/projects/DropProjectModal.vue
  frontend/src/stores/__tests__/projects.test.ts
  frontend/src/stores/projects.ts
  frontend/src/views/ProjectsView.vue
  frontend/src/views/__tests__/ProjectsView.test.ts
  ichrisbirch/alembic/versions/c9d0e1f2a3b4_add_status_to_projects.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/database/initialization.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/project.py
  ichrisbirch/services/project_refs.py
  scripts/seed/seeders/projects.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: validate-markdown-links, pytest-affected, pytest-full

chore(lint): ignore the generated CHANGELOG.md
  .markdownlintignore
Due: none

feat(cli): refuse a project named after a repo
  CLAUDE.md
  cli/README.md
  cli/internal/cli/projects.go
  cli/internal/cli/projects_test.go
  cli/internal/repos/repos.go
  cli/internal/repos/repos_test.go
Due: validate-markdown-links

feat(cli)!: rename the view verb to show
  cli/README.md
  cli/internal/cli/articles.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/books.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/patterns.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/root_test.go
  cli/internal/cli/tasks.go
Due: validate-markdown-links

fix(cli): honor cobracmd's usage classification in exitCodeFor
  cli/go.mod
  cli/go.sum
  cli/internal/cli/root.go
Due: none

fix(cli): keep diagnostics off stdout
  cli/internal/cli/articles.go
  cli/internal/cli/auth.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  cli/internal/cli/projects.go
  cli/internal/cli/streams_test.go
Due: none

feat(cli): never prompt a caller that cannot answer
  cli/go.mod
  cli/go.sum
  cli/internal/cli/articles.go
  cli/internal/cli/books.go
  cli/internal/cli/confirm.go
  cli/internal/cli/confirm_test.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/items.go
  cli/internal/cli/patterns.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/root.go
  cli/internal/cli/tasks.go
Due: none

fix(db): stop taking a password as a CLI flag
  ichrisbirch/database/initialization.py
Due: pytest-affected, pytest-full

chore: regenerate pre-commit config at toolchain 12
  .editorconfig
  .pre-commit-config.yaml
Due: none

chore: regenerate pre-commit config at toolchain 13
  .pre-commit-config.yaml
Due: none

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
