Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-html, pytest

validate-html:
  name: validate html against w3c standards
  stages:
  - commit
  language: system
  entry: python scripts/validate_html.py
  pass_filenames: true
  always_run: false

pytest:
  name: pytest with coverage
  stages:
  - commit
  language: system
  entry: zsh -c 'export ENVIRONMENT=testing && pytest --cov=ichrisbirch'
  pass_filenames: false
  always_run: false

test: add all testing users to do not delete list in test util
  tests/conftest.py
  tests/ichrisbirch/app/routes/test_auth.py
  tests/util.py
Due: pytest

feat(chat): fix username key error in multiple login attempts
  ichrisbirch/chat/app.py
Due: pytest

test: remove logging of users table for all api requests
  tests/ichrisbirch/api/endpoints/crud_test.py
Due: pytest

fix(chat/login): use service account and query api for credentials after api requiring auth on all endpoints
  ichrisbirch/app/query_api.py
  ichrisbirch/chat/api.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/auth.py
Due: pytest

refactor: remove flask_login calls from api service account
  ichrisbirch/app/query_api.py
  ichrisbirch/app/routes/auth.py
  ichrisbirch/chat/auth.py
Due: pytest

feat(autotasks): add max_concurrent to table and model
  ichrisbirch/alembic/versions/a8839aab2b38_autotasks_add_max_concurrent_to_table_.py
  ichrisbirch/models/autotask.py
Due: pytest

feat(autotasks): set max_concurrent to 2 for all and make not nullable
  ichrisbirch/alembic/versions/e8cc676580bc_autotasks_set_max_concurrent_to_2_for_.py
  ichrisbirch/models/autotask.py
Due: pytest

feat(autotasks): add max_concurrent to schemas
  ichrisbirch/schemas/autotask.py
Due: pytest

feat(autotasks): do not add new tasks if already at max_concurrent
  ichrisbirch/scheduler/jobs.py
  poetry.lock
  pyproject.toml
  tests/ichrisbirch/scheduler/test_jobs.py
Due: pytest

chore(autotasks): manually remove all autotask tasks above max_concurrency
  ichrisbirch/alembic/versions/bb9555ffa490_autotasks_manual_remove_all_autotask_.py
Due: pytest

style: adjust css colors for better contrast and matching
  ichrisbirch/app/static/sass/abstracts/_colors.scss
Due: none

fix(tasks): remove flashing border from tasks
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/pages/_tasks.scss
Due: none

feat(tasks): add compact view to all pages
  .pre-commit-config.yaml
  ichrisbirch/app/routes/tasks.py
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/layout/_grid.scss
  ichrisbirch/app/static/sass/pages/_tasks.scss
  ichrisbirch/app/templates/base.html
  ichrisbirch/app/templates/box_packing/all.html
  ichrisbirch/app/templates/tasks/completed.html
  ichrisbirch/app/templates/tasks/index.html
  ichrisbirch/app/templates/tasks/macros.jinja.html
  ichrisbirch/app/templates/tasks/search.html
  ichrisbirch/app/templates/tasks/task-info-bar.jinja.html
  ichrisbirch/app/templates/tasks/templates/completed-block.jinja.html
  ichrisbirch/app/templates/tasks/templates/completed-compact.jinja.html
  ichrisbirch/app/templates/tasks/templates/completed.jinja.html
  ichrisbirch/app/templates/tasks/templates/priority-block.jinja.html
  ichrisbirch/app/templates/tasks/templates/priority-compact.jinja.html
  ichrisbirch/app/templates/tasks/templates/priority.jinja.html
  ichrisbirch/app/templates/tasks/templates/todo-block.jinja.html
  ichrisbirch/app/templates/tasks/templates/todo-compact.jinja.html
  ichrisbirch/app/templates/tasks/templates/todo.jinja.html
  ichrisbirch/app/templates/tasks/todo.html
  ichrisbirch/app/templates/toggle-compact-view.jinja.html
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/ichrisbirch/api/endpoints/test_auth.py
  tests/ichrisbirch/app/routes/test_tasks.py
  tests/ichrisbirch/frontend/fixtures.py
  tests/util.py
Due: validate-html, pytest

feat(user/preferences): allow setting of nested preferences with validation
  ichrisbirch/app/routes/users.py
  ichrisbirch/models/user.py
  tests/ichrisbirch/models/test_user.py
Due: pytest

feat(user/preferences): add method to convert dot separated preferences to nested dicts
  ichrisbirch/models/user.py
  tests/ichrisbirch/models/test_user.py
Due: pytest

build: use extra verbose for pytest in pre-commit
  .pre-commit-config.yaml
  ichrisbirch/app/routes/users.py
Due: pytest

feat(users/preferences): create and test migrations script for updating user preferences
  scripts/update_user_preferences_migration.py
  tests/scripts/test_update_user_preferences_migration.py
Due: pytest

refactor: move toggle-block-compact-view to _components in templates
  ichrisbirch/app/templates/_components/toggle-block-compact-view.jinja.html
Due: validate-html

feat(tasks): add view preference for each task page
  ichrisbirch/app/query_api.py
  ichrisbirch/app/routes/users.py
  ichrisbirch/app/templates/_components/toggle-block-compact-view.jinja.html
  ichrisbirch/app/templates/tasks/add.html
  ichrisbirch/app/templates/tasks/addtask.jinja.html
  ichrisbirch/app/templates/tasks/base.html
  ichrisbirch/app/templates/tasks/completed.html
  ichrisbirch/app/templates/tasks/index.html
  ichrisbirch/app/templates/tasks/search.html
  ichrisbirch/app/templates/tasks/task-info-bar.jinja.html
  ichrisbirch/app/templates/users/profile.html
Due: validate-html, pytest

feat(user/db/preferences): run migration to update user prefs to nested dict
  ichrisbirch/alembic/versions/370978067d9d_user_preferences_update_preferences_.py
  ichrisbirch/models/user.py
Due: pytest

Path conditions:
  validate-html: any of: \.(html|htm|xhtml)$
  pytest: any of: \.py$
