Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

feat(recipes): add yt-dlp-based YouTube metadata helper
  ichrisbirch/services/url_extraction.py
  pyproject.toml
  tests/ichrisbirch/services/__init__.py
  tests/ichrisbirch/services/test_url_extraction.py
  uv.lock
Due: pytest-affected, pytest-full

feat(recipes): add URL import schemas and classifier prompt
  ichrisbirch/ai/prompts/url_import_classifier.txt
  ichrisbirch/config.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/recipe.py
  tests/ichrisbirch/schemas/test_recipe_url_import_schema.py
Due: pytest-affected, pytest-full

feat(recipes): add URL import endpoints and ingest pipeline
  ichrisbirch/ai/prompts/url_import_classifier.txt
  ichrisbirch/api/endpoints/recipes.py
  ichrisbirch/schemas/recipe.py
  ichrisbirch/services/url_ingest.py
  tests/ichrisbirch/api/endpoints/test_recipes.py
Due: pytest-affected, pytest-full

feat(recipes): add MCP tools for URL-ingest and save
  ichrisbirch/mcp/server.py
  tests/ichrisbirch/mcp/test_mcp_server.py
Due: pytest-affected, pytest-full

feat(recipes): add Vue UI for URL import
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/recipes/RecipeCandidateCard.vue
  frontend/src/config/subnavLinks.ts
  frontend/src/router.ts
  frontend/src/stores/recipes.ts
  frontend/src/views/RecipesImportFromUrlView.vue
  frontend/src/views/__tests__/RecipesImportFromUrlView.test.ts
Due: none

fix(recipes): extend axios timeout to 180s for AI endpoints
  frontend/src/stores/recipes.ts
Due: none

fix(db): allow dev db reset and drop zombie tables
  CLAUDE.md
  cli/db
  docs/alembic.md
  docs/cli-traefik-usage.md
  docs/troubleshooting/database-issues.md
  ichrisbirch/database/initialization.py
  ichrisbirch/database/reset_database.py
  ichrisbirch/database/reset_test_database.py
Due: validate-markdown-links, pytest-affected, pytest-full

chore(secrets): add Anthropic API key and default model to prod
  secrets/secrets.prod.enc.env
Due: none

chore(secrets): keep AI_ANTHROPIC_* adjacent to AI_OPENAI_* in prod
  secrets/secrets.prod.enc.env
Due: none

feat(tasks)!: redesign priority as positional rank
  docs/scheduler.md
  frontend/e2e/tasks.spec.ts
  frontend/src/assets/sass/pages/_tasks.scss
  frontend/src/components/tasks/AddEditTaskModal.vue
  frontend/src/components/tasks/TaskBlockPriority.vue
  frontend/src/components/tasks/TaskBlockTodo.vue
  frontend/src/components/tasks/TaskCompactPriority.vue
  frontend/src/components/tasks/TaskCompactTodo.vue
  frontend/src/components/tasks/TaskInfoBar.vue
  frontend/src/components/tasks/TasksSubnav.vue
  frontend/src/components/tasks/taskUtils.ts
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/stores/__tests__/tasks.test.ts
  frontend/src/stores/auth.ts
  frontend/src/stores/tasks.ts
  frontend/src/views/TasksView.vue
  frontend/src/views/__tests__/TasksView.test.ts
  ichrisbirch/alembic/versions/c5d6e7f8a9b0_compact_task_priorities.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/models/task.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/schemas/task.py
  ichrisbirch/services/task_priorities.py
  scripts/seed/seeders/tasks.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/ichrisbirch/scheduler/test_jobs.py
  tests/ichrisbirch/schemas/test_task_schema.py
  tests/test_data/tasks.py
Due: validate-markdown-links, pytest-affected, pytest-full

docs: promote rebuild --volumes to default for test container updates
  CLAUDE.md
Due: validate-markdown-links

docs: reframe container update guidance as escalation ladder
  CLAUDE.md
  docs/cli-traefik-usage.md
Due: validate-markdown-links

feat(logging): structured CLI viewer + scheduler job_run_id correlation
  cli/__init__.py
  cli/icb
  cli/log_viewer.py
  docker-compose.dev.yml
  docker-compose.test.yml
  docs/cli-traefik-usage.md
  docs/logging-configuration.md
  docs/scheduler.md
  frontend/src/utils/logger.ts
  ichrisbirch/alembic/versions/d5e6f7a8b9c0_add_job_run_id_to_scheduler_job_runs.py
  ichrisbirch/models/scheduler_job_run.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/schemas/scheduler.py
  pyproject.toml
  tests/cli/__init__.py
  tests/cli/test_log_viewer.py
Due: validate-markdown-links, pytest-affected, pytest-full

chore(docs): normalize markdown table style to fix MD060 site-wide
  CLAUDE.md
  docs/add_new_app.md
  docs/admin.md
  docs/alembic.md
  docs/api/client/auth.md
  docs/api/client/migration.md
  docs/api/client/summary.md
  docs/blue-green-deployment.md
  docs/cicd.md
  docs/cli-traefik-usage.md
  docs/docker/docker-compose.md
  docs/domain_names.md
  docs/homelab-deployment.md
  docs/project_layout.md
  docs/testing/environment.md
  docs/testing/fixtures.md
  docs/testing/overview.md
  docs/testing/persistent-logging.md
  docs/traefik-deployment.md
  docs/troubleshooting/cli-commands.md
  docs/troubleshooting/index.md
  docs/troubleshooting/ssl-certificates.md
  docs/troubleshooting/testing-issues.md
  docs/vue-frontend.md
  terraform/README.md
Due: validate-markdown-links

ci(release): build production images on GHA and push to ghcr.io
  .github/workflows/release.yml
Due: none

feat(deploy): pull production images from ghcr.io
  docker-compose.app.yml
  scripts/deploy-homelab.sh
Due: none

chore(ci): remove deploy-homelab.yml (superseded by release.yml + workflow_run webhook)
  .github/workflows/deploy-homelab.yml
Due: none

fix(mcp): add /health route so healthcheck stops leaking sessions
  docker-compose.app.yml
  ichrisbirch/mcp/server.py
Due: pytest-affected, pytest-full

docs: adopt shared mkdocs standard, add hub artifact, fix links
  .github/workflows/deploy-docs.yml
  docs/alembic.md
  docs/index.md
  mkdocs.yml
Due: validate-markdown-links

docs: add back-link to hub in docs nav
  mkdocs.yml
Due: none

docs: document dev-vs-prod MCP routing convention
  CLAUDE.md
Due: validate-markdown-links

chore(docs): regenerate testing diagrams
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/test_writing_workflow.svg
  docs/images/generated/testing_overview.svg
Due: none

test(events): make Events fixtures time-relative
  frontend/src/stores/__tests__/events.test.ts
  frontend/src/views/__tests__/EventsView.test.ts
Due: none

chore(frontend): normalize peer metadata in package-lock
  frontend/package-lock.json
Due: none

docs(terraform): normalize generated table formatting
  terraform/README.md
Due: validate-markdown-links

feat(iam): allow glue and logs in cloud-developer
  terraform/iam.tf
Due: none

refactor(cli): rename ops tool icb to icbops
  .pre-commit-config.yaml
  CLAUDE.md
  cli/icbops
  deploy-containers/traefik/dynamic/dev/routing.yml
  deploy-containers/traefik/dynamic/prod/routing.yml
  deploy-containers/traefik/dynamic/test/routing.yml
  deploy-containers/traefik/vue-paths.txt
  docker-compose.dev.yml
  docker-compose.test.yml
  docs/add_new_app.md
  docs/blue-green-deployment.md
  docs/cicd.md
  docs/cli-traefik-usage.md
  docs/developer_setup.md
  docs/docker-development.md
  docs/docker/docker-compose.md
  docs/homelab-deployment.md
  docs/logging-configuration.md
  docs/nginx-to-traefik-migration-complete.md
  docs/project_layout.md
  docs/quick-start.md
  docs/testing/environment.md
  docs/testing/overview.md
  docs/testing/persistent-logging.md
  docs/traefik-deployment.md
  docs/troubleshooting/cli-commands.md
  docs/troubleshooting/database-issues.md
  docs/troubleshooting/deployment-issues.md
  docs/troubleshooting/docker-issues.md
  docs/troubleshooting/ssl-certificates.md
  docs/troubleshooting/testing-issues.md
  docs/vue-frontend.md
  scripts/bootstrap-homelab.sh
  scripts/profile_test_fixtures.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat(cli): scaffold icb resource CLI with Authelia auth
  CLAUDE.md
  docs/project_layout.md
  icb-cli/.gitignore
  icb-cli/Makefile
  icb-cli/README.md
  icb-cli/go.mod
  icb-cli/go.sum
  icb-cli/internal/auth/flow.go
  icb-cli/internal/auth/flow_test.go
  icb-cli/internal/auth/store.go
  icb-cli/internal/auth/store_test.go
  icb-cli/internal/cli/auth.go
  icb-cli/internal/cli/root.go
  icb-cli/internal/cli/root_test.go
  icb-cli/internal/config/config.go
  icb-cli/internal/config/config_test.go
  icb-cli/main.go
Due: validate-markdown-links

feat(cli): add icb projects resource group
  icb-cli/README.md
  icb-cli/internal/api/client.go
  icb-cli/internal/api/client_test.go
  icb-cli/internal/api/projects.go
  icb-cli/internal/api/projects_test.go
  icb-cli/internal/cli/client.go
  icb-cli/internal/cli/confirm.go
  icb-cli/internal/cli/projects.go
  icb-cli/internal/cli/root.go
  icb-cli/internal/cli/root_test.go
Due: validate-markdown-links

feat(cli): add icb items group for project items
  icb-cli/README.md
  icb-cli/internal/api/project_item_tasks.go
  icb-cli/internal/api/project_items.go
  icb-cli/internal/api/project_items_test.go
  icb-cli/internal/cli/items.go
  icb-cli/internal/cli/root.go
  icb-cli/internal/cli/root_test.go
Due: validate-markdown-links

feat(cli): add icb tasks group
  icb-cli/README.md
  icb-cli/internal/api/tasks.go
  icb-cli/internal/api/tasks_test.go
  icb-cli/internal/cli/root.go
  icb-cli/internal/cli/root_test.go
  icb-cli/internal/cli/tasks.go
Due: validate-markdown-links

feat(cli): add icb countdowns and events groups
  icb-cli/README.md
  icb-cli/internal/api/countdowns.go
  icb-cli/internal/api/countdowns_events_test.go
  icb-cli/internal/api/events.go
  icb-cli/internal/cli/countdowns.go
  icb-cli/internal/cli/events.go
  icb-cli/internal/cli/root.go
  icb-cli/internal/cli/root_test.go
Due: validate-markdown-links

feat(cli): add icb habits group
  icb-cli/README.md
  icb-cli/internal/api/habits.go
  icb-cli/internal/api/habits_test.go
  icb-cli/internal/cli/habits.go
  icb-cli/internal/cli/root.go
  icb-cli/internal/cli/root_test.go
Due: validate-markdown-links

feat(cli): add icb books group
  icb-cli/README.md
  icb-cli/internal/api/books.go
  icb-cli/internal/api/books_test.go
  icb-cli/internal/cli/books.go
  icb-cli/internal/cli/root.go
  icb-cli/internal/cli/root_test.go
Due: validate-markdown-links

feat(cli): add icb articles group
  icb-cli/README.md
  icb-cli/internal/api/articles.go
  icb-cli/internal/api/articles_test.go
  icb-cli/internal/cli/articles.go
  icb-cli/internal/cli/root.go
  icb-cli/internal/cli/root_test.go
Due: validate-markdown-links

ci: run ruff from locked version via uv run
  .github/workflows/validate-project.yml
Due: none

feat(cli): add icb autotasks group
  icb-cli/README.md
  icb-cli/internal/api/autotasks.go
  icb-cli/internal/api/autotasks_test.go
  icb-cli/internal/cli/autotasks.go
  icb-cli/internal/cli/root.go
Due: validate-markdown-links

feat(cli): add icb articles bulk-import verbs
  icb-cli/README.md
  icb-cli/internal/api/articles.go
  icb-cli/internal/api/articles_test.go
  icb-cli/internal/cli/articles.go
Due: validate-markdown-links

feat(cli): add icb cooking-techniques group
  icb-cli/README.md
  icb-cli/internal/api/cooking_techniques.go
  icb-cli/internal/api/cooking_techniques_test.go
  icb-cli/internal/cli/cooking_techniques.go
  icb-cli/internal/cli/root.go
Due: validate-markdown-links

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
