Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$

fix(seed): cap seeded habits to 10 by selecting random subset
  scripts/seed/generator.py
Due: pytest-affected, pytest-full

feat!: replace GridStack dashboard with custom Vue CSS Grid engine
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/sass/main.scss
  frontend/src/components/dashboard/DashboardWidget.vue
  frontend/src/components/dashboard/WidgetArticles.vue
  frontend/src/components/dashboard/WidgetBooks.vue
  frontend/src/components/dashboard/WidgetCountdowns.vue
  frontend/src/components/dashboard/WidgetEvents.vue
  frontend/src/components/dashboard/WidgetHabits.vue
  frontend/src/components/dashboard/WidgetMoneyWasted.vue
  frontend/src/composables/__tests__/gridMath.test.ts
  frontend/src/composables/gridMath.ts
  frontend/src/composables/useDashboard.ts
  frontend/src/composables/useVueDash.ts
  frontend/src/router.ts
  frontend/src/views/DashboardView.vue
  frontend/src/views/VueDashView.vue
  ichrisbirch/app/static/sass/components/_dashboard_widgets.scss
  ichrisbirch/models/user.py
Due: validate-html, pytest-affected, pytest-full

feat(vue): show todo and done habits grouped by category on dashboard widget
  frontend/src/components/dashboard/WidgetHabits.vue
  ichrisbirch/app/static/sass/components/_dashboard_widgets.scss
Due: none

feat!: migrate Tasks from Flask to Vue — last page, completes frontend migration
  deploy-containers/traefik/dynamic/prod/routing.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/src/api/client.ts
  frontend/src/assets/sass/main.scss
  frontend/src/components/AppSidebar.vue
  frontend/src/components/tasks/AddTaskModal.vue
  frontend/src/components/tasks/CompletedChart.vue
  frontend/src/components/tasks/TaskBlockCompleted.vue
  frontend/src/components/tasks/TaskBlockPriority.vue
  frontend/src/components/tasks/TaskBlockTodo.vue
  frontend/src/components/tasks/TaskCompactCompleted.vue
  frontend/src/components/tasks/TaskCompactPriority.vue
  frontend/src/components/tasks/TaskCompactTodo.vue
  frontend/src/components/tasks/TaskInfoBar.vue
  frontend/src/components/tasks/TasksSubnav.vue
  frontend/src/components/tasks/taskUtils.ts
  frontend/src/router.ts
  frontend/src/stores/autotasks.ts
  frontend/src/stores/tasks.ts
  frontend/src/views/TasksView.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/components/_add_task_modal.scss
  ichrisbirch/app/static/sass/main.scss
Due: none

chore: delete useless TODO.md
  TODO.md
Due: validate-markdown-links

feat: add FastAPI endpoint for GitHub issue creation from Vue submit-issue modal
  frontend/src/components/SubmitIssueModal.vue
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/github_issues.py
  ichrisbirch/api/main.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/github_issue.py
Due: pytest-affected, pytest-full

fix(vue): update completed-today list immediately when task is completed
  frontend/src/stores/tasks.ts
  frontend/src/views/TasksView.vue
Due: none

chore: skip all Flask app tests via collect_ignore
  tests/ichrisbirch/app/conftest.py
Due: pytest-affected, pytest-full

fix: skip mypy on non-Python commits by removing always_run
  .pre-commit-config.yaml
Due: none

fix(devstats): rename ruff→ruff_check, fix sass capture, show all hooks in quality report
  cli/stats
  pyproject.toml
  stats/config.py
  stats/hooks/__init__.py
  stats/hooks/ruff_check.py
  stats/hooks/ruff_format.py
  stats/hooks/sass.py
  stats/schemas/__init__.py
  stats/schemas/hooks/ruff_check.py
  stats/snapshot.py
  tests/stats/test_config.py
  tests/stats/test_hooks/test_discovery.py
  tests/stats/test_hooks/test_ruff_check.py
  tests/stats/test_hooks/test_sass.py
  tests/stats/test_pre_commit_capture.py
  tests/stats/test_schemas/test_event_union.py
Due: pytest-affected, pytest-full

feat(ui): add neumorphic DatePicker Vue component
  frontend/src/assets/sass/main.scss
  frontend/src/components/DatePicker.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/components/_datepicker.scss
  ichrisbirch/app/static/sass/main.scss
Due: none

feat(ui): replace all native date inputs with DatePicker component
  frontend/src/views/BooksView.vue
  frontend/src/views/CountdownsView.vue
  frontend/src/views/DurationsView.vue
  frontend/src/views/MoneyWastedView.vue
Due: none

fix(ui): add max-width to DatePicker to prevent full-width blowout
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/components/_datepicker.scss
Due: none

test(tasks): add unit tests for tasks store and E2E tests for tasks page
  frontend/e2e/tasks.spec.ts
  frontend/src/stores/__tests__/tasks.test.ts
Due: none

ci: add vue-test pre-commit hook for build check and Vitest
  .pre-commit-config.yaml
Due: none

ci: add Playwright E2E pre-commit hook for Vue frontend
  .pre-commit-config.yaml
Due: none

ci: auto-start test containers in vue-e2e pre-commit hook
  .pre-commit-config.yaml
Due: none

feat(cli): add subcommand help, is-ready, and ensure commands
  .pre-commit-config.yaml
  cli/ichrisbirch
Due: none

fix(ui): add id and required props to DatePicker, fix broken E2E tests
  CLAUDE.md
  frontend/e2e/books.spec.ts
  frontend/e2e/durations.spec.ts
  frontend/e2e/profile.spec.ts
  frontend/src/components/DatePicker.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/CountdownsView.vue
  frontend/src/views/DurationsView.vue
  frontend/src/views/MoneyWastedView.vue
Due: validate-markdown-links

refactor: move stats data to stats/data/ for Syncthing sync
  .gitignore
  cli/stats
  pyproject.toml
  stats/config.py
  stats/post_commit_collect.py
  stats/pre_commit_capture.py
  stats/snapshot.py
Due: pytest-affected, pytest-full

test(e2e): add Playwright tests for Home page
  frontend/e2e/home.spec.ts
Due: none

ci: add Playwright setup project to gate E2E on environment health
  frontend/e2e/global.setup.ts
  frontend/playwright.config.ts
Due: none

fix(api): handle empty task list in reset-priorities endpoint
  ichrisbirch/api/endpoints/tasks.py
Due: pytest-affected, pytest-full

refactor: replace DB drop/recreate with TRUNCATE for test lifecycle
  CLAUDE.md
  cli/db
  cli/ichrisbirch
  docs/cli-traefik-usage.md
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/test_writing_workflow.svg
  docs/images/generated/testing_overview.svg
  docs/testing/environment.md
  docs/testing/fixtures.md
  docs/troubleshooting/database-issues.md
  ichrisbirch/database/initialization.py
  mkdocs_plugins/diagrams/renderers/fixture_diagram_renderer.py
  tests/conftest.py
  tests/environment.py
  tests/ichrisbirch/api/endpoints/test_users.py
  tests/ichrisbirch/frontend/test_auth_page.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest-affected, pytest-full

fix: prevent devstats diagram hook from modifying working tree
  CLAUDE.md
  mkdocs_plugins/diagrams/generate.py
  stats/hooks/generate_fixture_diagrams.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(ci): add database initialization step before pytest
  .github/workflows/validate-project.yml
Due: none

fix: create stats/data/timing with parents for CI
  stats/post_commit_collect.py
  stats/pre_commit_capture.py
Due: pytest-affected, pytest-full

test(e2e): add Playwright tests for Dashboard page
  frontend/e2e/dashboard.spec.ts
Due: none

test(e2e): add Playwright tests for AutoTasks and Article subpages
  frontend/e2e/article-subpages.spec.ts
  frontend/e2e/autotasks.spec.ts
Due: none

test(e2e): add book edit round-trip test
  frontend/e2e/books.spec.ts
Due: none

test(e2e): add task extend test
  frontend/e2e/tasks.spec.ts
Due: none

test(e2e): add autotask run test with run count verification
  frontend/e2e/autotasks.spec.ts
Due: none

test(e2e): add habit hibernate and revive test
  frontend/e2e/habits.spec.ts
Due: none

test(e2e): add article archive and mark read tests
  frontend/e2e/articles.spec.ts
Due: none

test: skip Python frontend tests, all ported to Vue E2E
  tests/ichrisbirch/frontend/conftest.py
Due: pytest-affected, pytest-full

refactor(scss): extract shared admin styles to global _admin.scss
  frontend/src/assets/sass/main.scss
  frontend/src/assets/sass/pages/_admin.scss
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminSchedulerView.vue
  frontend/src/views/AdminSmokeView.vue
  frontend/src/views/AdminSystemView.vue
  frontend/src/views/AdminUsersView.vue
Due: none

refactor: convert Countdowns to AddEditModal pattern with data-testid
  CLAUDE.md
  frontend/e2e/countdowns.spec.ts
  frontend/src/components/AddEditModal.vue
  frontend/src/components/countdowns/AddEditCountdownModal.vue
  frontend/src/components/tasks/AddEditTaskModal.vue
  frontend/src/views/CountdownsView.vue
Due: validate-markdown-links

refactor: add data-testid to Tasks components and rewrite E2E tests
  frontend/e2e/tasks.spec.ts
  frontend/src/components/tasks/AddEditTaskModal.vue
  frontend/src/components/tasks/TaskBlockTodo.vue
  frontend/src/components/tasks/TaskCompactTodo.vue
  frontend/src/components/tasks/TaskInfoBar.vue
  frontend/src/components/tasks/TasksSubnav.vue
Due: none

refactor: add createCountdown helper to countdowns E2E tests
  frontend/e2e/countdowns.spec.ts
Due: none
