Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

fix(strains): render cbd as CBD, and share one humanizer between the two views
  frontend/src/components/strains/AddEditStrainModal.vue
  frontend/src/stores/__tests__/strains.test.ts
  frontend/src/stores/strains.ts
  frontend/src/views/StrainsView.vue
Due: none

fix(strains): close the review's eight correctness findings and its rule breaks
  cli/internal/api/strains.go
  cli/internal/api/strains_test.go
  cli/internal/cli/strains.go
  cli/internal/cli/strains_test.go
  docs/add_new_app.md
  frontend/e2e/strains.spec.ts
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/assets/sass/components/_sortable_table.scss
  frontend/src/assets/sass/layout/_grid.scss
  frontend/src/assets/sass/pages/_books.scss
  frontend/src/assets/sass/pages/_strains.scss
  frontend/src/components/AppSidebar.vue
  frontend/src/components/strains/AddEditStrainModal.vue
  frontend/src/stores/__tests__/strains.test.ts
  frontend/src/stores/strains.ts
  frontend/src/views/StrainsView.vue
  frontend/src/views/__tests__/AddEditStrainModal.test.ts
  frontend/src/views/__tests__/StrainsView.test.ts
  ichrisbirch/alembic/versions/e4f5a6b7c8d9_add_strains_tables.py
  ichrisbirch/api/endpoints/strains.py
  ichrisbirch/models/strain.py
  ichrisbirch/schemas/strain.py
  scripts/seed/seeders/strains.py
  tests/ichrisbirch/api/endpoints/test_strains.py
  tests/test_data/strains.py
Due: validate-markdown-links, pytest-affected, pytest-full

docs: trim CLAUDE.md to what a session in this repo needs
  CLAUDE.md
  docs/dependency-reach.md
  mkdocs.yml
Due: validate-markdown-links

feat(cli): name the near subcommands when a word names none
  cli/go.mod
  cli/go.sum
  cli/internal/cli/root.go
  cli/internal/cli/root_test.go
Due: none

fix(deps): take goclilogin v0.3.1 so a remote login can complete
  cli/go.mod
  cli/go.sum
Due: none

fix(api): answer a failed dependency as 424, which Cloudflare passes through
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/github_issues.py
  ichrisbirch/api/endpoints/recipes.py
  ichrisbirch/api/exceptions.py
  ichrisbirch/api/main.py
  ichrisbirch/services/url_ingest.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_github_issues.py
  tests/ichrisbirch/api/endpoints/test_recipes.py
  tests/ichrisbirch/api/test_exceptions.py
  tests/ichrisbirch/services/test_url_ingest.py
Due: pytest-affected, pytest-full

ci: pin the docker actions to a commit
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: none

chore(precommit): regenerate from the standard blocks
  .pre-commit-config.yaml
Due: none

docs: name the driver, the ops CLI and the habit columns that exist
  docs/docker/docker-quick-reference.md
  docs/docker/docker.md
  docs/troubleshooting/database-issues.md
  docs/troubleshooting/docker-issues.md
Due: validate-markdown-links

fix(frontend): key an unlinked habit completion by category as well as name
  frontend/src/stores/__tests__/habits.test.ts
  frontend/src/stores/habits.ts
Due: none

feat(cli): add icb habits today, the day's habits board
  cli/README.md
  cli/internal/cli/habits.go
  cli/internal/cli/habits_test.go
  cli/internal/cli/overview.go
Due: validate-markdown-links

fix(api): give the habit completions read the shared row limit
  ichrisbirch/api/endpoints/habits.py
  tests/ichrisbirch/api/endpoints/test_habits.py
  tests/ichrisbirch/api/endpoints/test_row_limited_reads.py
Due: pytest-affected, pytest-full

test(api): fail on a new collection read that takes no row limit
  tests/ichrisbirch/api/endpoints/test_row_limited_reads.py
Due: pytest-affected, pytest-full

feat(api): add GET /habits/day/, the day's board composed server-side
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/habitday.py
  ichrisbirch/services/habit_day.py
  tests/ichrisbirch/api/endpoints/test_habits.py
  tests/ichrisbirch/services/test_habit_day.py
Due: pytest-affected, pytest-full

refactor(cli): read the day's habits from /habits/day/ instead of joining locally
  cli/internal/api/habits.go
  cli/internal/cli/habits.go
  cli/internal/cli/habits_test.go
  cli/internal/cli/localzone.go
  cli/internal/cli/localzone_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
Due: none

refactor(frontend): read the day's habits from /habits/day/ instead of joining locally
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/stores/__tests__/habits.test.ts
  frontend/src/stores/habits.ts
  frontend/src/views/__tests__/HabitsViews.test.ts
Due: none

docs: give every docs directory index a listing of its pages
  docs/api/client/index.md
  docs/api/index.md
  docs/devops/index.md
  docs/index.md
  docs/testing/index.md
  docs/troubleshooting/index.md
Due: validate-markdown-links

docs(api): make the route-order example a list rather than hard breaks
  docs/api/index.md
Due: validate-markdown-links

fix(cli): fall back to UTC when $TZ holds a POSIX rule rather than a zone name
  cli/internal/cli/localzone.go
  cli/internal/cli/localzone_test.go
Due: none

fix(cli): answer [] rather than null for an overview section with no rows
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
Due: none

fix(api): order the day's completions so tied rows keep a fixed place
  ichrisbirch/api/endpoints/habits.py
  tests/ichrisbirch/api/endpoints/test_habits.py
Due: pytest-affected, pytest-full

test(api): make the row-limit walk see a read that wraps its rows in an object
  tests/ichrisbirch/api/endpoints/test_row_limited_reads.py
Due: pytest-affected, pytest-full

docs: rewrite the comments this branch added to carry the trap, not the history
  cli/internal/api/habits.go
  cli/internal/cli/habits.go
  frontend/src/stores/__tests__/habits.test.ts
  frontend/src/stores/habits.ts
  ichrisbirch/services/habit_day.py
  tests/ichrisbirch/services/test_habit_day.py
Due: pytest-affected, pytest-full

docs(devops): say what nginx and supervisor did and what replaced them
  docs/devops/index.md
  docs/devops/nginx.md
  docs/devops/supervisor.md
Due: validate-markdown-links

docs(troubleshooting): drop the empty API JWT page
  docs/troubleshooting/api-jwt-wrong-database.md
  docs/troubleshooting/index.md
  mkdocs.yml
Due: validate-markdown-links

docs(docker): describe the compose layering and build that exist
  docs/docker-development.md
  docs/docker/docker-compose.md
  docs/docker/docker-quick-reference.md
  docs/docker/docker.md
  docs/docker/index.md
Due: validate-markdown-links

docs(troubleshooting): replace retired procedures with the current pipeline
  docs/devops/new_server.md
  docs/troubleshooting/database-issues.md
  docs/troubleshooting/deployment-issues.md
  docs/troubleshooting/development-issues.md
  docs/troubleshooting/docker-issues.md
  docs/troubleshooting/index.md
  docs/troubleshooting/poetry-uv-migration.md
  docs/troubleshooting/testing-issues.md
  mkdocs.yml
Due: validate-markdown-links

docs(testing): name the settings object and commands the suite uses
  docs/testing/index.md
  docs/testing/test_configuration.md
  docs/testing/test_data.md
  docs/testing/testing.md
Due: validate-markdown-links

docs: correct six claims the review measured against the tree
  docs/devops/new_server.md
  docs/docker/docker-compose.md
  docs/docker/docker-quick-reference.md
  docs/docker/docker.md
  docs/docker/index.md
  docs/testing/test_configuration.md
  docs/testing/testing.md
  docs/troubleshooting/database-issues.md
  docs/troubleshooting/deployment-issues.md
  docs/troubleshooting/development-issues.md
  docs/troubleshooting/docker-issues.md
  docs/troubleshooting/testing-issues.md
Due: validate-markdown-links

docs: give the docker pages one home each and drop the fifth
  docs/docker-development.md
  docs/index.md
  docs/quick-start.md
  mkdocs.yml
Due: validate-markdown-links

docs: rewrite the sentences that ranked instead of explaining
  docs/devops/new_server.md
  docs/docker/docker-compose.md
  docs/docker/docker-quick-reference.md
  docs/docker/docker.md
  docs/docker/index.md
  docs/index.md
  docs/testing/test_configuration.md
  docs/testing/testing.md
  docs/troubleshooting/database-issues.md
  docs/troubleshooting/deployment-issues.md
  docs/troubleshooting/development-issues.md
  docs/troubleshooting/docker-issues.md
  docs/troubleshooting/index.md
  docs/troubleshooting/testing-issues.md
Due: validate-markdown-links

fix(api): make a bare end date mean the whole day on a timestamp column
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/services/date_bounds.py
  tests/ichrisbirch/api/endpoints/test_date_bounded_reads.py
  tests/ichrisbirch/services/test_date_bounds.py
Due: pytest-affected, pytest-full

docs(cli): cut the overview comment's account of a window that is gone
  cli/internal/cli/overview.go
Due: none

fix(vue): send the article search term as q, the name the API reads
  frontend/src/stores/__tests__/articles.test.ts
  frontend/src/stores/articles.ts
Due: none

fix(box-packing): require a box number from the form down to the schema
  frontend/src/api/types.ts
  frontend/src/components/box-packing/AddEditBoxModal.vue
  frontend/src/stores/__tests__/boxPacking.test.ts
  frontend/src/views/__tests__/AddEditBoxModal.test.ts
  ichrisbirch/schemas/box.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxes.py
Due: pytest-affected, pytest-full

test(vue): drop store tests that only restate the call site
  frontend/src/stores/__tests__/admin.test.ts
  frontend/src/stores/__tests__/articles.test.ts
  frontend/src/stores/__tests__/boxPacking.test.ts
  frontend/src/stores/__tests__/habits.test.ts
  frontend/src/stores/__tests__/projects.test.ts
Due: none

fix(api): refuse an explicit null for every NOT NULL column on update
  CLAUDE.md
  ichrisbirch/schemas/article.py
  ichrisbirch/schemas/autofun.py
  ichrisbirch/schemas/autotask.py
  ichrisbirch/schemas/book.py
  ichrisbirch/schemas/box.py
  ichrisbirch/schemas/boxitem.py
  ichrisbirch/schemas/coffee.py
  ichrisbirch/schemas/countdown.py
  ichrisbirch/schemas/duration.py
  ichrisbirch/schemas/event.py
  ichrisbirch/schemas/habit.py
  ichrisbirch/schemas/habitcategory.py
  ichrisbirch/schemas/money_wasted.py
  ichrisbirch/schemas/not_null.py
  ichrisbirch/schemas/pattern.py
  ichrisbirch/schemas/project.py
  ichrisbirch/schemas/project_item.py
  ichrisbirch/schemas/project_item_task.py
  ichrisbirch/schemas/recipe.py
  ichrisbirch/schemas/task.py
  ichrisbirch/schemas/user.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxes.py
  tests/ichrisbirch/schemas/test_update_schemas_refuse_null.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(api): stop returning the password hash in user responses
  ichrisbirch/schemas/user.py
  tests/ichrisbirch/api/endpoints/test_users.py
  tests/ichrisbirch/schemas/test_user_schema.py
Due: pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
