Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

fix(migrations): use production revision ID for squashed baseline
  CLAUDE.md
  docs/alembic.md
  ichrisbirch/alembic/versions/e010f859f025_baseline_schema.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat(vue): migrate Money Wasted page to Vue (page 6)
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/e2e/money-wasted.spec.ts
  frontend/src/components/AppSidebar.vue
  frontend/src/stores/__tests__/moneyWasted.test.ts
  frontend/src/stores/moneyWasted.ts
  frontend/src/views/MoneyWastedView.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/pages/_money_wasted.scss
Due: none

feat(vue): migrate Articles page to Vue (page 7)
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/e2e/articles.spec.ts
  frontend/src/api/client.ts
  frontend/src/components/AppSidebar.vue
  frontend/src/components/ArticlesSubnav.vue
  frontend/src/router.ts
  frontend/src/stores/__tests__/articles.test.ts
  frontend/src/stores/articles.ts
  frontend/src/views/ArticleBulkImportView.vue
  frontend/src/views/ArticleInsightsView.vue
  frontend/src/views/ArticlesView.vue
Due: none

feat(vue): migrate Habits page to Vue (page 8)
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/e2e/habits.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/AppSidebar.vue
  frontend/src/components/HabitsSubnav.vue
  frontend/src/router.ts
  frontend/src/stores/__tests__/habits.test.ts
  frontend/src/stores/habits.ts
  frontend/src/views/HabitsCompletedView.vue
  frontend/src/views/HabitsManageView.vue
  frontend/src/views/HabitsView.vue
Due: none

fix(migrations): use %(here)s paths in alembic.ini for CWD-independent operation
  ichrisbirch/alembic.ini
Due: none

feat(scripts): add auto-discovering database seed system
  pyproject.toml
  scripts/seed/__init__.py
  scripts/seed/__main__.py
  scripts/seed/cli.py
  scripts/seed/config.py
  scripts/seed/discovery.py
  scripts/seed/generator.py
  scripts/seed/seed_config.toml
  scripts/seed/seeder.py
  tests/test_seed/__init__.py
  tests/test_seed/conftest.py
  tests/test_seed/test_discovery.py
  tests/test_seed/test_generator.py
  tests/test_seed/test_seeder.py
Due: pytest-affected, pytest-full

fix(ci): send ref and head_commit in webhook payload, use --fail
  .github/workflows/deploy-homelab.yml
Due: none

feat(secrets): replace AWS SSM with SOPS + age for production secrets
  .env.example
  .sops.yaml
  CLAUDE.md
  ichrisbirch/config.py
  scripts/bash-lib/logging.sh
  scripts/bootstrap-homelab.sh
  scripts/deploy-homelab.sh
  scripts/get_ssm_parameters.py
  secrets/README.md
  secrets/secrets.prod.enc.env
Due: validate-markdown-links, pytest-affected, pytest-full

fix(ci): provide .env file and env-var fallback after SOPS migration
  .github/workflows/validate-project.yml
  ichrisbirch/config.py
Due: pytest-affected, pytest-full

chore(secrets): remove git-secret/GPG, complete SOPS + age migration
  .dev.env.secret
  .github/workflows/deploy-project.yml
  .github/workflows/terraform-check.yml
  .github/workflows/validate-project.yml
  .gitignore
  .gitsecret/keys/crls.d/DIR.txt
  .gitsecret/keys/pubring.kbx
  .gitsecret/keys/pubring.kbx~
  .gitsecret/keys/trustdb.gpg
  .gitsecret/paths/mapping.cfg
  .prod.env.secret
  .test.env.secret
  docs/developer_setup.md
  docs/devops/new_server.md
  docs/docker-development.md
  docs/git_secret.md
  docs/project_layout.md
  docs/troubleshooting.md
  mkdocs.yml
  scripts/new_server.sh
  secrets/secrets.test.enc.env
  terraform/dev/terraform.dev.tfvars.secret
  terraform/prod/terraform.prod.tfvars.secret
  terraform/terraform.tfvars.secret
Due: validate-markdown-links

chore(deploy): inject .env into production containers via env_file
  docker-compose.yml
Due: none

feat(books): add book_statuses lookup table with status and skip_reason columns
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/b066e197097b_add_book_status_lookup_table_and_skip_reason.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/book.py
  ichrisbirch/schemas/book.py
  scripts/seed/discovery.py
  scripts/seed/seeder.py
Due: pytest-affected, pytest-full

feat(vue): migrate box packing from Flask to Vue 3
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/e2e/boxPacking.spec.ts
  frontend/src/api/client.ts
  frontend/src/components/AppSidebar.vue
  frontend/src/components/BoxPackingSubnav.vue
  frontend/src/router.ts
  frontend/src/stores/__tests__/boxPacking.test.ts
  frontend/src/stores/boxPacking.ts
  frontend/src/views/BoxPackingAllView.vue
  frontend/src/views/BoxPackingDetailView.vue
  frontend/src/views/BoxPackingOrphansView.vue
  frontend/src/views/BoxPackingSearchView.vue
  frontend/src/views/BoxPackingView.vue
Due: none

feat(books): add status filtering to API and expand MCP tool parameters
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/mcp/server.py
Due: pytest-affected, pytest-full

feat(books): add status and skip_reason to Flask forms, info bar, and templates
  ichrisbirch/app/forms/books.py
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/templates/books/add.html
  ichrisbirch/app/templates/books/book-info-bar.jinja.html
  ichrisbirch/app/templates/books/edit.html
Due: validate-html, pytest-affected, pytest-full

feat(vue): migrate profile and settings pages from Flask to Vue 3
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/e2e/profile.spec.ts
  frontend/src/api/client.ts
  frontend/src/components/AppSidebar.vue
  frontend/src/components/ProfileSubnav.vue
  frontend/src/router.ts
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/stores/auth.ts
  frontend/src/views/ProfileSettingsView.vue
  frontend/src/views/ProfileView.vue
Due: none

fix(scss): replace hardcoded color literals with CSS custom properties
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/components/_errors.scss
  ichrisbirch/app/static/sass/components/_flash_messages.scss
  ichrisbirch/app/static/sass/components/_radio_scale_selector.scss
  ichrisbirch/app/static/sass/components/_submit_issue.scss
  ichrisbirch/app/static/sass/pages/_books.scss
Due: none

feat(theme): implement OKLCH-based theme switching system
  frontend/src/App.vue
  frontend/src/composables/__tests__/useTheme.test.ts
  frontend/src/composables/useTheme.ts
  frontend/src/views/ProfileSettingsView.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/abstracts/_colors.scss
Due: none

feat(theme): add font selection with 14 fonts (8 self-hosted, 4 Google, 2 sans-serif)
  frontend/public/fonts/ComicMono-Bold.woff2
  frontend/public/fonts/ComicMono-Regular.woff2
  frontend/public/fonts/ComicShanns-Bold.woff2
  frontend/public/fonts/ComicShanns-Regular.woff2
  frontend/public/fonts/CommitMono-Bold.woff2
  frontend/public/fonts/CommitMono-Regular.woff2
  frontend/public/fonts/HackNerdFont-Bold.woff2
  frontend/public/fonts/HackNerdFont-Regular.woff2
  frontend/public/fonts/Iosevka-Bold.woff2
  frontend/public/fonts/Iosevka-Regular.woff2
  frontend/public/fonts/MesloLGM-Bold.woff2
  frontend/public/fonts/MesloLGM-Regular.woff2
  frontend/public/fonts/MonaspaceNeon-Bold.woff2
  frontend/public/fonts/MonaspaceNeon-Regular.woff2
  frontend/public/fonts/SeriousShanns-Bold.woff2
  frontend/public/fonts/SeriousShanns-Regular.woff2
  frontend/src/api/client.ts
  frontend/src/assets/sass/_fonts.scss
  frontend/src/assets/sass/main.scss
  frontend/src/composables/__tests__/useTheme.test.ts
  frontend/src/composables/useTheme.ts
  frontend/src/stores/__tests__/auth.test.ts
  frontend/src/views/ProfileSettingsView.vue
Due: none

fix(user): add font_family to DEFAULT_USER_PREFERENCES
  ichrisbirch/models/user.py
Due: pytest-affected, pytest-full

feat(theme): add 12 named themes from CLI theme system
  frontend/src/composables/__tests__/useTheme.test.ts
  frontend/src/composables/useTheme.ts
  frontend/src/views/ProfileSettingsView.vue
Due: none

fix(user): add named theme IDs to ThemeColor enum for preference validation
  ichrisbirch/models/user.py
Due: pytest-affected, pytest-full

fix(traefik): add /fonts PathPrefix to Vue routing in all compose files
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

fix(fonts): correct Commit Mono font-family name to match font metadata
  frontend/src/assets/sass/_fonts.scss
  frontend/src/composables/useTheme.ts
Due: none

feat(theme): add accent color hue slider and random-from-all-themes
  frontend/src/composables/__tests__/useTheme.test.ts
  frontend/src/composables/useTheme.ts
  frontend/src/views/ProfileSettingsView.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/abstracts/_colors.scss
  ichrisbirch/models/user.py
Due: pytest-affected, pytest-full

docs: trim CLAUDE.md from 922 to 168 lines
  CLAUDE.md
Due: validate-markdown-links

chore: add CORS gotcha back to CLAUDE.md, commit package-lock.json
  CLAUDE.md
  frontend/package-lock.json
Due: validate-markdown-links

feat(dashboard): add interactive widget dashboard with gridstack.js
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AppSidebar.vue
  frontend/src/components/dashboard/DashboardWidget.vue
  frontend/src/composables/useDashboard.ts
  frontend/src/router.ts
  frontend/src/views/DashboardView.vue
  ichrisbirch/models/user.py
Due: pytest-affected, pytest-full

fix(dashboard): use GridStack.renderCB for HTML content in v12
  frontend/src/views/DashboardView.vue
Due: none

fix(dashboard): use widgetType property and renderCB for gridstack v12
  frontend/src/composables/useDashboard.ts
  frontend/src/views/DashboardView.vue
  ichrisbirch/models/user.py
Due: pytest-affected, pytest-full

feat(dashboard): wire real data into widget components (Phase 2)
  frontend/src/components/dashboard/WidgetCountdowns.vue
  frontend/src/components/dashboard/WidgetEvents.vue
  frontend/src/components/dashboard/WidgetHabits.vue
  frontend/src/components/dashboard/WidgetTasksPriority.vue
  frontend/src/views/DashboardView.vue
Due: none

feat(dashboard): add remaining 5 widget components (Phase 3)
  frontend/src/api/client.ts
  frontend/src/components/dashboard/WidgetArticles.vue
  frontend/src/components/dashboard/WidgetAutoTasks.vue
  frontend/src/components/dashboard/WidgetBooks.vue
  frontend/src/components/dashboard/WidgetDurations.vue
  frontend/src/components/dashboard/WidgetMoneyWasted.vue
  frontend/src/stores/__tests__/books.test.ts
  frontend/src/stores/books.ts
  frontend/src/views/DashboardView.vue
Due: none

feat(books)!: rename status→ownership, add progress column, drop abandoned
  frontend/src/api/client.ts
  frontend/src/components/dashboard/WidgetBooks.vue
  frontend/src/stores/__tests__/books.test.ts
  frontend/src/stores/books.ts
  frontend/src/views/BooksView.vue
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/c1a2b3d4e5f6_books_ownership_progress.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/app/forms/books.py
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/pages/_books.scss
  ichrisbirch/app/templates/books/add.html
  ichrisbirch/app/templates/books/book-info-bar.jinja.html
  ichrisbirch/app/templates/books/edit.html
  ichrisbirch/app/templates/books/index.html
  ichrisbirch/mcp/server.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/book.py
  ichrisbirch/schemas/book.py
  scripts/seed/discovery.py
  scripts/seed/seeder.py
  tests/factories/books.py
  tests/factories/test_factories.py
  tests/ichrisbirch/api/endpoints/test_books.py
  tests/ichrisbirch/frontend/test_books_page.py
Due: validate-html, pytest-affected, pytest-full

fix(migration): update books before renaming lookup values to avoid FK violation
  ichrisbirch/alembic/versions/c1a2b3d4e5f6_books_ownership_progress.py
Due: pytest-affected, pytest-full

fix(seed): enforce realistic field combinations for books and durations
  scripts/seed/generator.py
  scripts/seed/seed_config.toml
  tests/test_seed/test_generator.py
Due: pytest-affected, pytest-full

feat(cli)!: scope db commands under environments, replace AWS SSM with SOPS
  cli/db
  cli/ichrisbirch
Due: none

feat(vue): migrate home page to Vue with responsive buttons and admin links
  deploy-containers/traefik/dynamic/dev/middlewares.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/src/App.vue
  frontend/src/components/AppSidebar.vue
  frontend/src/views/HomeView.vue
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/components/_buttons.scss
  ichrisbirch/app/static/sass/pages/_home.scss
Due: none

feat(books): add review text field across full stack
  frontend/src/api/client.ts
  frontend/src/stores/__tests__/books.test.ts
  frontend/src/views/BooksView.vue
  ichrisbirch/alembic/versions/d1e2f3a4b5c6_add_review_column_to_books.py
  ichrisbirch/mcp/server.py
  ichrisbirch/models/book.py
  ichrisbirch/schemas/book.py
  tests/factories/books.py
  tests/ichrisbirch/api/endpoints/test_books.py
  tests/ichrisbirch/schemas/test_book_schema.py
  tests/test_data/books.py
Due: pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
