Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest: any of: \.py$

test(habits): add test for multiple date formats
  tests/ichrisbirch/api/endpoints/test_habits.py
Due: pytest

build: remove webserver, db, eip, route53 costing money
  terraform/README.md
  terraform/main.tf
  terraform/network.tf
  terraform/outputs.tf
  terraform/route53.tf
  terraform/variables.tf
Due: validate-markdown-links

feat: update database backup and init script to work for new docker startup
  ichrisbirch/database/initialization.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/scheduler/postgres_backup_restore.py
Due: pytest

feat: fix chat app to run inside docker using streamlit, wsgi does not work
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  ichrisbirch/chat/_one_time_chat_load_20250202.py
  ichrisbirch/chat/api.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/main.py
  ichrisbirch/wsgi_chat.py
Due: pytest

chore: update and move project files
  .gitsecret/paths/mapping.cfg
  deploy/dev/nginx/nginx.conf
  scripts/validate_html.py
Due: pytest

feat(gh-actions): migrate from poetry to uv
  .github/workflows/deploy-project.yml
  .github/workflows/validate-project.yml
Due: none

fix: shellcheck warnings for some scripts
  cli/ichrisbirch
  scripts/new_server.sh
Due: none

fix(gh-actions/validate): ubuntu 20.04 no longer supported in test matrix
  .github/workflows/validate-project.yml
Due: none

feat(gh-actions/validate): migrate from black, isort, flake8 to ruff
  .github/workflows/validate-project.yml
Due: none

fix(linting): new ruff rules
  ichrisbirch/app/easy_dates.py
  ichrisbirch/gui/utils.py
  ichrisbirch/schemas/book.py
  ichrisbirch/schemas/user.py
  scripts/terraform_infra_check.py
  tests/ichrisbirch/api/endpoints/crud_test.py
Due: pytest

style: run pre-commit on entire project
  ichrisbirch/app/forms/auth.py
  ichrisbirch/app/forms/books.py
  ichrisbirch/app/forms/validators.py
  ichrisbirch/app/utils/http.py
  ichrisbirch/app/utils/util.py
  ichrisbirch/models/user.py
  ichrisbirch/schemas/event.py
  scripts/ping_test.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxitems.py
  tests/scripts/test_update_user_preferences_migration.py
  tests/test_data/chats.py
  tools/validation/validate_html.py
Due: pytest

fix(lint): type error for flask logging middleware
  ichrisbirch/app/middleware.py
Due: pytest

fix(logger): update logger handler name to properly ignore for github actions
  ichrisbirch/logger.py
Due: pytest

feat(gh-actions): use aws credentials to get ssm parameters for tests
  .github/workflows/validate-project.yml
Due: none

feat(gh-actions): use docker compose action to install for testing
  .github/workflows/validate-project.yml
Due: none

build: update bandit arguments to scan selected directories recursively
  .github/workflows/validate-project.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(build): use newer docker compose instead of docker-compose
  cli/ichrisbirch
  tests/environment.py
  tools/validation/validate_html.py
Due: pytest

build: do not capture logs in pytest during github actions run
  .github/workflows/validate-project.yml
Due: none

fix(build/gh-actions): make sure test-logs dir is created before mounting as a volume
  .github/workflows/validate-project.yml
Due: none
