Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

feat(stats): add SASS hook to devstats capture
  cli/stats
  stats/config.py
  stats/hooks/sass.py
  stats/schemas/hooks/sass.py
Due: pytest-affected, pytest-full

fix(admin): use HMAC-signed token for WebSocket log streaming auth
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/app/routes/admin.py
  ichrisbirch/app/static/js/live_logs.js
  tests/ichrisbirch/api/endpoints/test_admin.py
Due: pytest-affected, pytest-full

docs: simplify production environment section in CLAUDE.md
  CLAUDE.md
Due: validate-markdown-links

fix(cli): separate docker compose build from up to prevent race condition
  cli/ichrisbirch
Due: none

feat(deploy): enhance deployment logging and Slack notifications
  CLAUDE.md
  cli/ichrisbirch
  scripts/bash-lib/logging.sh
  scripts/deploy-homelab.sh
Due: validate-markdown-links

ci: add production build testing to prevent deployment regressions
  .github/workflows/validate-project.yml
  CLAUDE.md
  cli/ichrisbirch
Due: validate-markdown-links

ci: create proxy network before testing production containers
  .github/workflows/validate-project.yml
Due: none

fix(deploy): poll container health status before running health checks
  scripts/deploy-homelab.sh
Due: none

fix(api): replace chat name path parameter with query filter
  ichrisbirch/api/endpoints/chat/chats.py
  ichrisbirch/chat/api.py
  tests/ichrisbirch/api/endpoints/chat/test_chats.py
Due: pytest-affected, pytest-full

fix(chat): handle HTTP errors in token validation without crashing
  ichrisbirch/chat/auth.py
Due: pytest-affected, pytest-full

fix(chat): authenticate last_login update request in token login
  ichrisbirch/chat/auth.py
Due: pytest-affected, pytest-full

feat(articles): remove playlist from youtube urls
  ichrisbirch/api/endpoints/articles.py
Due: pytest-affected, pytest-full

fix(books): proxy goodreads request through Flask for API authentication
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/templates/books/add.html
Due: validate-html, pytest-affected, pytest-full

test(books): add Flask route tests for books blueprint
  tests/ichrisbirch/app/routes/test_books.py
Due: pytest-affected, pytest-full

fix(deps): include test group in default uv sync
  pyproject.toml
Due: none

fix(app): add CSRF token to JavaScript fetch POST requests
  ichrisbirch/app/templates/articles/add.html
  ichrisbirch/app/templates/books/add.html
Due: validate-html

test(app): add automatic CSRF token check for all fetch POST templates
  tests/ichrisbirch/app/test_csrf.py
Due: pytest-affected, pytest-full

fix(app): show fetch errors as flash messages instead of silent failure
  ichrisbirch/app/static/js/messages.js
  ichrisbirch/app/templates/articles/add.html
  ichrisbirch/app/templates/books/add.html
Due: validate-html

feat(books): add placeholder text for priority and rating fields
  ichrisbirch/app/templates/books/add.html
Due: validate-html

feat(books): autofocus ISBN field on add book page
  ichrisbirch/app/templates/books/add.html
Due: validate-html

feat: add personal API keys and MCP server for Claude Code integration
  .gitignore
  docs/images/generated/aws_iam.svg
  docs/images/generated/fixture_dependencies.svg
  docs/images/generated/fixture_scopes.svg
  docs/images/generated/fixtures_comprehensive.svg
  docs/images/generated/fixtures_diagram.svg
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/test_writing_workflow.svg
  docs/images/generated/testing_overview.svg
  ichrisbirch/alembic/env.py
  ichrisbirch/alembic/versions/6c8f9a0ef2cd_add_personal_api_keys_table.py
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/personal_api_keys.py
  ichrisbirch/api/main.py
  ichrisbirch/app/routes/users.py
  ichrisbirch/app/templates/users/settings.html
  ichrisbirch/mcp/__init__.py
  ichrisbirch/mcp/__main__.py
  ichrisbirch/mcp/server.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/personal_api_key.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/personal_api_key.py
  pyproject.toml
  tests/conftest.py
  tests/ichrisbirch/api/endpoints/test_personal_api_keys.py
  tests/ichrisbirch/app/routes/test_users.py
  tests/ichrisbirch/mcp/__init__.py
  tests/ichrisbirch/mcp/test_mcp_server.py
  uv.lock
Due: generate-fixture-diagrams, validate-html, pytest-affected, pytest-full

fix(auth): skip JWT validation for personal API key tokens
  ichrisbirch/api/endpoints/auth.py
Due: pytest-affected, pytest-full

feat(books): add edit book functionality to Flask frontend
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/templates/books/edit.html
  ichrisbirch/app/templates/books/index.html
  tests/ichrisbirch/app/routes/test_books.py
Due: validate-html, pytest-affected, pytest-full

fix(books): add empty_field_to_none validator to BookUpdate schema
  ichrisbirch/schemas/book.py
  tests/ichrisbirch/app/routes/test_books.py
Due: pytest-affected, pytest-full

feat(books): make ISBN optional and fix MCP tags serialization
  ichrisbirch/alembic/versions/a3b7c9d1e4f2_make_book_isbn_nullable.py
  ichrisbirch/app/forms/books.py
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/templates/books/index.html
  ichrisbirch/mcp/server.py
  ichrisbirch/models/book.py
  ichrisbirch/schemas/book.py
  tests/ichrisbirch/api/endpoints/test_books.py
  tests/ichrisbirch/mcp/test_mcp_server.py
  tests/ichrisbirch/schemas/test_book_schema.py
Due: validate-html, pytest-affected, pytest-full

feat(books): add summary info bar to books index page
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/pages/_books.scss
  ichrisbirch/app/templates/books/book-info-bar.jinja.html
  ichrisbirch/app/templates/books/index.html
Due: validate-html, pytest-affected, pytest-full

fix(deploy): run migrations after container rebuild
  scripts/deploy-homelab.sh
Due: none

feat(books): redesign index page with grid layout, sorting, and filtering
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/js/books.js
  ichrisbirch/app/static/sass/abstracts/_colors.scss
  ichrisbirch/app/static/sass/pages/_books.scss
  ichrisbirch/app/templates/books/base.html
  ichrisbirch/app/templates/books/book-info-bar.jinja.html
  ichrisbirch/app/templates/books/index.html
Due: validate-html, pytest-affected, pytest-full

fix(books): fix three bugs in the book edit flow
  ichrisbirch/app/routes/books.py
  ichrisbirch/schemas/book.py
  tests/ichrisbirch/api/endpoints/test_books.py
  tests/ichrisbirch/app/routes/test_books.py
Due: pytest-affected, pytest-full

test(books): replace HTML-parsing round-trip with Playwright browser test
  tests/ichrisbirch/app/routes/test_books.py
  tests/ichrisbirch/frontend/test_books_page.py
Due: pytest-affected, pytest-full

test(articles): replace TestClient tests with Playwright browser tests
  tests/ichrisbirch/app/routes/test_articles.py
  tests/ichrisbirch/frontend/test_articles_page.py
Due: pytest-affected, pytest-full

test(articles): restore TestClient route tests removed in previous commit
  tests/ichrisbirch/app/routes/test_articles.py
Due: pytest-affected, pytest-full

fix(tests): restore foundation TestClient tests for books routes
  tests/ichrisbirch/app/routes/test_books.py
Due: pytest-affected, pytest-full

test(countdowns): rewrite Playwright tests with DB verification
  tests/ichrisbirch/frontend/test_countdowns_page.py
Due: pytest-affected, pytest-full

fix(events): allow decimal costs in form, rewrite Playwright tests with DB verification
  ichrisbirch/app/templates/events/index.html
  tests/ichrisbirch/frontend/test_events_page.py
Due: validate-html, pytest-affected, pytest-full

fix(tasks): fix footer overlap blocking task buttons, rewrite Playwright tests
  ichrisbirch/app/static/css/main.css
  ichrisbirch/app/static/sass/pages/_tasks.scss
  tests/ichrisbirch/frontend/test_tasks_page.py
Due: pytest-affected, pytest-full

test(autotasks): rewrite Playwright tests with DB verification and side-effect checks
  tests/ichrisbirch/frontend/test_autotasks_page.py
Due: pytest-affected, pytest-full

test(box-packing): add Playwright tests with DB verification
  tests/ichrisbirch/frontend/test_box_packing_page.py
Due: pytest-affected, pytest-full

test(habits): rewrite Playwright tests with DB verification
  tests/ichrisbirch/frontend/test_habits_page.py
Due: pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
