Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

docs(migrations): state what the move deletes and why build means development
  ichrisbirch/alembic/versions/d9e0f1a2b3c4_move_development_work_into_issues.py
  ichrisbirch/alembic/versions/e0f1a2b3c4d5_default_a_project_kind_to_life.py
  ichrisbirch/models/project.py
  tests/ichrisbirch/database/test_item_number_sequence_migration.py
Due: pytest-affected, pytest-full

fix(cli): refuse a secret without its client id at login and logout too
  cli/internal/cli/auth.go
  cli/internal/cli/service_test.go
Due: none

fix: hold the CLI's service scope against the API's own table
  cli/internal/cli/client.go
  cli/internal/cli/service_test.go
  docs/authentication-architecture.md
  ichrisbirch/api/client_scopes.py
  ichrisbirch/api/endpoints/auth.py
  tests/ichrisbirch/api/test_client_scopes.py
  tests/ichrisbirch/api/testdata/client-scopes.json
Due: validate-markdown-links, pytest-affected, pytest-full

feat(cli): name the credential auth status checked as `type`
  cli/README.md
  cli/internal/cli/auth.go
  cli/internal/cli/service_test.go
Due: validate-markdown-links

fix(api): run handlers that await nothing in the threadpool
  CLAUDE.md
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/autofun.py
  ichrisbirch/api/endpoints/autotasks.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/box_packing.py
  ichrisbirch/api/endpoints/coffee.py
  ichrisbirch/api/endpoints/countdowns.py
  ichrisbirch/api/endpoints/durations.py
  ichrisbirch/api/endpoints/events.py
  ichrisbirch/api/endpoints/habits.py
  ichrisbirch/api/endpoints/home.py
  ichrisbirch/api/endpoints/issue_initiatives.py
  ichrisbirch/api/endpoints/issue_labels.py
  ichrisbirch/api/endpoints/issues.py
  ichrisbirch/api/endpoints/money_wasted.py
  ichrisbirch/api/endpoints/patterns.py
  ichrisbirch/api/endpoints/personal_api_keys.py
  ichrisbirch/api/endpoints/project_item_tasks.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/api/endpoints/recipes.py
  ichrisbirch/api/endpoints/strains.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/database/session.py
  tests/ichrisbirch/api/test_async_handlers_await.py
Due: validate-markdown-links, pytest-affected, pytest-full

test: say the fake provider grants only the scope the CLI spells
  cli/internal/cli/service_test.go
  tests/ichrisbirch/api/test_client_scopes.py
Due: pytest-affected, pytest-full

fix(api): move page fetches and body reads off the event loop
  CLAUDE.md
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/books.py
  ichrisbirch/api/endpoints/recipes.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/article.py
  ichrisbirch/schemas/book.py
  tests/ichrisbirch/api/test_async_handlers_await.py
  tests/ichrisbirch/api/test_blocking_calls_stay_off_the_event_loop.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(ops): refuse a test stack another checkout started
  CLAUDE.md
  ops/icbops
  tests/icbops-test-stack.bats
Due: validate-markdown-links

fix(ci): leave the test Redis password empty to match its server
  docker-compose.test.yml
  secrets/secrets.test.enc.env
Due: none

fix(api): hold async dependencies and every outbound call to the same rule
  CLAUDE.md
  ichrisbirch/api/endpoints/articles.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/article.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_books.py
  tests/ichrisbirch/api/endpoints/test_users.py
  tests/ichrisbirch/api/test_blocking_calls_stay_off_the_event_loop.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(tests): refuse a test stack another checkout started in pytest's setup
  CLAUDE.md
  tests/environment.py
  tests/test_environment.py
Due: validate-markdown-links, pytest-affected, pytest-full

docs: stop the test stack before removing the worktree that started it
  CLAUDE.md
Due: validate-markdown-links

fix(cli): build with go1.26.9 for its standard library fixes
  cli/go.mod
Due: none

fix(api): keep the system health read off the event loop and bound its probes
  ichrisbirch/api/article_import_worker.py
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/main.py
  ichrisbirch/api/redis_client.py
  tests/ichrisbirch/api/endpoints/test_admin_system.py
Due: pytest-affected, pytest-full

docs(admin): describe the Vue admin pages and why health probes are bounded
  docs/admin.md
  docs/index.md
  docs/logging-configuration.md
Due: validate-markdown-links

fix(api): retry only a dropped Redis connection, never a timed-out command
  ichrisbirch/api/redis_client.py
  tests/ichrisbirch/api/test_redis_client.py
Due: pytest-affected, pytest-full

fix(api): report an unanswered health probe as null and bound the Docker probe
  frontend/src/api/types.ts
  frontend/src/views/AdminSystemView.vue
  frontend/src/views/__tests__/AdminViews.test.ts
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/schemas/admin.py
  tests/ichrisbirch/api/endpoints/test_admin_system.py
Due: pytest-affected, pytest-full

docs(admin): state how an unanswered probe reads and drop copied constants
  docs/admin.md
Due: validate-markdown-links

docs: say what each probe and timeout comment protects against
  docs/admin.md
  ichrisbirch/api/article_import_worker.py
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/redis_client.py
  ichrisbirch/schemas/admin.py
  tests/ichrisbirch/api/endpoints/test_admin_system.py
  tests/ichrisbirch/api/test_redis_client.py
Due: validate-markdown-links, pytest-affected, pytest-full

refactor(api): delete the admin log-stream WebSocket, which has no client
  docs/admin.md
  docs/logging-configuration.md
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/main.py
  ichrisbirch/logger.py
  pyproject.toml
  tests/ichrisbirch/api/endpoints/test_admin.py
  uv.lock
Due: validate-markdown-links, pytest-affected, pytest-full

fix(api): refuse is_admin from a user updating their own record
  ichrisbirch/api/endpoints/users.py
  tests/ichrisbirch/api/endpoints/test_users.py
Due: pytest-affected, pytest-full

refactor(logging): drop the log file handler, which nothing reads
  CLAUDE.md
  docker-compose.app.yml
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  docs/docker/docker-compose.md
  docs/logging-configuration.md
  ichrisbirch/logger.py
  tests/ichrisbirch/database/test_initialization.py
Due: validate-markdown-links, pytest-affected, pytest-full

chore: delete a log setup script and a test env file that nothing uses
  scripts/create_log_files.sh
  tests/test_data/.test_env_file.env
Due: none

docs(traefik): drop the websocket-test middleware row, which nothing defines
  docs/traefik-deployment.md
Due: validate-markdown-links

docs(nginx): keep the old configs for the port layout alone
  docs/devops/nginx.md
Due: validate-markdown-links

docs(admin): say which GET routes the smoke tests skip
  docs/admin.md
Due: validate-markdown-links

docs: say who may grant admin, and correct the CI volume comment
  CLAUDE.md
  docker-compose.ci.yml
  docs/admin.md
  docs/devops/nginx.md
  ichrisbirch/logger.py
Due: validate-markdown-links, pytest-affected, pytest-full

chore(precommit): regenerate the hooks and CI at forge-toolchain 30
  .github/workflows/validate.yml
  .pre-commit-config.yaml
Due: none

refactor(issues): import datetime as dt and sqlalchemy as sa
  ichrisbirch/api/endpoints/issue_initiatives.py
  ichrisbirch/api/endpoints/issues.py
  ichrisbirch/models/issue.py
  ichrisbirch/schemas/issue.py
  ichrisbirch/services/issue_readiness.py
  ichrisbirch/services/issue_views.py
  scripts/seed/seeders/issues.py
  tests/ichrisbirch/api/endpoints/test_issues.py
  tests/test_data/issues.py
  tests/test_seed/test_issues_seeder.py
Due: pytest-affected, pytest-full

build(pyproject): enforce the dt and sa import aliases and pin ruff to its hook
  pyproject.toml
  uv.lock
Due: none

fix(auth): read Remote-* headers only where ForwardAuth set them
  CLAUDE.md
  deploy-containers/traefik/dynamic/prod/middlewares.yml
  deploy-containers/traefik/dynamic/prod/routing.yml
  docs/authentication-architecture.md
  docs/traefik-deployment.md
  ichrisbirch/api/endpoints/auth.py
  tests/ichrisbirch/api/test_authelia_headers.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(users): hash a password set through PATCH, and every one stored plaintext
  ichrisbirch/alembic/versions/d9e0f1a2b3c4_hash_plaintext_user_passwords.py
  ichrisbirch/models/user.py
  scripts/deploy-homelab.sh
  tests/ichrisbirch/api/endpoints/test_users.py
  tests/ichrisbirch/database/test_plaintext_password_migration.py
Due: pytest-affected, pytest-full

fix(alembic): log each migration line once
  ichrisbirch/alembic.ini
Due: none

fix(migrations): give the development-work move its own revision ID
  CLAUDE.md
  docs/alembic.md
  ichrisbirch/alembic/versions/84604ca472b4_move_development_work_into_issues.py
  ichrisbirch/alembic/versions/e0f1a2b3c4d5_default_a_project_kind_to_life.py
  tests/ichrisbirch/database/test_migration_revision_ids.py
Due: validate-markdown-links, pytest-affected, pytest-full

feat(admin): open or close signups from the admin panel
  .env.example
  docs/admin.md
  frontend/e2e/admin.spec.ts
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/stores/__tests__/admin.test.ts
  frontend/src/stores/admin.ts
  frontend/src/views/AdminUsersView.vue
  frontend/src/views/__tests__/AdminViews.test.ts
  ichrisbirch/alembic/versions/e8d57aa23bca_add_signup_settings.py
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/api/exceptions.py
  ichrisbirch/config.py
  ichrisbirch/database/initialization.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/signup_settings.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/signup_settings.py
  secrets/secrets.prod.enc.env
  secrets/secrets.test.enc.env
  tests/conftest.py
  tests/ichrisbirch/api/endpoints/test_admin_signup_settings.py
  tests/ichrisbirch/api/endpoints/test_users.py
  tests/ichrisbirch/database/test_signup_settings_migration.py
  tests/ichrisbirch/test_config.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest-affected, pytest-full

fix(users): answer 409 when an email already has an account
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/api/exceptions.py
  tests/ichrisbirch/api/endpoints/test_users.py
Due: pytest-affected, pytest-full

refactor(admin): keep the signup flag in a one-row admin.settings table
  docs/admin.md
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/stores/__tests__/admin.test.ts
  frontend/src/stores/admin.ts
  frontend/src/views/AdminUsersView.vue
  frontend/src/views/__tests__/AdminViews.test.ts
  ichrisbirch/alembic/versions/e8d57aa23bca_add_admin_settings.py
  ichrisbirch/alembic/versions/e8d57aa23bca_add_signup_settings.py
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/database/initialization.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/admin_settings.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/admin_settings.py
  ichrisbirch/schemas/signup_settings.py
  tests/conftest.py
  tests/ichrisbirch/api/endpoints/test_admin_settings.py
  tests/ichrisbirch/api/endpoints/test_admin_signup_settings.py
  tests/ichrisbirch/api/endpoints/test_users.py
  tests/ichrisbirch/database/test_admin_settings_migration.py
  tests/ichrisbirch/database/test_signup_settings_migration.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest-affected, pytest-full

feat(users): let an admin create an account while signups are closed
  docs/admin.md
  ichrisbirch/api/endpoints/users.py
  tests/ichrisbirch/api/endpoints/test_users.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(initialization): seed the admin settings row on every initialization
  docs/admin.md
  docs/testing/environment.md
  docs/testing/fixtures.md
  ichrisbirch/database/initialization.py
  tests/ichrisbirch/database/test_initialization.py
Due: validate-markdown-links, pytest-affected, pytest-full

docs: name the trap in each comment the signup toggle added
  docs/admin.md
  docs/testing/environment.md
  docs/testing/fixtures.md
  frontend/e2e/admin.spec.ts
  ichrisbirch/api/endpoints/admin.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/database/initialization.py
  ichrisbirch/models/admin_settings.py
  tests/ichrisbirch/database/test_admin_settings_migration.py
  tests/ichrisbirch/database/test_initialization.py
Due: validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
