Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$

fix: split routing.yml into routers + services for blue/green deploys
  .gitignore
  CLAUDE.md
  cli/ichrisbirch
  deploy-containers/traefik/dynamic/prod/routing.yml
  docs/blue-green-deployment.md
  scripts/deploy-homelab.sh
Due: validate-markdown-links

feat: add MCP tools for Projects system
  ichrisbirch/mcp/server.py
  tests/ichrisbirch/mcp/test_mcp_server.py
Due: pytest-affected, pytest-full

feat: add Projects seed data with items, memberships, and dependencies
  scripts/seed/seed_config.toml
  scripts/seed/seeder.py
Due: pytest-affected, pytest-full

feat: add summary fields to article MCP list/search tools
  ichrisbirch/mcp/server.py
Due: pytest-affected, pytest-full

refactor!: redesign seed system from generic engine to per-entity seeders
  scripts/seed/__init__.py
  scripts/seed/base.py
  scripts/seed/cli.py
  scripts/seed/config.py
  scripts/seed/discovery.py
  scripts/seed/generator.py
  scripts/seed/run.py
  scripts/seed/seed_config.toml
  scripts/seed/seeder.py
  scripts/seed/seeders/__init__.py
  scripts/seed/seeders/articles.py
  scripts/seed/seeders/autotasks.py
  scripts/seed/seeders/books.py
  scripts/seed/seeders/boxes.py
  scripts/seed/seeders/chats.py
  scripts/seed/seeders/countdowns.py
  scripts/seed/seeders/durations.py
  scripts/seed/seeders/events.py
  scripts/seed/seeders/habits.py
  scripts/seed/seeders/money_wasted.py
  scripts/seed/seeders/projects.py
  scripts/seed/seeders/tasks.py
  tests/test_seed/conftest.py
  tests/test_seed/test_articles_seeder.py
  tests/test_seed/test_autotasks_seeder.py
  tests/test_seed/test_books_seeder.py
  tests/test_seed/test_boxes_seeder.py
  tests/test_seed/test_chats_seeder.py
  tests/test_seed/test_countdowns_seeder.py
  tests/test_seed/test_discovery.py
  tests/test_seed/test_durations_seeder.py
  tests/test_seed/test_events_seeder.py
  tests/test_seed/test_generator.py
  tests/test_seed/test_habits_seeder.py
  tests/test_seed/test_money_wasted_seeder.py
  tests/test_seed/test_projects_seeder.py
  tests/test_seed/test_run.py
  tests/test_seed/test_seeder.py
  tests/test_seed/test_tasks_seeder.py
Due: pytest-affected, pytest-full

refactor: move module-level get_settings() inside function in gui/insights
  ichrisbirch/gui/insights.py
Due: pytest-affected, pytest-full

ci: add path filtering to skip irrelevant CI jobs
  .github/workflows/validate-project.yml
Due: none

ci: restructure CI into language-scoped jobs with frontend coverage
  .github/workflows/validate-project.yml
Due: none

fix(ci): correct action version tags for setup-uv and shellcheck
  .github/workflows/validate-project.yml
Due: none

fix(ci): generate self-signed TLS certs for frontend E2E tests
  .github/workflows/validate-project.yml
Due: none

fix(ci): align test secrets user emails with Authelia sim middleware
  secrets/secrets.test.enc.env
Due: none

fix(ci): add secrets/ to path filters for python and frontend
  .github/workflows/validate-project.yml
Due: none

fix(ci): replace sleep with active readiness poll for Vue dev server
  .github/workflows/validate-project.yml
Due: none

fix(ci): use docker compose --wait instead of sleep/curl for readiness
  .github/workflows/validate-project.yml
  docker-compose.ci.yml
Due: none

fix(frontend): increase book rating max to 10, fix flaky habits E2E test
  frontend/e2e/habits.spec.ts
  frontend/src/components/HabitsSubnav.vue
  frontend/src/components/books/AddEditBookModal.vue
Due: none

fix(ci): add service readiness retries to Playwright global setup
  .github/workflows/validate-project.yml
  frontend/e2e/global.setup.ts
Due: none

fix(ci): set test.setTimeout for setup readiness checks
  frontend/e2e/global.setup.ts
Due: none

fix(ci): add diagnostic output and reduce timeout for frontend check
  frontend/e2e/global.setup.ts
  frontend/playwright.config.ts
Due: none

fix(ci): add missing Traefik network, constraint, and TLS domain
  docker-compose.ci.yml
Due: none

fix(ci): prevent production Vue build from overwriting node:20-alpine
  docker-compose.ci.yml
Due: none

feat(frontend): add component integration tests for top 3 views
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/__tests__/ArticlesView.test.ts
  frontend/src/views/__tests__/BoxPackingView.test.ts
  frontend/src/views/__tests__/ProjectsView.test.ts
Due: none

refactor(frontend): trim projects E2E to smoke-only tests
  frontend/e2e/projects.spec.ts
Due: none

refactor(frontend): trim box packing E2E to smoke-only tests
  frontend/e2e/boxPacking.spec.ts
Due: none

refactor(frontend): trim articles E2E to smoke-only tests
  frontend/e2e/articles.spec.ts
Due: none

refactor(frontend): add TasksView component tests, trim E2E to smoke
  frontend/e2e/tasks.spec.ts
  frontend/src/views/__tests__/TasksView.test.ts
Due: none

refactor(frontend): add Habits component tests, trim E2E to smoke
  frontend/e2e/habits.spec.ts
  frontend/src/views/__tests__/HabitsViews.test.ts
Due: none

ci: show commit message in Deploy to Homelab run name
  .github/workflows/deploy-homelab.yml
Due: none

refactor(frontend): add BooksView component tests, trim E2E to smoke
  frontend/e2e/books.spec.ts
  frontend/src/views/__tests__/BooksView.test.ts
Due: none

refactor(frontend): add DurationsView component tests, trim E2E to smoke
  frontend/e2e/durations.spec.ts
  frontend/src/views/__tests__/DurationsView.test.ts
Due: none

refactor(frontend): add EventsView component tests, trim E2E to smoke
  frontend/e2e/events.spec.ts
  frontend/src/views/__tests__/EventsView.test.ts
Due: none

refactor(frontend): add CountdownsView component tests, trim E2E to smoke
  frontend/e2e/countdowns.spec.ts
  frontend/src/views/__tests__/CountdownsView.test.ts
Due: none

feat(frontend): add MoneyWastedView component tests
  frontend/src/views/__tests__/MoneyWastedView.test.ts
Due: none

refactor(frontend): add AutoTasksView component tests, trim E2E to smoke
  frontend/e2e/autotasks.spec.ts
  frontend/src/views/__tests__/AutoTasksView.test.ts
Due: none

test: add ProfileViews component tests, trim profile E2E to smoke
  frontend/e2e/profile.spec.ts
  frontend/src/views/__tests__/ProfileViews.test.ts
Due: none

test: add AdminViews component tests, trim admin E2E to smoke
  frontend/e2e/admin.spec.ts
  frontend/src/views/__tests__/AdminViews.test.ts
Due: none

test: add HomeView component tests, trim home E2E to smoke
  frontend/e2e/dashboard.spec.ts
  frontend/e2e/home.spec.ts
  frontend/src/views/__tests__/HomeView.test.ts
Due: none

test: add smoke comments to money-wasted and article-subpages E2E
  frontend/e2e/article-subpages.spec.ts
  frontend/e2e/money-wasted.spec.ts
Due: none

docs: update testing docs for four-layer Vue strategy
  CLAUDE.md
  docs/testing/overview.md
Due: validate-markdown-links

refactor: make create_session() require explicit settings parameter
  ichrisbirch/database/session.py
  scripts/pre_commit_validations/pytest_affected.py
  scripts/update_user_preferences_migration.py
  tests/util.py
Due: pytest-affected, pytest-full
