Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: python tools/validation/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: python tools/validation/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest:
  name: pytest with coverage
  stages:
  - pre-commit
  language: system
  entry: zsh -c 'export ENVIRONMENT=testing && pytest -vv --cov=ichrisbirch'
  pass_filenames: false
  always_run: false

feat(cli): add support for running individual tests
  cli/ichrisbirch
Due: none

refactor(pre-commit): add affected-tests hook and reorganize validation scripts
  .pre-commit-config.yaml
  deploy-containers/traefik/certs/dev.key
  deploy-containers/traefik/certs/prod.key
  deploy-containers/traefik/certs/test.key
  deploy-containers/traefik/config/dashboard-credentials.txt
  scripts/pre_commit_validations/__init__.py
  scripts/pre_commit_validations/pytest_affected.py
  scripts/pre_commit_validations/validate_html.py
  scripts/pre_commit_validations/validate_markdown_links.py
  tests/scripts/test_validate_html.py
Due: pytest

fix(config): harden Flask session and CSRF security settings
  ichrisbirch/config.py
Due: pytest

security(traefik): remove committed secrets and implement secure credential management
  .env.example
  .gitignore
  deploy-containers/traefik/certs/.gitkeep
  deploy-containers/traefik/certs/dev.crt
  deploy-containers/traefik/certs/dev.key
  deploy-containers/traefik/certs/prod.crt
  deploy-containers/traefik/certs/prod.key
  deploy-containers/traefik/certs/test.crt
  deploy-containers/traefik/certs/test.key
  deploy-containers/traefik/config/.gitkeep
  deploy-containers/traefik/config/dashboard-credentials-info.txt
  deploy-containers/traefik/config/dashboard-credentials.txt
  deploy-containers/traefik/dynamic/tls-prod.yml
  deploy-containers/traefik/scripts/setup-dev-environment.sh
  docker-compose.dev.yml
  docker-compose.yml
Due: none

chore(ops): remove old validation scripts from tools, they are in scripts now
  tools/validation/__init__.py
  tools/validation/validate_html.py
  tools/validation/validate_markdown_links.py
Due: pytest

security(api): restrict CORS to explicit methods and headers
  ichrisbirch/api/main.py
Due: pytest

fix(auth): use specific JWT exceptions instead of broad catch-all
  ichrisbirch/api/endpoints/auth.py
Due: pytest

security(auth): hash refresh tokens before database storage
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/jwt_token_handler.py
Due: pytest

security(auth): require service key for X-User-ID authentication
  ichrisbirch/api/client/api.py
  ichrisbirch/api/client/auth.py
  ichrisbirch/api/client/logging_client.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/main.py
  ichrisbirch/app/api_client.py
  ichrisbirch/app/query_api.py
  tests/conftest.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest

ops(pre-commit): fail fast on pre-commit instead of pytest
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  docs/images/generated/test_env_architecture.svg
  docs/images/generated/test_env_setup_sequence.svg
  docs/images/generated/test_env_teardown_sequence.svg
  docs/images/generated/test_writing_workflow.svg
  docs/images/generated/testing_overview.svg
  pyproject.toml
  scripts/pre_commit_validations/pytest_affected.py
  tests/conftest.py
  tests/utils/database.py
  tools/__init__.py
  tools/docs/__init__.py
  tools/docs/diagram_generator/__init__.py
  tools/docs/diagram_generator/analyzers/__init__.py
  tools/docs/diagram_generator/analyzers/fixture_analyzer.py
  tools/docs/diagram_generator/generate_diagrams.py
  tools/docs/diagram_generator/renderers/__init__.py
  tools/docs/diagram_generator/renderers/aws_diagram_renderer.py
  tools/docs/diagram_generator/renderers/fixture_diagram_renderer.py
  tools/docs/diagram_generator/renderers/testing_diagram_renderer.py
  tools/docs/mkdocs_diagrams_plugin.py
  tools/docs/utils.py
  tools/docs/verify_diagram_generator.py
  tools/docs/verify_docs.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest

docs(testing): add comprehensive testing documentation
  docs/testing/environment.md
  docs/testing/fixtures.md
  docs/testing/overview.md
  docs/testing/persistent-logging.md
  docs/testing/test_configuration.md
  docs/testing/test_data.md
  docs/testing/testing.md
  docs/testing/visualization_options.md
  docs/testing/writing_tests.md
  docs/troubleshooting/testing-issues.md
Due: validate-markdown-links

fix(tests): make database initialization idempotent
  tests/conftest.py
  tests/environment.py
Due: generate-fixture-diagrams, pytest

refactor(templates): rename nested templates/ dirs to _partials/
  ichrisbirch/app/templates/box_packing/_partials/box-block.jinja.html
  ichrisbirch/app/templates/box_packing/_partials/box-compact.jinja.html
  ichrisbirch/app/templates/box_packing/all.html
  ichrisbirch/app/templates/tasks/_partials/completed-block.jinja.html
  ichrisbirch/app/templates/tasks/_partials/completed-compact.jinja.html
  ichrisbirch/app/templates/tasks/_partials/priority-block.jinja.html
  ichrisbirch/app/templates/tasks/_partials/priority-compact.jinja.html
  ichrisbirch/app/templates/tasks/_partials/todo-block.jinja.html
  ichrisbirch/app/templates/tasks/_partials/todo-compact.jinja.html
  ichrisbirch/app/templates/tasks/completed.html
  ichrisbirch/app/templates/tasks/index.html
  ichrisbirch/app/templates/tasks/search.html
  ichrisbirch/app/templates/tasks/todo.html
Due: validate-html

fix(pre-commit): use uv run for Python scripts
  .pre-commit-config.yaml
Due: none

test(factories): add factory_boy factories for all test models
  pyproject.toml
  tests/conftest.py
  tests/factories/__init__.py
  tests/factories/articles.py
  tests/factories/autotasks.py
  tests/factories/base.py
  tests/factories/books.py
  tests/factories/boxes.py
  tests/factories/chats.py
  tests/factories/countdowns.py
  tests/factories/events.py
  tests/factories/habits.py
  tests/factories/money_wasted.py
  tests/factories/tasks.py
  tests/factories/test_factories.py
  tests/factories/users.py
  uv.lock
Due: generate-fixture-diagrams, pytest

refactor(tests): remove hardcoded ID dependencies for transaction isolation
  tests/conftest.py
  tests/factories/articles.py
  tests/factories/autotasks.py
  tests/factories/books.py
  tests/factories/boxes.py
  tests/factories/chats.py
  tests/factories/countdowns.py
  tests/factories/events.py
  tests/factories/habits.py
  tests/factories/money_wasted.py
  tests/factories/tasks.py
  tests/factories/users.py
  tests/ichrisbirch/api/endpoints/chat/test_chats.py
  tests/ichrisbirch/api/endpoints/chat/test_messages.py
  tests/ichrisbirch/api/endpoints/crud_test.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxes.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxitems.py
  tests/ichrisbirch/api/endpoints/test_habits.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/ichrisbirch/app/routes/test_tasks.py
  tests/ichrisbirch/frontend/test_habits_page.py
  tests/test_data/__init__.py
  tests/test_data/boxes.py
  tests/test_data/boxitems.py
  tests/test_data/habitcategories.py
  tests/test_data/habits.py
  tests/test_data/habitscompleted.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest

refactor(tests): implement transactional test isolation for API tests
  tests/conftest.py
  tests/ichrisbirch/api/endpoints/test_admin.py
  tests/ichrisbirch/api/endpoints/test_articles.py
  tests/ichrisbirch/api/endpoints/test_autotasks.py
  tests/ichrisbirch/api/endpoints/test_books.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxes.py
  tests/ichrisbirch/api/endpoints/test_boxpacking_boxitems.py
  tests/ichrisbirch/api/endpoints/test_countdowns.py
  tests/ichrisbirch/api/endpoints/test_events.py
  tests/ichrisbirch/api/endpoints/test_habits.py
  tests/ichrisbirch/api/endpoints/test_money_wasted.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest

feat(tests): add pytest-xdist parallel execution support
  docs/testing/fixtures.md
  pyproject.toml
  scripts/pre_commit_validations/pytest_affected.py
  tests/conftest.py
  uv.lock
Due: generate-fixture-diagrams, validate-markdown-links, pytest

feat(stats): add developer journey tracking system
  .gitignore
  .pre-commit-config.yaml
  cli/ichrisbirch
  scripts/pre_commit_validations/capture_pre_state.py
  scripts/stats/__init__.py
  scripts/stats/collect.py
  scripts/stats/file_history.py
  scripts/stats/post_commit.py
  scripts/stats/sync.py
Due: pytest

refactor(tests): migrate API endpoint tests to factory-boy
  tests/conftest.py
  tests/ichrisbirch/api/endpoints/chat/test_chats.py
  tests/ichrisbirch/api/endpoints/chat/test_messages.py
  tests/ichrisbirch/api/endpoints/test_auth.py
  tests/ichrisbirch/api/endpoints/test_users.py
Due: generate-fixture-diagrams, pytest

refactor(tests): migrate app routes and frontend tests to factory-boy
  pyproject.toml
  tests/ichrisbirch/app/routes/test_auth.py
  tests/ichrisbirch/frontend/test_autotasks_page.py
  tests/ichrisbirch/frontend/test_countdowns_page.py
  tests/ichrisbirch/frontend/test_events_page.py
  tests/ichrisbirch/frontend/test_habits_page.py
  tests/ichrisbirch/frontend/test_tasks_page.py
  uv.lock
Due: pytest

test: create test for full pytest for pre-commit
  scripts/pre_commit_validations/pytest_full.py
Due: pytest

perf(tests): remove per-test sequence resets from transactional fixtures
  scripts/profile_test_fixtures.py
  tests/conftest.py
Due: generate-fixture-diagrams, pytest

perf(tests): add user and API app caching to optimize fixture overhead
  scripts/profile_test_fixtures.py
  tests/conftest.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest

test: trigger pre-commit hooks
  scripts/profile_test_fixtures.py
Due: pytest

perf(stats): remove duplicate tool runs and batch radon calls
  scripts/stats/collect.py
  scripts/stats/file_history.py
  scripts/stats/post_commit.py
Due: pytest

feat(stats): add event-sourced stats package foundation
  .gitignore
  stats/__init__.py
  stats/collectors/__init__.py
  stats/config.py
  stats/emit.py
  stats/hooks/__init__.py
  stats/hooks/mypy.py
  stats/hooks/ruff.py
  stats/schemas/__init__.py
  stats/schemas/base.py
  stats/schemas/collectors/__init__.py
  stats/schemas/hooks/__init__.py
  stats/schemas/hooks/mypy.py
  stats/schemas/hooks/ruff.py
  tests/stats/__init__.py
  tests/stats/conftest.py
  tests/stats/fixtures/__init__.py
  tests/stats/fixtures/tool_outputs/bandit_clean.json
  tests/stats/fixtures/tool_outputs/bandit_with_issues.json
  tests/stats/fixtures/tool_outputs/docker_images.jsonl
  tests/stats/fixtures/tool_outputs/mypy_clean.txt
  tests/stats/fixtures/tool_outputs/mypy_with_errors.txt
  tests/stats/fixtures/tool_outputs/ruff_clean.json
  tests/stats/fixtures/tool_outputs/ruff_with_issues.json
  tests/stats/fixtures/tool_outputs/tokei_output.json
  tests/stats/test_config.py
  tests/stats/test_emit.py
  tests/stats/test_hooks/__init__.py
  tests/stats/test_hooks/test_mypy.py
  tests/stats/test_hooks/test_ruff.py
  tests/stats/test_schemas.py
Due: pytest

feat(stats): add remaining hooks and all collectors
  pyproject.toml
  scripts/stats/collect.py
  stats/collectors/__init__.py
  stats/collectors/coverage.py
  stats/collectors/dependencies.py
  stats/collectors/docker.py
  stats/collectors/files.py
  stats/collectors/pytest_collector.py
  stats/collectors/tokei.py
  stats/hooks/__init__.py
  stats/hooks/bandit.py
  stats/hooks/codespell.py
  stats/hooks/shellcheck.py
  stats/schemas/collectors/__init__.py
  stats/schemas/collectors/coverage.py
  stats/schemas/collectors/dependencies.py
  stats/schemas/collectors/docker.py
  stats/schemas/collectors/files.py
  stats/schemas/collectors/pytest_collector.py
  stats/schemas/collectors/tokei.py
  stats/schemas/hooks/bandit.py
  stats/schemas/hooks/codespell.py
  stats/schemas/hooks/shellcheck.py
  tests/stats/fixtures/tool_outputs/codespell_clean.txt
  tests/stats/fixtures/tool_outputs/codespell_with_issues.txt
  tests/stats/fixtures/tool_outputs/pytest_report.json
  tests/stats/fixtures/tool_outputs/shellcheck_clean.json
  tests/stats/fixtures/tool_outputs/shellcheck_with_issues.json
  tests/stats/fixtures/tool_outputs/tokei_sample.json
  tests/stats/test_collectors/__init__.py
  tests/stats/test_collectors/test_discovery.py
  tests/stats/test_collectors/test_pytest_collector.py
  tests/stats/test_collectors/test_remaining.py
  tests/stats/test_collectors/test_tokei.py
  tests/stats/test_hooks/test_bandit.py
  tests/stats/test_hooks/test_codespell.py
  tests/stats/test_hooks/test_discovery.py
  tests/stats/test_hooks/test_shellcheck.py
Due: pytest

feat(stats): add entry point scripts and event union parsing
  stats/post_commit_collect.py
  stats/pre_commit_capture.py
  stats/schemas/__init__.py
  stats/schemas/commit.py
  tests/stats/test_post_commit_collect.py
  tests/stats/test_pre_commit_capture.py
  tests/stats/test_schemas/test_commit.py
  tests/stats/test_schemas/test_event_union.py
Due: pytest

feat(stats): wire event-sourced stats into pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  scripts/stats/__init__.py
Due: pytest

fix(stats): handle collector-specific arguments in post_commit_collect
  stats/post_commit_collect.py
Due: pytest

refactor(stats): remove legacy stats system
  .pre-commit-config.yaml
  cli/ichrisbirch
  scripts/pre_commit_validations/capture_pre_state.py
  scripts/stats/__init__.py
  scripts/stats/collect.py
  scripts/stats/file_history.py
  scripts/stats/post_commit.py
  scripts/stats/sync.py
Due: pytest

feat(stats): add radon collector for code complexity metrics
  pyproject.toml
  stats/collectors/radon.py
  stats/schemas/__init__.py
  stats/schemas/collectors/radon.py
  tests/stats/test_collectors/test_radon.py
Due: pytest

feat(cli): enhance stats commands and fix tokei accuracy
  .tokeignore
  cli/ichrisbirch
  stats/collectors/tokei.py
Due: pytest

feat(security): add detect-private-key pre-commit hook with stats capture
  .pre-commit-config.yaml
  cli/ichrisbirch
  deploy-containers/traefik/certs/dev.crt
  deploy-containers/traefik/certs/dev.key
  deploy-containers/traefik/certs/test.crt
  deploy-containers/traefik/certs/test.key
  stats/config.py
  stats/hooks/detect_private_key.py
  stats/schemas/hooks/detect_private_key.py
  tests/stats/fixtures/tool_outputs/detect_private_key_clean.txt
  tests/stats/fixtures/tool_outputs/detect_private_key_with_issues.txt
  tests/stats/test_hooks/test_detect_private_key.py
Due: pytest

refactor(app): complete QueryAPI to LoggingAPIClient migration
  .github/copilot-instructions.md
  CLAUDE.md
  docs/api/client/migration.md
  ichrisbirch/app/api_client.py
  ichrisbirch/app/query_api.py
  ichrisbirch/app/routes/articles.py
  ichrisbirch/app/routes/autotasks.py
  ichrisbirch/app/routes/books.py
  ichrisbirch/app/routes/box_packing.py
  ichrisbirch/app/routes/countdowns.py
  ichrisbirch/app/routes/events.py
  ichrisbirch/app/routes/habits.py
  ichrisbirch/app/routes/journal.py
  ichrisbirch/app/routes/money_wasted.py
  ichrisbirch/app/routes/tasks.py
  ichrisbirch/app/routes/users.py
  ichrisbirch/chat/api.py
  tests/ichrisbirch/app/routes/test_articles.py
Due: validate-markdown-links, pytest

fix(stats): run devstats-capture FIRST and remove fixer hooks
  .pre-commit-config.yaml
  pyproject.toml
Due: none

test: trigger post-commit hooks
  pyproject.toml
Due: none

Revert "test: trigger post-commit hooks"
  pyproject.toml
Due: none

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest: any of: \.py$
