Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-html, pytest

validate-html:
  name: validate html against w3c standards
  stages:
  - commit
  language: system
  entry: python scripts/validate_html.py
  pass_filenames: true
  always_run: false

pytest:
  name: pytest with coverage
  stages:
  - commit
  language: system
  entry: zsh -c 'export ENVIRONMENT=testing && pytest --cov=ichrisbirch'
  pass_filenames: false
  always_run: false

fix(chat): use relative path from project root to find custom stylesheet
  ichrisbirch/chat/app.py
Due: pytest

ops(nginx/ssl): add chat.ichrisbirch.com to list of subdomains for certificate
  scripts/new_server.sh
Due: none

feat(chat): add jwt auth to chat app connected to user auth
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/chat/api.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/auth.py
  ichrisbirch/config.py
Due: pytest

feat: add chat link to homepage and update chat and api url to be env dependent
  ichrisbirch/app/routes/home.py
  ichrisbirch/app/templates/index.html
Due: validate-html, pytest

feat(users): disable signups in prod using environment config
  .dev.env.secret
  .gitsecret/paths/mapping.cfg
  .prod.env.secret
  .test.env.secret
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/app/main.py
  ichrisbirch/app/routes/auth.py
  ichrisbirch/app/templates/auth/signup.html
  ichrisbirch/app/templates/base.html
  ichrisbirch/app/templates/submit-issue.jinja.html
  ichrisbirch/config.py
  tests/conftest.py
Due: validate-html, pytest

fix(chat): use 0.0.0.0 for server host, to allow access from other than localhost
  deploy/prod/supervisor/chat.conf
Due: none

fix(chat): update auth and request flow for connection error
  ichrisbirch/chat/api.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/auth.py
Due: pytest

fix(chat): fix key error of empty chat dictionary on new chat creation
  ichrisbirch/chat/api.py
  ichrisbirch/chat/app.py
Due: pytest

fix(chat): fix user login and logout, using correct headers and user auth on api
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/users.py
  ichrisbirch/chat/api.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/auth.py
  ichrisbirch/logger.py
Due: pytest

fix(chat): use current_chat to update chat messages instead of original chat
  ichrisbirch/chat/api.py
  ichrisbirch/chat/app.py
  ichrisbirch/logger.py
Due: pytest

ops: add logging to test files that are calling setting with testing env for debugging
  tests/conftest.py
  tests/util.py
Due: pytest

ops: add function caller logger to util for debugging
  ichrisbirch/util.py
Due: pytest

fix(logger): spelling mistake in python_multipart
  ichrisbirch/logger.py
Due: pytest

feat(cli): update local dev to use 127.0.0.1 instead of localhost
  cli/ichrisbirch
Due: none

chore: change logger names for app and api to reflect location better
  ichrisbirch/api/main.py
  ichrisbirch/app/main.py
Due: pytest

feat(chat): add chat host and port to api allowed origins
  ichrisbirch/config.py
Due: pytest

feat(chat): add anon chat and local token persistence for sessions
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/endpoints/chat/chats.py
  ichrisbirch/api/jwt_token_handler.py
  ichrisbirch/chat/app.py
  ichrisbirch/chat/auth.py
  tests/ichrisbirch/api/endpoints/test_auth.py
Due: pytest

feat: add redis to project and update env with password
  .dev.env.secret
  .gitsecret/keys/pubring.kbx
  .gitsecret/keys/pubring.kbx~
  .gitsecret/paths/mapping.cfg
  .prod.env.secret
  .test.env.secret
  poetry.lock
  pyproject.toml
Due: none

docs: update git-secret docs for expired key
  docs/git_secret.md
Due: none

ops: add redis to server install script
  scripts/new_server.sh
Due: none

Path conditions:
  validate-html: any of: \.(html|htm|xhtml)$
  pytest: any of: \.py$
