Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$

feat(tasks)!: rank open tasks by a silent sort date and category windows
  README.md
  docs/index.md
  docs/scheduler.md
  docs/tasks.md
  ichrisbirch/alembic/versions/b7c8d9e0f1a2_rank_tasks_by_date.py
  ichrisbirch/api/endpoints/autotasks.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/database/initialization.py
  ichrisbirch/gui/tasks_add.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/autotask.py
  ichrisbirch/models/task.py
  ichrisbirch/models/user.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/autotask.py
  ichrisbirch/schemas/task.py
  ichrisbirch/services/task_priorities.py
  ichrisbirch/services/task_queue.py
  mkdocs.yml
  scripts/seed/seeders/autofun.py
  scripts/seed/seeders/autotasks.py
  scripts/seed/seeders/tasks.py
  tests/conftest.py
  tests/factories/autotasks.py
  tests/factories/tasks.py
  tests/factories/test_factories.py
  tests/ichrisbirch/api/endpoints/test_autotasks.py
  tests/ichrisbirch/api/endpoints/test_date_bounded_reads.py
  tests/ichrisbirch/api/endpoints/test_row_limited_reads.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/ichrisbirch/api/test_api_error_handling.py
  tests/ichrisbirch/models/test_autotask.py
  tests/ichrisbirch/scheduler/test_jobs.py
  tests/ichrisbirch/schemas/test_task_schema.py
  tests/test_data/autotasks.py
  tests/test_data/tasks.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest-affected, pytest-full

feat(vue): order tasks by rank_at with snooze, pin, drop and drag
  frontend/e2e/autotasks.spec.ts
  frontend/e2e/tasks.spec.ts
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/assets/sass/pages/_tasks.scss
  frontend/src/components/autotasks/AddEditAutoTaskModal.vue
  frontend/src/components/dashboard/WidgetTasksPriority.vue
  frontend/src/components/tasks/AddEditTaskModal.vue
  frontend/src/components/tasks/TaskBlockPriority.vue
  frontend/src/components/tasks/TaskBlockTodo.vue
  frontend/src/components/tasks/TaskCompactPriority.vue
  frontend/src/components/tasks/TaskCompactTodo.vue
  frontend/src/components/tasks/TasksSubnav.vue
  frontend/src/components/tasks/__tests__/taskUtils.test.ts
  frontend/src/components/tasks/taskUtils.ts
  frontend/src/stores/__tests__/autotasks.test.ts
  frontend/src/stores/__tests__/tasks.test.ts
  frontend/src/stores/autotasks.ts
  frontend/src/stores/tasks.ts
  frontend/src/views/AutoFunView.vue
  frontend/src/views/AutoTasksView.vue
  frontend/src/views/TasksStatsView.vue
  frontend/src/views/TasksView.vue
  frontend/src/views/__tests__/AutoFunView.test.ts
  frontend/src/views/__tests__/AutoTasksView.test.ts
  frontend/src/views/__tests__/TasksView.test.ts
Due: none

feat(cli)!: snooze, pin and drop tasks, and edit category windows
  cli/README.md
  cli/internal/api/autotasks.go
  cli/internal/api/autotasks_test.go
  cli/internal/api/tasks.go
  cli/internal/api/tasks_test.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/interactive_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  cli/internal/cli/root_test.go
  cli/internal/cli/tasks.go
  cli/internal/prompt/prompt.go
  cli/internal/prompt/prompt_test.go
  cli/internal/prompt/validate.go
Due: validate-markdown-links

fix(tasks): reopen tasks and hold closed-state fields to their state
  cli/README.md
  cli/internal/api/tasks.go
  cli/internal/api/tasks_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/root_test.go
  cli/internal/cli/tasks.go
  docs/scheduler.md
  docs/tasks.md
  frontend/e2e/tasks.spec.ts
  frontend/src/assets/sass/pages/_tasks.scss
  frontend/src/components/tasks/DropTaskModal.vue
  frontend/src/components/tasks/TaskBlockDropped.vue
  frontend/src/components/tasks/TaskCompactDropped.vue
  frontend/src/components/tasks/__tests__/DropTaskModal.test.ts
  frontend/src/stores/__tests__/tasks.test.ts
  frontend/src/stores/tasks.ts
  frontend/src/views/TasksView.vue
  frontend/src/views/__tests__/TasksView.test.ts
  ichrisbirch/alembic/versions/b7c8d9e0f1a2_rank_tasks_by_date.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/models/autotask.py
  ichrisbirch/models/task.py
  ichrisbirch/services/task_queue.py
  tests/factories/test_factories.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/ichrisbirch/models/test_autotask.py
  tests/ichrisbirch/schemas/test_task_schema.py
Due: validate-markdown-links, pytest-affected, pytest-full

docs(cli): name the stdout contract's callers without naming one
  cli/internal/cli/streams_test.go
Due: none

docs(tasks): state the completion anchor and reopen everywhere they apply
  cli/internal/api/autotasks.go
  cli/internal/api/tasks.go
  cli/internal/cli/tasks.go
  docs/api/client/resources.md
  docs/scheduler.md
  docs/tasks.md
  frontend/src/components/tasks/__tests__/taskUtils.test.ts
  frontend/src/components/tasks/taskUtils.ts
  frontend/src/stores/autotasks.ts
  ichrisbirch/alembic/versions/b7c8d9e0f1a2_rank_tasks_by_date.py
  ichrisbirch/api/endpoints/tasks.py
  ichrisbirch/models/autotask.py
  ichrisbirch/scheduler/jobs.py
  ichrisbirch/schemas/autotask.py
  ichrisbirch/schemas/task.py
  ichrisbirch/services/task_queue.py
  tests/ichrisbirch/api/endpoints/test_tasks.py
  tests/ichrisbirch/models/test_autotask.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(ops): answer test run --help without touching the test containers
  ops/icbops
Due: none

feat(issues): track software work apart from personal projects
  ichrisbirch/alembic/versions/c8d9e0f1a2b3_add_issues.py
  ichrisbirch/api/endpoints/__init__.py
  ichrisbirch/api/endpoints/issue_initiatives.py
  ichrisbirch/api/endpoints/issue_labels.py
  ichrisbirch/api/endpoints/issues.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/api/main.py
  ichrisbirch/database/initialization.py
  ichrisbirch/models/__init__.py
  ichrisbirch/models/issue.py
  ichrisbirch/models/item_number_sequence.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/issue.py
  ichrisbirch/services/issue_rank.py
  ichrisbirch/services/issue_readiness.py
  ichrisbirch/services/issue_refs.py
  ichrisbirch/services/issue_views.py
  scripts/seed/seeders/__init__.py
  scripts/seed/seeders/issues.py
  tests/ichrisbirch/api/endpoints/test_issue_initiatives.py
  tests/ichrisbirch/api/endpoints/test_issue_labels.py
  tests/ichrisbirch/api/endpoints/test_issues.py
  tests/ichrisbirch/api/endpoints/test_projects.py
  tests/ichrisbirch/api/endpoints/test_row_limited_reads.py
  tests/ichrisbirch/database/test_item_number_sequence_migration.py
  tests/ichrisbirch/services/test_issue_rank.py
  tests/test_data/__init__.py
  tests/test_data/issues.py
  tests/test_seed/test_issues_seeder.py
  tests/utils/database.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

feat(cli): add icb issues, and shelve projects for someday
  cli/README.md
  cli/internal/api/issues.go
  cli/internal/api/issues_test.go
  cli/internal/api/projects.go
  cli/internal/api/row_limit_test.go
  cli/internal/cli/client.go
  cli/internal/cli/issue_initiatives.go
  cli/internal/cli/issue_labels.go
  cli/internal/cli/issues.go
  cli/internal/cli/issues_test.go
  cli/internal/cli/issues_tree.go
  cli/internal/cli/issues_writes.go
  cli/internal/cli/limit_test.go
  cli/internal/cli/notfound_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  cli/internal/cli/projects.go
  cli/internal/cli/root.go
  cli/internal/cli/strains.go
  cli/internal/cli/strains_test.go
  cli/internal/cli/tree.go
Due: validate-markdown-links

fix(cli): print the API's own sentence when it refuses with a 409
  cli/internal/cli/client.go
  cli/internal/cli/client_test.go
Due: none

refactor(frontend): extract the toggle-chips mixin from the strains page
  frontend/src/assets/sass/components/_toggle_chips.scss
  frontend/src/assets/sass/pages/_strains.scss
Due: none

feat(vue): add the issues pages, and someday to projects
  deploy-containers/traefik/dynamic/dev/routing.yml
  deploy-containers/traefik/dynamic/prod/routing.yml
  deploy-containers/traefik/dynamic/test/routing.yml
  deploy-containers/traefik/vue-paths.txt
  frontend/e2e/issues.spec.ts
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/assets/sass/main.scss
  frontend/src/assets/sass/pages/_issues.scss
  frontend/src/components/issues/AddEditInitiativeModal.vue
  frontend/src/components/issues/AddEditIssueLabelModal.vue
  frontend/src/components/issues/AddEditIssueModal.vue
  frontend/src/components/issues/CancelIssueModal.vue
  frontend/src/components/issues/DropInitiativeModal.vue
  frontend/src/components/issues/IssueDetailPanel.vue
  frontend/src/components/issues/issueNumbers.ts
  frontend/src/components/sidebarLinks.ts
  frontend/src/config/subnavLinks.ts
  frontend/src/router.ts
  frontend/src/stores/__tests__/issueInitiatives.test.ts
  frontend/src/stores/__tests__/issueLabels.test.ts
  frontend/src/stores/__tests__/issues.test.ts
  frontend/src/stores/issueInitiatives.ts
  frontend/src/stores/issueLabels.ts
  frontend/src/stores/issues.ts
  frontend/src/views/IssueInitiativesView.vue
  frontend/src/views/IssueLabelsView.vue
  frontend/src/views/IssuesView.vue
  frontend/src/views/ProjectsView.vue
  frontend/src/views/__tests__/AddEditIssueModal.test.ts
  frontend/src/views/__tests__/CancelIssueModal.test.ts
  frontend/src/views/__tests__/IssueDetailPanel.test.ts
  frontend/src/views/__tests__/IssueViews.test.ts
  frontend/src/views/__tests__/IssuesView.test.ts
  frontend/src/views/__tests__/ProjectsView.test.ts
Due: none

fix(vue): define the corner and spacing tokens pages already reference
  frontend/src/assets/sass/components/_buttons.scss
  frontend/src/assets/sass/components/_markdown.scss
  frontend/src/assets/sass/main.scss
  frontend/src/views/CookingTechniqueDetailView.vue
  frontend/src/views/CookingTechniquesView.vue
Due: none

test(e2e): add the coffee pages' smoke spec
  frontend/e2e/coffee.spec.ts
  frontend/src/views/__tests__/CoffeeViews.test.ts
Due: none

docs(issues): explain the ready queue, the order and the claim
  CLAUDE.md
  docs/index.md
  docs/issues.md
  mkdocs.yml
Due: validate-markdown-links

fix(issues): address an initiative whose name holds a slash
  ichrisbirch/api/endpoints/issue_initiatives.py
  tests/ichrisbirch/api/endpoints/test_issue_initiatives.py
Due: pytest-affected, pytest-full

fix(cli): keep a shelved project's items out of the next-work queue
  cli/internal/api/projects.go
  cli/internal/cli/items.go
  cli/internal/cli/items_test.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
Due: none

fix(issues): keep a parent with open children out of every write
  cli/internal/cli/issues_writes.go
  docs/issues.md
  ichrisbirch/api/endpoints/issues.py
  ichrisbirch/services/issue_readiness.py
  tests/ichrisbirch/api/endpoints/test_issues.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(issues): refuse a reorder beside an issue of another priority
  cli/internal/cli/issues_writes.go
  docs/issues.md
  ichrisbirch/api/endpoints/issues.py
  ichrisbirch/schemas/issue.py
  tests/ichrisbirch/api/endpoints/test_issues.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(migrations): start the shared number sequence above every number issued
  docs/testing/environment.md
  ichrisbirch/alembic/versions/c8d9e0f1a2b3_add_issues.py
  ichrisbirch/database/initialization.py
  tests/ichrisbirch/database/test_item_number_sequence_migration.py
Due: validate-markdown-links, pytest-affected, pytest-full

test(issues): drop seeder and rank tests the API tests already pin
  tests/ichrisbirch/services/test_issue_rank.py
  tests/test_seed/test_issues_seeder.py
Due: pytest-affected, pytest-full

docs(issues): name the renumber threshold and the loops writes refuse
  docs/issues.md
  ichrisbirch/services/issue_readiness.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(compose): stop a failing dev or test service after three restarts
  docker-compose.dev.yml
  docker-compose.test.yml
  docs/troubleshooting/docker-issues.md
Due: validate-markdown-links

docs: name the merged-compose command as icbops <env> docker
  CLAUDE.md
  docker-compose.dev.yml
  docker-compose.test.yml
  docs/docker/docker-compose.md
  docs/docker/index.md
  docs/traefik-deployment.md
  docs/troubleshooting/testing-issues.md
Due: validate-markdown-links

ci(e2e): keep the traces, snapshots and stack logs of a failed run
  .github/workflows/validate.yml
Due: none

feat(api): admit a client-credentials service to the routes its scope lists
  .env.example
  CLAUDE.md
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/exceptions.py
  ichrisbirch/api/main.py
  ichrisbirch/api/oidc_auth.py
  ichrisbirch/api/request_zone.py
  ichrisbirch/api/service_scopes.py
  ichrisbirch/config.py
  tests/conftest.py
  tests/ichrisbirch/api/test_oidc_auth.py
  tests/ichrisbirch/api/test_request_zone.py
  tests/ichrisbirch/api/test_service_scopes.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest-affected, pytest-full

docs: describe the authentication the API runs
  docs/api/authentication_strategies.md
  docs/api/index.md
  docs/authentication-architecture.md
  docs/index.md
  mkdocs.yml
Due: validate-markdown-links

feat(cli): authenticate as a service client when ICB_CLIENT_SECRET is set
  cli/README.md
  cli/go.mod
  cli/go.sum
  cli/internal/cli/auth.go
  cli/internal/cli/client.go
  cli/internal/cli/service_test.go
  cli/internal/config/config.go
Due: validate-markdown-links

ci(e2e): keep the stack logs and retry traces when a run passes
  .github/workflows/validate.yml
Due: none

feat(migrations): move development work from projects into issues
  ichrisbirch/alembic/versions/d9e0f1a2b3c4_move_development_work_into_issues.py
  tests/ichrisbirch/database/test_issues_data_move_migration.py
  tests/ichrisbirch/database/test_item_number_sequence_migration.py
Due: pytest-affected, pytest-full

feat(cli): point a missed number at the other store
  cli/internal/cli/issues.go
  cli/internal/cli/items.go
Due: none

refactor(api): name the client-credentials caller a scoped client
  CLAUDE.md
  docs/authentication-architecture.md
  ichrisbirch/api/client_scopes.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/exceptions.py
  ichrisbirch/api/main.py
  ichrisbirch/api/oidc_auth.py
  ichrisbirch/api/request_zone.py
  ichrisbirch/config.py
  tests/conftest.py
  tests/ichrisbirch/api/test_client_scopes.py
  tests/ichrisbirch/api/test_oidc_auth.py
  tests/ichrisbirch/api/test_request_zone.py
Due: generate-fixture-diagrams, validate-markdown-links, pytest-affected, pytest-full

fix(cli): report a service as authenticated only when a token is granted
  cli/README.md
  cli/internal/api/client.go
  cli/internal/cli/auth.go
  cli/internal/cli/auth_status_test.go
  cli/internal/cli/client.go
  cli/internal/cli/overview.go
  cli/internal/cli/overview_test.go
  cli/internal/cli/service_test.go
  cli/internal/config/config.go
  cli/internal/config/config_test.go
Due: validate-markdown-links

fix(migrations): move only build projects, and leave chores as personal work
  ichrisbirch/alembic/versions/d9e0f1a2b3c4_move_development_work_into_issues.py
  tests/ichrisbirch/database/test_issues_data_move_migration.py
Due: pytest-affected, pytest-full

feat(projects): default a new project's kind to life
  frontend/src/components/projects/AddEditProjectModal.vue
  ichrisbirch/alembic/versions/e0f1a2b3c4d5_default_a_project_kind_to_life.py
  ichrisbirch/models/project.py
  ichrisbirch/schemas/project.py
  scripts/seed/seeders/projects.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

fix(cli): name the other store only where a number missed
  cli/README.md
  cli/internal/cli/issues.go
  cli/internal/cli/items.go
  cli/internal/cli/notfound_test.go
  cli/internal/cli/projects.go
Due: validate-markdown-links

docs: correct the scoped-client prose where it disagreed with the code
  .env.example
  CLAUDE.md
  cli/README.md
  cli/internal/api/client.go
  cli/internal/cli/auth.go
  cli/internal/cli/client.go
  cli/internal/cli/overview.go
  cli/internal/cli/service_test.go
  cli/internal/config/config.go
  docs/authentication-architecture.md
  ichrisbirch/api/client_scopes.py
  ichrisbirch/api/endpoints/auth.py
  ichrisbirch/api/main.py
  ichrisbirch/api/oidc_auth.py
  ichrisbirch/config.py
  tests/ichrisbirch/api/test_client_scopes.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(cli): name the other store on every verb taking a number
  cli/internal/cli/issues.go
  cli/internal/cli/items.go
  cli/internal/cli/notfound_test.go
Due: none
