Repository datapointchris/ichrisbirch: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-fixture-diagrams, validate-html, validate-markdown-links, pytest-affected, pytest-full

generate-fixture-diagrams:
  name: Generate fixture diagrams
  description: Generate fixture diagrams when test fixture code changes
  entry: uv run python -m tools.docs.diagram_generator.generate_diagrams
  language: python
  pass_filenames: false
  always_run: false
  additional_dependencies:
  - graphviz
  - pyyaml

validate-html:
  name: validate html against w3c standards
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_html.py
  pass_filenames: true
  always_run: false

validate-markdown-links:
  name: validate markdown links
  description: Check that all markdown links resolve to existing files
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/validate_markdown_links.py
  pass_filenames: true
  always_run: false

pytest-affected:
  name: pytest (affected tests only)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_affected.py
  pass_filenames: false
  always_run: false

pytest-full:
  name: pytest (full test suite)
  stages:
  - pre-commit
  language: system
  entry: uv run python scripts/pre_commit_validations/pytest_full.py
  pass_filenames: false
  always_run: false

fix(database): drop the literal backticks from check constraint names
  docs/alembic.md
  ichrisbirch/alembic/versions/464a363261aa_drop_backticks_from_check_constraint_names.py
  ichrisbirch/alembic/versions/a1b2c3d4e5f6_add_projects_tables.py
  ichrisbirch/alembic/versions/b2c3d4e5f6a7_projects_uuid7_description_tasks.py
  ichrisbirch/alembic/versions/b7c8d9e0f1a2_rank_tasks_by_date.py
  ichrisbirch/alembic/versions/c8d9e0f1a2b3_add_issues.py
  ichrisbirch/alembic/versions/c9d0e1f2a3b4_add_status_to_projects.py
  ichrisbirch/alembic/versions/e4f5a6b7c8d9_add_strains_tables.py
  ichrisbirch/alembic/versions/e8d57aa23bca_add_admin_settings.py
  ichrisbirch/database/base.py
  ichrisbirch/models/recipe.py
  tests/ichrisbirch/database/test_check_constraint_names.py
Due: validate-markdown-links, pytest-affected, pytest-full

docs: delete the stale Copilot instructions
  .github/copilot-instructions.md
Due: validate-markdown-links

feat(api): let a service client holding icb.issues.read read issues
  ichrisbirch/api/client_scopes.py
  ichrisbirch/api/main.py
  tests/ichrisbirch/api/test_client_scopes.py
  tests/ichrisbirch/api/testdata/client-scopes.json
Due: pytest-affected, pytest-full

feat(cli): request icb.issues.read alongside icb.project-items.read as a service
  cli/README.md
  cli/internal/cli/service_test.go
  cli/internal/config/config.go
  docs/authentication-architecture.md
Due: validate-markdown-links

fix(database): make the migrated schema match the models
  CLAUDE.md
  docs/blue-green-deployment.md
  ichrisbirch/alembic/versions/21e7c735fce8_match_the_schema_to_the_models.py
  ichrisbirch/models/project.py
  ichrisbirch/models/recipe.py
  tests/ichrisbirch/database/test_models_match_migrations.py
Due: validate-markdown-links, pytest-affected, pytest-full

fix(bootstrap): stop granting on schemas a fresh database does not have
  scripts/bootstrap-homelab.sh
Due: none

feat(database): drop the apartments, journal and portfolio tables
  ichrisbirch/alembic/versions/04106ba80f02_drop_apartments_journal_portfolio.py
  ichrisbirch/database/initialization.py
  tests/ichrisbirch/database/test_models_match_migrations.py
Due: pytest-affected, pytest-full

chore(frontend): delete the styles of the apartments, journal and portfolio pages
  frontend/src/assets/sass/pages/_apartments.scss
  frontend/src/assets/sass/pages/_journal.scss
  frontend/src/assets/sass/pages/_portfolio.scss
Due: none

fix(ops): refuse another checkout's test stack before the e2e hook runs
  CLAUDE.md
  ops/icbops
  tests/icbops-test-stack.bats
Due: validate-markdown-links

feat(cli): answer a top-level issue guess with `icb issues`
  cli/internal/cli/issues.go
  cli/internal/cli/root.go
  cli/internal/cli/root_test.go
Due: none

docs(claude): list the icbops grammar the tool accepts
  CLAUDE.md
Due: validate-markdown-links

fix(cli): refuse an unknown subcommand before a flag at every group
  cli/internal/cli/root.go
  cli/internal/cli/root_test.go
Due: none

fix(cli): refuse a positional on a leaf as an argument, not a command
  cli/internal/cli/articles.go
  cli/internal/cli/auth.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/books.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/issue_initiatives.go
  cli/internal/cli/issue_labels.go
  cli/internal/cli/issues.go
  cli/internal/cli/issues_writes.go
  cli/internal/cli/items.go
  cli/internal/cli/overview.go
  cli/internal/cli/patterns.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/root.go
  cli/internal/cli/root_test.go
  cli/internal/cli/strains.go
  cli/internal/cli/tasks.go
Due: none

chore(gitignore): ignore the coverage report CI writes
  .gitignore
Due: none

build(pyproject): declare the license as an SPDX expression
  pyproject.toml
Due: none

fix(projects): resolve a name holding a slash, and answer a miss with near names
  cli/internal/api/project_items.go
  cli/internal/api/projects.go
  cli/internal/api/projects_test.go
  cli/internal/cli/items.go
  cli/internal/cli/projects.go
  ichrisbirch/api/client_scopes.py
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/api/endpoints/projects.py
  ichrisbirch/api/exceptions.py
  ichrisbirch/schemas/project.py
  ichrisbirch/services/issue_refs.py
  ichrisbirch/services/names_near.py
  ichrisbirch/services/project_refs.py
  tests/ichrisbirch/api/endpoints/test_issue_initiatives.py
  tests/ichrisbirch/api/endpoints/test_projects.py
  tests/ichrisbirch/api/test_client_scopes.py
  tests/ichrisbirch/api/testdata/client-scopes.json
Due: pytest-affected, pytest-full

feat(projects): name each dependency by number and state on an item's detail
  cli/internal/api/project_items.go
  cli/internal/cli/items.go
  cli/internal/cli/items_test.go
  ichrisbirch/api/endpoints/project_items.py
  ichrisbirch/schemas/__init__.py
  ichrisbirch/schemas/project_item.py
  tests/ichrisbirch/api/endpoints/test_projects.py
Due: pytest-affected, pytest-full

test(cli): pin that a completed or dropped project ranks no item in next
  cli/internal/cli/overview_test.go
Due: none

chore(precommit): regenerate the hooks and CI at forge-toolchain 31
  .github/workflows/validate.yml
  .pre-commit-config.yaml
Due: none

fix(ci): leave a CLI release to the run for a newer push to main
  .github/workflows/release-cli.yml
Due: none

chore(precommit): regenerate the hooks and CI at forge-toolchain 32
  .github/workflows/validate.yml
  .pre-commit-config.yaml
Due: none

chore(ruff): select six flake8-bandit rules
  pyproject.toml
Due: none

refactor(cli): mark each command group as a goclikit namespace
  cli/go.mod
  cli/go.sum
  cli/internal/cli/articles.go
  cli/internal/cli/auth.go
  cli/internal/cli/autotasks.go
  cli/internal/cli/books.go
  cli/internal/cli/cooking_techniques.go
  cli/internal/cli/countdowns.go
  cli/internal/cli/events.go
  cli/internal/cli/habits.go
  cli/internal/cli/issue_initiatives.go
  cli/internal/cli/issue_labels.go
  cli/internal/cli/issues.go
  cli/internal/cli/items.go
  cli/internal/cli/patterns.go
  cli/internal/cli/projects.go
  cli/internal/cli/recipes.go
  cli/internal/cli/root.go
  cli/internal/cli/root_test.go
  cli/internal/cli/strains.go
  cli/internal/cli/tasks.go
Due: none

chore(node): keep .nvmrc at the repo root
  .nvmrc
Due: none

chore(ci): regenerate the hooks and CI at toolchain stamp 33
  .github/workflows/validate.yml
  .pre-commit-config.yaml
Due: none

ci(deploy): pin tj-actions/changed-files to a commit
  .github/workflows/deploy-project.yml
Due: none

feat(cli): say on the root screen which command opens a session
  cli/internal/cli/root.go
Due: none

chore(ci): regenerate the hooks and CI at toolchain stamp 34
  .github/workflows/validate.yml
  .golangci.yml
  .pre-commit-config.yaml
Due: none

ci: pin third-party actions to commits
  .github/workflows/release-cli.yml
  .github/workflows/reusable-retrieve-webserver-key-and-ip.yml
  .github/workflows/terraform-check.yml
Due: none

chore(ci): regenerate the hooks and CI at toolchain stamp 35
  .github/workflows/validate.yml
  .pre-commit-config.yaml
Due: none

refactor: import dataclasses as dc
  ichrisbirch/ai/assistants/anthropic.py
Due: pytest-affected, pytest-full

fix(cli): refuse a stray word typed with --help at every command group
  cli/go.mod
  cli/go.sum
  cli/internal/cli/root_test.go
Due: none

docs(cli): pass the access token to curl on stdin in auth token's example
  cli/README.md
  cli/internal/cli/auth.go
Due: validate-markdown-links

chore(deploy): keep one copy of the pre-container deploy, and say what it is
  deploy-containers/README.md
  deploy-containers/deploy-nginx.sh
  deploy-containers/deploy-redis.sh
  deploy-containers/deploy-supervisor.sh
  deploy-containers/dev/nginx/api.conf
  deploy-containers/dev/nginx/app.conf
  deploy-containers/dev/nginx/nginx.conf
  deploy-containers/dev/redis/redis.conf
  deploy-containers/dev/supervisor/api.conf
  deploy-containers/dev/supervisor/app.conf
  deploy-containers/dev/supervisor/scheduler.conf
  deploy-containers/dev/supervisor/supervisord.conf
  deploy-containers/prod/nginx/api.conf
  deploy-containers/prod/nginx/app.conf
  deploy-containers/prod/nginx/nginx.conf
  deploy-containers/prod/redis/redis.conf
  deploy-containers/prod/redis/redis_init_script
  deploy-containers/prod/supervisor/api.conf
  deploy-containers/prod/supervisor/app.conf
  deploy-containers/prod/supervisor/scheduler.conf
  deploy-containers/prod/supervisor/supervisord.conf
  deploy-metal/README.md
  docs/devops/index.md
  docs/devops/nginx.md
  docs/devops/supervisor.md
  docs/traefik-deployment.md
  scripts/new_server.sh
Due: validate-markdown-links

docs: drop the Route 53 page, since Cloudflare serves the domain's DNS
  docs/documentation.md
  docs/domain_names.md
  docs/index.md
  mkdocs.yml
Due: validate-markdown-links

test: delete a test utility that is commented out in full
  tests/utils/api_client.py
Due: generate-fixture-diagrams, pytest-affected, pytest-full

chore(ci): regenerate the hooks and CI at toolchain stamp 37
  .github/workflows/validate.yml
  .pre-commit-config.yaml
Due: none

chore(ci): take setup-terraform v4 in the terraform workflows
  .github/workflows/reusable-retrieve-webserver-key-and-ip.yml
  .github/workflows/terraform-check.yml
Due: none

chore(ruff): alias dataclasses as dc
  pyproject.toml
Due: none

test(compose): fail when a compose set builds under a public image name
  CLAUDE.md
  tests/compose-build-tags.bats
Due: validate-markdown-links

Path conditions:
  generate-fixture-diagrams: any of: (tests/conftest.py|tests/utils/.*|tools/docs/diagram_generator/.*\.py)$
  validate-html: any of: \.(html|htm|xhtml)$
  validate-markdown-links: any of: \.(md|markdown|mdown)$
  pytest-affected: any of: \.py$
  pytest-full: any of: \.py$
